<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#" class="header__logo">
        <img src="img/drive/logo-drive.svg" alt="logo-icon" class="header__logo-image">
      </a>
      <nav class="header__navigation js-drive-nav-links">
        <button class="header__button-navigation" data-anchor="about">О проекте</button>
        <button class="header__button-navigation" data-anchor="bags">Пакеты</button>
        <button class="header__button-navigation" data-anchor="mediametry">Медиаметрия</button>
        <button class="header__button-navigation" data-anchor="terms">Условия</button>
        <button class="header__button-navigation" data-anchor="mediums">Рекламные носители</button>
        <button class="header__button-navigation" data-anchor="advantages">Преимущества</button>
        <button class="header__button-navigation" data-anchor="reports">Отчетность</button>
        <button class="header__button-navigation" data-anchor="branding">Доп. услуги</button>
      </nav>
      <a href="tel:+78005513503" class="header__phone-link">8 (800) 551-35-03</a>
    </div>
  </div>
</header>