<footer class="footer">
  <div class="container">
    <div class="footer__overlay"></div>
    <div class="footer__content">
      <a href="/#" class="footer__button">Оставить заявку</a>
    </div>
  </div>
</footer>