<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#" class="header__logo">
        <img src="img/logo.svg" alt="" class="header__logo-image">
      </a>
      <nav class="header__navigation">
        <button class="header__button-navigation">О проекте</button>
        <button class="header__button-navigation">Пакеты</button>
        <button class="header__button-navigation">Медиаметрия</button>
        <button class="header__button-navigation">Условия</button>
        <button class="header__button-navigation">Рекламные носители</button>
        <button class="header__button-navigation">Преимущества</button>
        <button class="header__button-navigation">Отчетность</button>
        <button class="header__button-navigation">Доп. услуги</button>
      </nav>
    </div>
  </div>
</header>