<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__col">
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Главная
                    </a>
                    <a href="#" class="page-footer__link">
                        О компании
                    </a>
                    <a href="#" class="page-footer__link">
                        Карьера
                    </a>
                    <a href="#" class="page-footer__link">
                        Благотворительность
                    </a>
                </div>

                <div class="page-footer__copyright">
                    © 2021 Медиагруппа РИМ
                </div>
            </div>
            <div class="page-footer__col">
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Услуги и продукты
                    </a>
                    <a href="#" class="page-footer__link">
                        Акции
                    </a>
                    <a href="#" class="page-footer__link">
                        Инвентарь
                    </a>
                </div>

                <div class="page-footer__made-by">
                    Разработано <a href="#">brainstore.agency</a>
                </div>
            </div>
            <div class="page-footer__col">
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        География
                    </a>
                    <a href="#" class="page-footer__link">
                        Города присутствия
                    </a>
                    <a href="#" class="page-footer__link">
                        Карта сети
                    </a>
                </div>

                <div class="page-footer__made-by">
                    Поддержка <a href="#">westpower.ru</a>
                </div>
            </div>
            <div class="page-footer__col">
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Партнерам
                    </a>
                    <a href="#" class="page-footer__link">
                        Новости
                    </a>
                    <a href="#" class="page-footer__link">
                        Блог
                    </a>
                    <a href="#" class="page-footer__link">
                        Контакты
                    </a>

                </div>

                <a href="tel:+78003339637" class="page-footer__phone-link">8 (800) 333-96-37</a>

                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-vkontakte">
                                <use xlink:href="#vkontakte"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-headhunter">
                                <use xlink:href="#headhunter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>