<header class="page-header">
    <div class="page-header__top-row">
        <div class="container">
            <div class="page-header__top-links">
                <a href="#" class="page-header__top-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-map">
                        <use xlink:href="#map"></use>
                    </svg>
                    Карта сети
                </a>
                <a href="#" class="page-header__top-link page-header__top-link--location">
                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                        <use xlink:href="#location"></use>
                    </svg>
                    Республика Татарстан
                </a>
                <a href="tel:+78003339637" class="page-header__top-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-headphones">
                        <use xlink:href="#headphones"></use>
                    </svg>
                    8 800 333 96 37
                </a>
                <a href="tel:+78003339637" class="page-header__top-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-download">
                        <use xlink:href="#download"></use>
                    </svg>
                    Скачать презентацию
                </a>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

    </div>
    <div class="page-header__bottom-row">
        <div class="container">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="Лого" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">


                <nav class="page-header__nav">
                    <div class="page-header__nav-link page-header__nav-link--has-dropdown">
                        <div class="page-header__nav-link-inner">
                            О компании
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                <use xlink:href="#arrow-up"></use>
                            </svg>
                        </div>
                        <div class="page-header__nav-link-dropdown">
                            <div class="page-header__nav-link-dropdown-inner">
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 1
                                </a>
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 2
                                </a>
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 3
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-header__nav-link page-header__nav-link--has-dropdown">
                        <div class="page-header__nav-link-inner">
                            Услуги и инвентарь
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                <use xlink:href="#arrow-up"></use>
                            </svg>
                        </div>

                        <div class="page-header__nav-link-dropdown">
                            <div class="page-header__nav-link-dropdown-inner">
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 1
                                </a>
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 2
                                </a>
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 3
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="page-header__nav-link">
                        <div class="page-header__nav-link-inner">
                            География
                        </div>

                    </a>
                    <a href="#" class="page-header__nav-link">
                        <div class="page-header__nav-link-inner">
                            Партнерам
                        </div>
                    </a>
                    <div class="page-header__nav-link page-header__nav-link--has-dropdown">
                        <div class="page-header__nav-link-inner">
                            Новости
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                <use xlink:href="#arrow-up"></use>
                            </svg>
                        </div>

                        <div class="page-header__nav-link-dropdown">
                            <div class="page-header__nav-link-dropdown-inner">
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 1
                                </a>
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 2
                                </a>
                                <a href="#" class="page-header__nav-link-dropdown-link">
                                    Ссылка 3
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="page-header__nav-link">

                        <div class="page-header__nav-link-inner">
                            Контакты
                        </div>
                    </a>
                </nav>
                <a href="#contact-modal" class="page-header__contact-btn page-header__contact-btn--mobile js-open-modal">
                    Оставить заявку
                </a>
            </div>
            <a href="#contact-modal" class="page-header__contact-btn js-open-modal">
                Оставить заявку
            </a>
        </div>

    </div>
</header>