<footer class="new-main-footer">
    <div class="container">
        <div class="new-main-footer__content">
            <div class="new-main-footer__nav">
                <ul class="new-main-footer__nav-list">
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            Руководство
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            Новости и блог
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            География
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            Работа
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            Города присутствия
                        </a>
                    </li>
                    <li class="new-main-footer__nav-list-item">
                        <a href="#" class="new-main-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>

            </div>
            <div class="new-main-footer__wrapper">
                <ul class="new-main-footer__social-list">
                    <li class="new-main-footer__social-list-item">
                        <a href="#" class="new-main-footer__social-link">
                            <picture>
                                <source srcset="img/new-main/social/vk-mobile.svg" media="(max-width: 640px)" />
                                <img src="img/new-main/social/vk.svg" alt=""
                                    class="new-main-footer__social-link-icon" />
                            </picture>
                        </a>
                    </li>
                    <li class="new-main-footer__social-list-item">
                        <a href="#" class="new-main-footer__social-link">
                            <picture>
                                <source srcset="img/new-main/social/tg-mobile.svg" media="(max-width: 640px)" />
                                <img src="img/new-main/social/telegram.svg" alt=""
                                    class="new-main-footer__social-link-icon" />
                            </picture>
                        </a>
                    </li>
                    <li class="new-main-footer__social-list-item">
                        <a href="#" class="new-main-footer__social-link">

                            <picture>
                                <source srcset="img/new-main/social/hh-mobile.svg" media="(max-width: 640px)" />
                                <img src="img/new-main/social/hh.svg" alt=""
                                    class="new-main-footer__social-link-icon" />
                            </picture>
                        </a>
                    </li>
                </ul>
                <a href="tel:8 800 551-35-03" class="new-main-footer__phone">8 800 551-35-03</a>
                <div class="new-main-footer__copyright">
                    © 2024 Медиагруппа РИМ
                </div>
            </div>
        </div>
    </div>
</footer>