<footer class="footer">
  <div class="container">
    <img src="img/partner/footer/footer-icon.png" alt="icon" class="footer__icon">
    <div class="footer__content">
      <h2 class="footer__title">Вместе мы сильнее!</h2>
      <p class="footer__text">Становись частью партнерской сети!</p>
      <a href="/#" class="footer__button">Оставить заявку</a>

      <div class="footer__bottom">
        <nav class="footer__navigation">
          <a href="/#" target="_blank" class="footer__link">
              <img src="img/partner/footer/telegram.svg" alt="icon">
            </a>
            <a href="/#" target="_blank" class="footer__link">
                        <img src="img/partner/footer/hh.svg" alt="icon">
                      </a>
          <a href="/#" target="_blank" class="footer__link">
            <img src="img/partner/footer/vk.svg" alt="icon">
          </a>
        </nav>
        <p class="footer__author">© 2023 Медиагруппа РИМ</p>
      </div>
    </div>
  </div>
  <img src="img/partner/footer/footer-circle-icon.png" alt="icon" class="footer__circle-icon">
</footer>