<footer class="redtag-footer">
  <div class="redtag-footer__polygon"></div>
  <div class="container">
    <div class="redtag-footer__content">
      <div class="redtag-footer__upper">
        <h2 class="redtag-footer__title">Можем устроить!</h2>
        <p class="redtag-footer__text">Оставляйте заявку, мы свяжемся с вами в ближайшее время</p>
        <button class="redtag-footer__button">Оставить заявку</button>
      </div>
      <div class="redtag-footer__bottom">
        <div class="redtag-footer__logo-wrapper">
          <img src="img/redtag/redtag-logo.svg" alt="logo" class="redtag-footer__logo">
          <p>© 2015—2023 Правообладатель контента</p>
        </div>
        <nav class="redtag-footer__links">
          <a href="tel:" class="redtag-footer__link">8 800 333-09-24</a>
          <a href="mail:hello@red-tag.ru" class="redtag-footer__link">hello@red-tag.ru</a>
        </nav>
      </div>
    </div>
  </div>
</footer>