<header class="redtag-header">
  <div class="container">
    <div class="redtag-header__row">
      <a href="/#" class="redtag-header__logo">
        <img src="img/redtag/redtag-logo.svg" alt="logo" class="redtag-header__logo-icon">
      </a>
      <div class="redtag-header__navigation">
        <nav class="redtag-header__menu">
          <a href="/#" class="redtag-header__link">Карта</a>
          <a href="/#" class="redtag-header__link">Инвентарь</a>
          <a href="/#" class="redtag-header__link">Задачи</a>
          <a href="/#" class="redtag-header__link">Клиенты</a>
          <a href="/#" class="redtag-header__link">Исследования</a>
          <a href="/#" class="redtag-header__link">Подрядчики</a>
          <a href="/#" class="redtag-header__link">Кейсы</a>
          <a href="/#" class="redtag-header__link">Принципы работы</a>
          <a href="/#" class="redtag-header__link">Команда</a>
          <a href="/#" class="redtag-header__link">Контакты</a>
        </nav>
      <button class="redtag-header__button">Оставить заявку</button>
      </div>
    </div>
  </div>
</header>