<div class="telegram-popup">
    <div class="telegram-popup__blur">


        <svg width="138" height="242" viewBox="0 0 138 242" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_835_8189)">
                <ellipse cx="49" cy="101.5" rx="49" ry="101.5" transform="matrix(-1 0 0 1 117.876 19.6548)"
                    fill="url(#paint0_linear_835_8189)" />
            </g>
            <defs>
                <filter id="filter0_f_835_8189" x="0.676464" y="0.454784" width="136.4" height="241.4"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="9.6" result="effect1_foregroundBlur_835_8189" />
                </filter>
                <linearGradient id="paint0_linear_835_8189" x1="-28.2014" y1="101.5" x2="98" y2="101.5"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF5129" />
                    <stop offset="1" stop-color="#FF5129" stop-opacity="0" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <button class="telegram-popup__btn" type="button">
        <div class="telegram-popup__text">
            Мы в Telegram
        </div>
        <div class="telegram-popup__icon">
            <svg width="26" height="27" viewBox="0 0 26 27" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.1268 10.3797C19.264 10.1859 19.2983 9.93609 19.214 9.7134C19.1292 9.49072 18.939 9.32701 18.7085 9.27766C16.2505 8.75465 10.0292 7.48595 7.7933 7.00988C7.62478 6.97377 7.44964 7.03396 7.3371 7.16636C7.22455 7.29877 7.19205 7.48234 7.25284 7.64604C8.18691 10.1696 11.1029 17.9413 12.2783 21.1179C12.3529 21.3195 12.5467 21.4507 12.7592 21.4441C12.9722 21.4369 13.157 21.2936 13.219 21.0872C13.6451 19.6626 14.2379 17.7927 14.2379 17.7927C14.2379 17.7927 16.8771 16.9188 18.2192 16.4632C18.3877 16.406 18.5201 16.2742 18.5658 16.1003C18.611 15.9269 18.5634 15.7416 18.4413 15.6122C17.7503 14.8803 16.6821 13.7488 16.6821 13.7488C16.6821 13.7488 18.2583 11.599 19.1268 10.3797ZM13.9045 17.006L17.2376 15.9955L15.1269 15.771C15.1269 15.771 11.6054 11.8668 9.59825 9.64118C9.53927 9.57618 9.44057 9.56715 9.37136 9.62132C9.30214 9.67488 9.28589 9.77359 9.33284 9.84761C10.9801 12.4272 13.9045 17.006 13.9045 17.006Z" />

            </svg>
        </div>
    </button>
    <div class="telegram-popup__dropdown">
        <div class="telegram-popup__dropdown-inner">
            <button class="telegram-popup__close">
                <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                    <rect x="12.7285" width="1.5" height="18" transform="rotate(45 12.7285 0)" />
                    <rect y="1.06055" width="1.5" height="18" transform="rotate(-45 0 1.06055)" />
                </svg>
            </button>
            <h3 class="telegram-popup__inner-title">
                Мы в Telegram
            </h3>
            <div class="telegram-popup__inner-text">
                Эксклюзивные продукты, разборы кейсов, инсайты с конференций в онлайн-режиме и ценные советы от
                экспертов индустрии.
            </div>
            <a href="#" class="telegram-popup__subscribe">
                <span class="telegram-popup__subscribe-icon">
                    <svg width="21" height="22" viewBox="0 0 21 22" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.9074 15.9052C13.0626 16.0151 13.2626 16.0426 13.4409 15.9751C13.6192 15.9072 13.7503 15.7549 13.7898 15.5703C14.2086 13.6022 15.2244 8.62074 15.6056 6.83045C15.6345 6.69552 15.5863 6.55529 15.4803 6.46517C15.3743 6.37505 15.2273 6.34903 15.0962 6.3977C13.0756 7.14562 6.85274 9.48046 4.30924 10.4216C4.1478 10.4814 4.04274 10.6366 4.04804 10.8067C4.05383 10.9773 4.16852 11.1252 4.33381 11.1748C5.47449 11.516 6.97177 11.9907 6.97177 11.9907C6.97177 11.9907 7.6715 14.1039 8.0363 15.1785C8.08208 15.3135 8.18762 15.4195 8.32689 15.4561C8.46568 15.4922 8.61411 15.4542 8.71772 15.3563C9.30371 14.8031 10.2097 13.9477 10.2097 13.9477C10.2097 13.9477 11.9311 15.2098 12.9074 15.9052ZM7.60162 11.7237L8.41074 14.3925L8.59049 12.7025C8.59049 12.7025 11.7166 9.88285 13.4987 8.27569C13.5508 8.22846 13.558 8.14943 13.5146 8.09401C13.4717 8.03859 13.3927 8.02558 13.3334 8.06317C11.268 9.38215 7.60162 11.7237 7.60162 11.7237Z" />

                    </svg>
                </span>
                Подписаться
            </a>
        </div>
    </div>

</div>