.drive-map {
  width: 293rem;
  height: 315rem;
  position: absolute;
  background-image: url("../img/drive/drive-map.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: left;
  z-index: -1;
  opacity: .045;
}