.intro {
  &__overlay {
    width: 100%;
    height: 100vh;
    background-image: url("../../img/drive/intro/intro-overlay.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__content {
    min-height: calc(100vh - 71px);
    margin-top: 71px;
    display: flex;
    align-items: flex-end;

    padding-bottom: 15.8rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    row-gap: 7.1rem;
  }

  &__title {
    color: #FFF;
    font-family: "Uni Neue", sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    width: 100%;
    max-width: 64.8rem;
  }

  &__collab {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__clients {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    img {
      max-width: none;
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    p {
      color: #FFF;
      font-family: "Ubuntu", sans-serif;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;

    }
  }

  &__text {
    color: #FFF;
    font-family: "Uni Neue", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }

  &__button {
    border-radius: 70.9rem;
    background-color: #FF5129;

    transition: .4s ease box-shadow;
    width: 35rem;
    height: 5rem;

    color: #FFF;
    font-family: "Uni Neue", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;

    &:hover {
      -webkit-box-shadow: 0px 0px 35px 12px rgba(255,81,41,1);
      -moz-box-shadow: 0px 0px 35px 12px rgba(255,81,41,1);
      box-shadow: 0px 0px 35px 12px rgba(255,81,41,1);
    }
  }
}