.feedback {
  margin-top: 24.6rem;
  position: relative;

  .container {
    position: relative;
  }

  @include breakpoint(large-desktop) {
    margin-top: 17.5rem;
  }

  @include breakpoint(tablet) {
    padding-bottom: 15rem;
  }

  &__shape {
    position: absolute;
    width: 100%;
    max-width: 120rem;
    height: 100%;
    max-height: 60rem;
    left: -25rem;
    transform: rotate(-21.078deg);

    border-radius: 207rem;
    background: linear-gradient(170deg, #FF5129 9.5%, rgba(82, 41, 161, 0.06) 92.32%);
    filter: blur(50px);

    @include breakpoint(tablet) {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__title {
    font-family: "Uni Neue", sans-serif;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    color: white;
    margin-bottom: 7.5rem;
    width: 100%;

    @include breakpoint(large-desktop) {
      font-size: 4.6rem;
    }

    @include breakpoint(tablet) {
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 800;
      line-height: 110%;
      margin-bottom: 7.5rem;
      max-width: 28.3rem;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 5rem;
    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__small-icon {
    width: 21.3rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -10rem;
    right: 12.5rem;
    z-index: -1;

    @include breakpoint(tablet) {
      width: 13.3rem;
      top: -5rem;
      right: -5rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: flex-end;
    column-gap: 1rem;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 6rem;
      column-gap: 0;
    }

    @include breakpoint(mobile) {
      align-items: center;
    }
  }

  &__card {
    background-image:
            radial-gradient(circle at 100% 100%, transparent 14px, #d5b9fd 14px, #d5b9fd 1.7rem, transparent 1.7rem), linear-gradient(to right, #d5b9fd, #ffffff),
            radial-gradient(circle at 0% 100%, transparent 14px, #ffffff 14px, #ffffff 17px, transparent 1.7rem), linear-gradient(to bottom, #ffffff, #d5b9fd),
            radial-gradient(circle at 0% 0%, transparent 1.4rem, #d5b9fd 1.4rem, #d5b9fd 1.7rem, transparent 1.7rem), linear-gradient(to left, #d5b9fd, #ffffff),
            radial-gradient(circle at 100% 0%, transparent 1.4rem, #ffffff 1.4rem, #ffffff 17px, transparent 1.7rem),
            linear-gradient(to top, #ffffff, #d5b9fd);
    background-size: 1.7rem 1.7rem, calc(100% - 3.4rem) .3rem, 1.7rem 1.7rem, .3rem calc(100% - 3.4rem);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(8px);
    position: relative;
    padding: 3rem;
    border-radius: 1.8rem;

    &:nth-child(1) {
      height: 58rem;
    }

    &:nth-child(2) {
      height: 50rem;
    }

    &:nth-child(3) {
      height: 53.5rem;
    }

    @include breakpoint(tablet) {
      height: fit-content !important;
    }
  }

  &__portrait-wrapper {
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
    border: .25rem solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000616;
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 2;
    top: -4.5rem;
    left: 1rem;

    @include breakpoint(tablet) {
      width: 10rem;
      height: 10rem;
      left: 2rem;
      top: -3rem;
    }

    img {
      width: 10.5rem;
      height: 10.5rem;
      border-radius: 50%;
      object-fit: cover;

      @include breakpoint(tablet) {
        width: 8rem;
        height: 8rem;
      }
    }
  }

  &__upper-card {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
  }

  &__upper-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name-author {
    color: #FFF;
    font-family: "Uni Neue", sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
    }
  }

  &__role-author {
    color: #FFF;
    font-family: "Uni Neue", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    max-width: 18.7rem;

    @include breakpoint(tablet) {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      max-width: 16rem;
    }
  }

  &__text-author {
    color: white;

    font-family: "Uni Neue", sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }

  &__loop-line {
    bottom: 0;
    z-index: 1;

    width: 100%;
    position: absolute;
    background: #ff5129;
    display: inline-block;
    white-space: nowrap;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    padding: 1rem 0;

    @include breakpoint(tablet) {
      bottom: 0;
      padding: 1.5rem;
    }


    img {
      display: inline-block;
      padding: 0 2rem;
      max-width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
}