{{#extend "about-layout"}}
    {{#content "main"}}


        <section class="about-page-intro">
            <div class="about-page-intro__bg">
                <picture>
                    <source srcset="img/about-intro-image-mobile.webp" media="(max-width: 640px)" />
                    <img src="img/about-intro-image.webp" alt="" class="about-page-intro__bg-image" />
                </picture>
            </div>
            <div class="container">
                <div class="about-page-intro__content">
                    <div class="about-page-intro__text-content">
                        <div class="about-page-intro__breadcrumbs">
                            <a href="#">Медиагруппа «РИМ»</a> <a href="#">О нас</a>
                        </div>
                        <h1 class="about-page-intro__heading">
                            Медиагруппа «РИМ» — это крупнейший медиахолдинг и второй оператор наружной рекламы в России
                        </h1>
                        <div class="about-page-intro__text">
                            Мы закупаем инвентарь и размещаем рекламу на outdoor- и indoor-поверхностях по всей стране
                        </div>
                    </div>

                    <a href="#presence" class="about-page-intro__scroll-down">
                        <svg width="41" height="41" viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M19.7931 27.6295V10.9568H21.2069V27.6295L24.4988 24.3376C24.7749 24.0615 25.2224 24.0615 25.4985 24.3376C25.7746 24.6136 25.7746 25.0612 25.4985 25.3373L20.9998 29.8359C20.7238 30.112 20.2762 30.112 20.0001 29.8359L15.5015 25.3373C15.2254 25.0612 15.2254 24.6136 15.5015 24.3376C15.7775 24.0615 16.2251 24.0615 16.5012 24.3376L19.7931 27.6295Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <section class="about-presence" id="presence">
            <picture>
                <source srcset="img/presence-mobile-blur.avif" media="(max-width: 640px)" type="image/avif" />
                <source srcset="img/presence-mobile-blur.webp" media="(max-width: 640px)" type="image/webp" />
                <source srcset="img/presence-blur.avif" type="image/avif">
                <img src="img/presence-blur.webp" alt="Description" class="about-presence__main-blur" loading="lazy">
            </picture>
            <div class="container">
                <div class="about-presence__content">
                    <picture>
                        <source srcset="img/presence-map.avif" type="image/avif">
                        <img src="img/presence-map.webp" alt="Description" class="about-presence__map" loading="lazy">
                    </picture>

                    <h2 class="about-presence__heading">
                        География присутствия
                    </h2>
                    <ul class="about-presence__list">
                        <li class="about-presence__list-item">
                            <div class="about-presence__card">
                                <div class="about-presence__card-number">
                                    136
                                </div>
                                <div class="about-presence__card-title">
                                    городов
                                </div>
                            </div>
                        </li>
                        <li class="about-presence__list-item">
                            <div class="about-presence__card">
                                <div class="about-presence__card-number">
                                    42
                                </div>
                                <div class="about-presence__card-title">
                                    региона
                                </div>
                            </div>
                        </li>
                        <li class="about-presence__list-item">
                            <div class="about-presence__card">
                                <div class="about-presence__card-number">
                                    29 345
                                </div>
                                <div class="about-presence__card-title">
                                    рекламных поверхностей
                                </div>
                            </div>
                        </li>
                        <li class="about-presence__list-item">
                            <div class="about-presence__card">
                                <div class="about-presence__card-number">
                                    28,7 млн
                                </div>
                                <div class="about-presence__card-title">
                                    охват населения городов
                                </div>
                            </div>
                        </li>
                        <li class="about-presence__list-item">
                            <div class="about-presence__card">
                                <div class="about-presence__card-number">
                                    504 481 500
                                </div>
                                <div class="about-presence__card-title">
                                    суммарный OTS в день
                                </div>
                            </div>
                        </li>

                        <li class="about-presence__list-item">
                            <div class="about-presence__card">
                                <div class="about-presence__card-number">
                                    9 288
                                </div>
                                <div class="about-presence__card-title">
                                    рекламных поверхностей на digital-конструкциях
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="about-business">
            <picture>
                <source srcset="img/planet-blur-mobile.avif" media="(max-width: 640px)" type="image/avif" />
                <source srcset="img/planet-blur-mobile.webp" media="(max-width: 640px)" type="image/webp" />
                <source srcset="img/planet-blur.avif" type="image/avif">
                <img src="img/planet-blur.webp" alt="Description" class="about-business__planet-blur" loading="lazy">
            </picture>
            <div class="container">
                <div class="about-business__content">
                    <picture>

                        <source srcset="img/about-donut.avif" type="image/avif">
                        <img src="img/about-donut.webp" alt="Description" class="about-business__donut" loading="lazy">
                    </picture>

                    <h2 class="about-business__heading">
                        Мы гораздо больше, чем операторский бизнес
                    </h2>
                    <ul class="about-business__cards-list">
                        <li class="about-business__cards-list-item">
                            <div class="about-business__card">
                                Еще мы создаем рекламные кампании, делаем брендинг, разрабатываем маркетинговые
                                стратегии и запускаем интернет-рекламу.
                            </div>
                        </li>
                        <li class="about-business__cards-list-item">
                            <div class="about-business__card">
                                В нашем медиахолдинге 10 компаний, с помощью которых мы предоставляем полный спектр
                                услуг
                                в области рекламы
                            </div>
                        </li>
                    </ul>
                    <div class="about-business__learn-more">
                        <img src="img/about-arrow.webp" alt="" class="about-business__learn-more-arrow">
                        <div class="about-business__learn-more-text">
                            *Чтобы узнать подробнее нажми на логотип
                        </div>
                    </div>
                    <div class="about-business__planet">
                        <picture>
                            <source srcset="img/about-planet.avif" type="image/avif">
                            <img src="img/about-planet.webp" alt="Description" class="about-business__planet-image"
                                loading="lazy">
                        </picture>
                        <div class="about-business__planet-items">
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/rim-billboard.svg" alt=""
                                    class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Оператор<br>outdoor-рекламы
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/rim-indoor.svg" alt=""
                                    class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Оператор<br>indoor-рекламы
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/rim-media.svg" alt=""
                                    class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Медиабаинговое<br> агентство
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/ekranium.svg" alt=""
                                    class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Производство и установка<br> светодиодных экранов
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/mediastore.svg" alt=""
                                    class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Агентство планирования<br> и стратегий
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/prodigital.svg" alt=""
                                    class="about-business__planet-item-logo about-business__planet-item-logo--small">
                                <div class="about-business__planet-item-text">
                                    Платформа автоматизированной<br>
                                    закупки наружной рекламы
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/brain-store.svg" alt=""
                                    class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Креативное агентство
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/bs.svg" alt=""
                                    class="about-business__planet-item-logo about-business__planet-item-logo--small">
                                <div class="about-business__planet-item-text">
                                    Агентство интернет-<br>маркетинга
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <div class="about-business__planet-item-title">
                                    Федеральная<br> партнерская сеть
                                </div>
                                <div class="about-business__planet-item-text">
                                    Отдел по привлечению партнеров,<br> собственников рекламных<br> конструкций по всей
                                    России
                                </div>
                            </a>
                            <a href="#" class="about-business__planet-item">
                                <img src="img/planet-items/red-tag.svg" alt="" class="about-business__planet-item-logo">
                                <div class="about-business__planet-item-text">
                                    Баинговое агентство
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-philosophy">
            <img src="img/about-halfcircle.webp" alt="" class="about-philosophy__halfcircle">
            <div class="about-philosophy__bg">
                <picture>
                    <source srcset="img/about-philosophy-mobile.webp" media="(max-width: 640px)" type="image/webp" />
                    <img src="img/about-philosophy.webp" alt="Description" class="about-philosophy__bg-image"
                        loading="lazy">
                </picture>
            </div>


            <div class="container">
                <div class="about-philosophy__content">
                    <div class="about-philosophy__card">
                        <h2 class="about-philosophy__card-heading">
                            Философия
                        </h2>
                        <div class="about-philosophy__card-text">
                            <p>
                                Мы, как ведущий игрок на рынке наружной рекламы, активно развиваем технологии в
                                медиаиндустриии предлагаем инновационные подходы.
                            </p>
                            <p>
                                В медиагруппе «РИМ» мы объединяем всех участников рынка, чтобы развивать отрасль и
                                предоставлять рекламодателям максимально удобный и качественный сервис.
                            </p>
                            <p>
                                <b>
                                    Наша цель — создать единый рекламный центри с наибольшей эффективностью помогать
                                    клиентам со всех уголков страны решать их бизнес-задачи.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-history">
            <picture>
                <source srcset="img/about-slider-blur-mobile.webp" media="(max-width: 640px)" type="image/webp" />
                <img src="img/about-slider-blur.webp" alt="Description" class="about-history__blur" loading="lazy">
            </picture>
            <div class="container">
                <div class="about-history__content">
                    <div class="about-history__top-row">
                        <h2 class="about-history__heading">
                            Наш путь самурая 👹
                        </h2>
                        <div class="about-history__arrows">
                            <button class="about-history__arrow about-history__arrow--prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M27.0221 12.4688C26.3113 11.6564 25.0765 11.5741 24.2641 12.2849L12.1588 22.8771L24.2641 33.4692C25.0765 34.18 26.3113 34.0977 27.0221 33.2853C27.733 32.473 27.6507 31.2382 26.8383 30.5273L18.0951 22.8771L26.8383 15.2268C27.6507 14.516 27.733 13.2811 27.0221 12.4688Z" />
                                </svg>
                            </button>
                            <button class="about-history__arrow about-history__arrow--next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.7715 11.7432C17.4823 10.9309 18.7171 10.8485 19.5295 11.5594L31.6348 22.1515L19.5295 32.7437C18.7171 33.4545 17.4823 33.3722 16.7715 32.5598C16.0606 31.7474 16.143 30.5126 16.9553 29.8018L25.6985 22.1515L16.9553 14.5013C16.143 13.7904 16.0606 12.5556 16.7715 11.7432Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="about-history__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="about-history__slider-card">
                                        <div class="about-history__slider-card-image-wrapper">
                                            <img src="img/about-history/1.webp" alt=""
                                                class="about-history__slider-card-image">
                                        </div>
                                        <div class="about-history__slider-card-content">
                                            <div class="about-history__slider-card-year">
                                                2013
                                            </div>
                                            <div class="about-history__slider-card-text">
                                                Мы приняли стратегическое решение — компания «РИМ» выделяется из состава
                                                ITL Group и становится самостоятельным медиабаинговым агентством
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-history__slider-card">
                                        <div class="about-history__slider-card-image-wrapper">
                                            <img src="img/about-history/2.webp" alt=""
                                                class="about-history__slider-card-image">
                                        </div>
                                        <div class="about-history__slider-card-content">
                                            <div class="about-history__slider-card-year">
                                                2014
                                            </div>
                                            <div class="about-history__slider-card-text">
                                                Появился оператор наружной рекламы «РИМ Billboard». Мы собрали сильную
                                                команду и открыли два параллельных направления,тем самым заложив
                                                фундамент для будущего расширения компании
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-history__slider-card">
                                        <div class="about-history__slider-card-image-wrapper">
                                            <img src="img/about-history/3.webp" alt=""
                                                class="about-history__slider-card-image">
                                        </div>
                                        <div class="about-history__slider-card-content">
                                            <div class="about-history__slider-card-year">
                                                2015
                                            </div>
                                            <div class="about-history__slider-card-text">
                                                Собственная сеть выросла: появляются конструкции в Мамадыше и
                                                Лениногорске
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-history__slider-card">
                                        <div class="about-history__slider-card-image-wrapper">
                                            <img src="img/about-history/4.webp" alt=""
                                                class="about-history__slider-card-image">
                                        </div>
                                        <div class="about-history__slider-card-content">
                                            <div class="about-history__slider-card-year">
                                                2016
                                            </div>
                                            <div class="about-history__slider-card-text">
                                                Мы выходим за пределы одного региона: конструкции сети появились в
                                                городе Отрадный. Кроме того, сеть открывается в Зеленодольске, Арске,
                                                Заинске и Агрызе. У компании появляется баинг OOH-конструкций за
                                                пределами Татарстана
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-history__slider-card">
                                        <div class="about-history__slider-card-image-wrapper">
                                            <img src="img/about-history/5.webp" alt=""
                                                class="about-history__slider-card-image">
                                        </div>
                                        <div class="about-history__slider-card-content">
                                            <div class="about-history__slider-card-year">
                                                2017
                                            </div>
                                            <div class="about-history__slider-card-text">
                                                Конструкции сети появились в более крупных городах: к нам присоединяются
                                                Набережные Челны, Мензелинск и Йошкар-Ола
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-history__final-card">
                                        <div class="about-history__final-card-content">
                                            <div class="about-history__final-card-now">
                                                СЕЙЧАС
                                            </div>
                                            <div class="about-history__final-card-text">
                                                Сейчас медиагруппа «РИМ» размещает рекламу в 136 городах России, а в
                                                партнерской сети уже более 90 операторов наружной рекламы
                                            </div>
                                        </div>
                                        <div class="about-history__final-card-image-wrapper">
                                            <img src="img/about-history/final-card.webp" alt=""
                                                class="about-history__final-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="about-team">
            <picture>
                <source srcset="img/team-mobile-blur.avif" media="(max-width: 640px)" type="image/avif" />
                <source srcset="img/team-mobile.webp" media="(max-width: 640px)" type="image/webp" />
                <source srcset="img/team-blur.avif" type="image/avif">
                <img src="img/team-blur.webp" alt="Description" class="about-team__blur" loading="lazy">
            </picture>
            <div class="container">
                <div class="about-team__content">
                    <h2 class="about-team__heading">
                        Команда «РИМ»
                    </h2>
                    <div class="about-team__text">
                        Мы привлекаем в команду лучших специалистов и талантов из медиасферы России. Сейчас в штате
                        более 300 человек, и с каждым днем нас становится все больше
                    </div>
                    <div class="about-team__list-wrapper">
                        <ul class="about-team__list">
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/1.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Илья Фомин
                                    </h3>
                                    <div class="about-team__card-role">
                                        СЕО медиагруппы
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/2.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Эльмира Капитанова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Исполнительный директор 
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/3.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Игорь Бандорин
                                    </h3>
                                    <div class="about-team__card-role">
                                        Исполнительный директор собственной сети
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/4.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Никита Мосеев
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор по федеральным продажам
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/6.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Игорь Бажан
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор по маркетингу
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/5.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Тимур Марданов
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор партнерской сети
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team/7.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Олеся Попова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Баинг-директор
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="about-team__join">
                            <a href="#" class="about-team__join-link">
                                Хочу в команду!
                            </a>
                            <div class="about-team__join-text">
                                Мы гордимся своей командой и постоянно работаем над
                                повышением квалификации сотрудников. Оставляй заявку, если тоже хочешь быть частью
                                «РИМа»!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script type="module">
            import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';


            const historySlider = document.querySelector('.about-history');

            if (historySlider) {
                const container = historySlider.querySelector('.swiper');

                new Swiper(container, {
                    slidesPerView: 'auto',
                    speed: 600,
                    navigation: {
                        nextEl: historySlider.querySelector('.about-history__arrow--next'),
                        prevEl: historySlider.querySelector('.about-history__arrow--prev')
                    },
                })

            }
        </script>



    {{/content}}
{{/extend}}