{{#extend "new-main"}}
    {{#content "main"}}

        <section class="chelyaba-intro">
            <picture>
                <source srcset="img/chelyaba/intro-mobile.webp" media="(max-width: 640px)" />
                <img src="img/chelyaba/intro.webp" alt="MDN" class="chelyaba-intro__image" />
            </picture>
            <div class="container">
                <div class="chelyaba-intro__content">
                    <div class="chelyaba-intro__text-content">
                        <h1 class="chelyaba-intro__heading">
                            Наружная реклама<br>
                            <b>в Челябинской области</b>
                        </h1>
                        <div class="chelyaba-intro__text">
                            Для мощных уральских охватов и новых клиентов.
                        </div>
                        <a href="#" class="chelyaba-intro__link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="chelyaba-clients">
            <picture>
                <source srcset="img/chelyaba/clients-mobile.webp" media="(max-width: 640px)" />
                <img src="img/chelyaba/clients.webp" alt="MDN" class="chelyaba-clients__image" />
            </picture>
            <div class="container">
                <div class="chelyaba-clients__content">
                    <div class="chelyaba-clients__wrapper">


                        <picture>
                            <source srcset="img/chelyaba/top-arrow-mobile.svg" media="(max-width: 640px)" />
                            <img src="img/chelyaba/top-arrow.svg" alt="MDN" class="chelyaba-clients__top-arrow" />
                        </picture>
                        <h2 class="chelyaba-clients__heading">
                            Привлекайте<br> клиентов<br> <b>по&nbsp;всей области</b>
                        </h2>
                        <picture>
                            <source srcset="img/chelyaba/bottom-arrow-mobile.svg" media="(max-width: 640px)" />
                            <img src="img/chelyaba/bottom-arrow.svg" alt="MDN" class="chelyaba-clients__bottom-arrow" />
                        </picture>

                    </div>
                </div>
            </div>
        </section>
        <section class="chelyaba-numbers">
            <picture>
                <source srcset="img/chelyaba/numbers-blur-mobile.svg" media="(max-width: 640px)" />
                <img src="img/chelyaba/numbers-blur.svg" alt="MDN" class="chelyaba-numbers__blur" />
            </picture>
            <div class="container">
                <div class="chelyaba-numbers__content">
                    <div class="chelyaba-numbers__inner">
                        <h2 class="chelyaba-numbers__heading">
                            Широкий выбор конструкций для продвижения вашего бизнеса
                        </h2>
                        <div class="chelyaba-numbers__map">

                        </div>
                        <div class="chelyaba-numbers__row">
                            <div class="chelyaba-numbers__types">
                                <div class="chelyaba-numbers__types-card">
                                    <div class="chelyaba-numbers__types-card-amount">
                                        6 975
                                    </div>
                                    <div class="chelyaba-numbers__types-card-text">
                                        рекламных поверхностей
                                    </div>
                                </div>
                                <div class="chelyaba-numbers__types-card">
                                    <div class="chelyaba-numbers__types-card-amount">
                                        3 126
                                    </div>
                                    <div class="chelyaba-numbers__types-card-text">
                                        digital-поверхностей
                                    </div>
                                </div>
                            </div>
                            <div class="chelyaba-numbers__formats">
                                <div class="chelyaba-numbers__formats-card">
                                    <img src="img/chelyaba/numbers/1.svg" alt=""
                                        class="chelyaba-numbers__formats-card-icon">
                                    <div class="chelyaba-numbers__formats-card-content">
                                        <div class="chelyaba-numbers__formats-card-amount">
                                            1 552
                                        </div>
                                        <div class="chelyaba-numbers__formats-card-text">
                                            билборда
                                        </div>
                                    </div>
                                </div>
                                <div class="chelyaba-numbers__formats-card">
                                    <img src="img/chelyaba/numbers/2.svg" alt=""
                                        class="chelyaba-numbers__formats-card-icon">
                                    <div class="chelyaba-numbers__formats-card-content">
                                        <div class="chelyaba-numbers__formats-card-amount">
                                            38
                                        </div>
                                        <div class="chelyaba-numbers__formats-card-text">
                                            ситибордов
                                        </div>
                                    </div>
                                </div>
                                <div class="chelyaba-numbers__formats-card">
                                    <img src="img/chelyaba/numbers/3.svg" alt=""
                                        class="chelyaba-numbers__formats-card-icon">
                                    <div class="chelyaba-numbers__formats-card-content">
                                        <div class="chelyaba-numbers__formats-card-amount">
                                            201
                                        </div>
                                        <div class="chelyaba-numbers__formats-card-text">
                                            ситиформат
                                        </div>
                                    </div>
                                </div>
                                <div class="chelyaba-numbers__formats-card">
                                    <img src="img/chelyaba/numbers/4.svg" alt=""
                                        class="chelyaba-numbers__formats-card-icon">
                                    <div class="chelyaba-numbers__formats-card-content">
                                        <div class="chelyaba-numbers__formats-card-amount">
                                            35
                                        </div>
                                        <div class="chelyaba-numbers__formats-card-text">
                                            суперсайтов
                                        </div>
                                    </div>
                                </div>
                                <div class="chelyaba-numbers__formats-card">
                                    <img src="img/chelyaba/numbers/5.svg" alt=""
                                        class="chelyaba-numbers__formats-card-icon">
                                    <div class="chelyaba-numbers__formats-card-content">
                                        <div class="chelyaba-numbers__formats-card-amount">
                                            20
                                        </div>
                                        <div class="chelyaba-numbers__formats-card-text">
                                            пилларов
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="chelyaba-formats">
            <picture>
                <source srcset="img/chelyaba/formats-blur-mobile.svg" media="(max-width: 640px)" />
                <img src="img/chelyaba/formats-blur.svg" alt="MDN" class="chelyaba-formats__blur" />
            </picture>
            <div class="container">
                <div class="chelyaba-formats__content">
                    <h2 class="chelyaba-formats__heading">
                        У каждого формата — свои преимущества
                    </h2>
                    <ul class="chelyaba-formats__list">
                        <li class="chelyaba-formats__list-item">
                            <div class="chelyaba-formats__card">
                                <div class="chelyaba-formats__card-image-container">
                                    <img src="img/chelyaba/formats/1.webp" alt="" class="chelyaba-formats__card-image">
                                </div>
                                <div class="chelyaba-formats__card-content">
                                    <h3 class="chelyaba-formats__card-title">
                                        Билборд
                                    </h3>
                                    <div class="chelyaba-formats__card-text">
                                        Для охвата широкой аудитории на ключевых дорогах города.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chelyaba-formats__list-item">
                            <div class="chelyaba-formats__card">
                                <div class="chelyaba-formats__card-image-container">
                                    <img src="img/chelyaba/formats/2.webp" alt="" class="chelyaba-formats__card-image">
                                </div>
                                <div class="chelyaba-formats__card-content">
                                    <h3 class="chelyaba-formats__card-title">
                                        Digital-экран
                                    </h3>
                                    <div class="chelyaba-formats__card-text">
                                        Для динамичных
                                        и ярких сообщений, которые не останутся незамеченными.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chelyaba-formats__list-item">
                            <div class="chelyaba-formats__card">
                                <div class="chelyaba-formats__card-image-container">
                                    <img src="img/chelyaba/formats/3.webp" alt="" class="chelyaba-formats__card-image">
                                </div>
                                <div class="chelyaba-formats__card-content">
                                    <h3 class="chelyaba-formats__card-title">
                                        Суперсайт
                                    </h3>
                                    <div class="chelyaba-formats__card-text">
                                        Для масштабных кампаний и максимальных охватов.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chelyaba-formats__list-item">
                            <div class="chelyaba-formats__card">
                                <div class="chelyaba-formats__card-image-container">
                                    <img src="img/chelyaba/formats/4.webp" alt="" class="chelyaba-formats__card-image">
                                </div>
                                <div class="chelyaba-formats__card-content">
                                    <h3 class="chelyaba-formats__card-title">
                                        Ситиформат
                                    </h3>
                                    <div class="chelyaba-formats__card-text">
                                        Для локальных
                                        рекламных кампаний, ориентированных
                                        на пешеходов.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chelyaba-formats__list-item">
                            <div class="chelyaba-formats__card">
                                <div class="chelyaba-formats__card-image-container">
                                    <img src="img/chelyaba/formats/5.webp" alt="" class="chelyaba-formats__card-image">
                                </div>
                                <div class="chelyaba-formats__card-content">
                                    <h3 class="chelyaba-formats__card-title">
                                        Ситиборд
                                    </h3>
                                    <div class="chelyaba-formats__card-text">
                                        Для рекламы в центральных районах и пешеходных зонах.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="chelyaba-magnet">
            <img src="img/chelyaba/magnet-blur.svg" alt="" class="chelyaba-magnet__blur">
            <div class="container">
                <div class="chelyaba-magnet__content">
                    <h2 class="chelyaba-magnet__heading">
                        Притягиваем клиентов, <b>как магнит</b>
                    </h2>
                    <div class="chelyaba-magnet__text">
                        Оставьте заявку, и мы свяжемся с вами в ближайшее время, чтобы предложить адресную программу с
                        учетом вашего рекламного бюджета.
                    </div>
                    <form action="/" method="POST" class="chelyaba-magnet__form" data-need-validation="">
                        <div class="chelyaba-magnet__form-fields">
                            <div class="chelyaba-magnet__form-field" id="magnet-name">
                                <label class="chelyaba-magnet__form-label">
                                    <input type="text" class="chelyaba-magnet__form-input" name="name" placeholder="Имя"
                                        required="" data-parsley-errors-container="#magnet-name">
                                    <span class="chelyaba-magnet__form-field-border">

                                    </span>
                                </label>

                            </div>
                            <div class="chelyaba-magnet__form-field" id="magnet-phone">
                                <label class="chelyaba-magnet__form-label">
                                    <input type="tel" class="chelyaba-magnet__form-input js-phone-input" name="phone"
                                        placeholder="+7 999 999-99-99" data-parsley-phone="" required=""
                                        data-parsley-errors-container="#magnet-phone">
                                    <span class="chelyaba-magnet__form-field-border">

                                    </span>
                                </label>
                            </div>
                            <div class="chelyaba-magnet__form-field" id="magnet-email">
                                <label class="chelyaba-magnet__form-label">
                                    <input type="email" class="chelyaba-magnet__form-input js-phone-input" name="email"
                                        placeholder="E-mail" data-parsley-email="" required=""
                                        data-parsley-errors-container="#magnet-email">
                                    <span class="chelyaba-magnet__form-field-border">

                                    </span>
                                </label>
                            </div>
                        </div>
                        <button class="chelyaba-magnet__form-submit" type="submit">
                            Оставить заявку
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <section class="samara-geography">


            <div class="container">
                <div class="samara-geography__content">
                    <h2 class="samara-geography__heading" style="text-align: center;">
                        Один оператор — охват всей России
                    </h2>
                    <div class="samara-geography__map-wrapper">


                        <picture>
                            <source srcset="img/samara/geography-mobile.webp" media="(max-width: 640px)" />
                            <img src="img/samara/geography.webp" alt="MDN" class="samara-geography__map" />
                        </picture>
                    </div>
                    <div class="samara-geography__numbers">
                        <div class="samara-geography__numbers-content">


                            <div class="samara-geography__numbers-total">
                                <div class="samara-geography__total-amount">
                                    36 268
                                </div>
                                <div class="samara-geography__total-text">
                                    рекламных поверхностей
                                </div>
                            </div>
                            <ul class="samara-geography__numbers-list">
                                <li class="samara-geography__numbers-list-item">
                                    <div class="samara-geography__numbers-card">
                                        <div class="samara-geography__numbers-card-amount">
                                            66,3 млн
                                        </div>
                                        <div class="samara-geography__numbers-card-text">
                                            охват населения, чел.
                                        </div>
                                    </div>
                                </li>
                                <li class="samara-geography__numbers-list-item">
                                    <div class="samara-geography__numbers-card">
                                        <div class="samara-geography__numbers-card-amount">
                                            45
                                        </div>
                                        <div class="samara-geography__numbers-card-text">
                                            регионов
                                        </div>
                                    </div>
                                </li>
                                <li class="samara-geography__numbers-list-item">
                                    <div class="samara-geography__numbers-card">
                                        <div class="samara-geography__numbers-card-amount">
                                            177
                                        </div>
                                        <div class="samara-geography__numbers-card-text">
                                            городов
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="samara-geography__legend">
                        <div class="samara-geography__legend-card">
                            <div class="samara-geography__legend-card-circle">

                            </div>
                            <div class="samara-geography__legend-card-text">
                                Количество рекламных<br>
                                поверхностей
                            </div>
                        </div>
                        <div class="samara-geography__legend-card">
                            <div
                                class="samara-geography__legend-card-circle samara-geography__legend-card-circle--blue">

                            </div>
                            <div class="samara-geography__legend-card-text">
                                Доля рынка
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="samara-features samara-features--chelyaba">
            <div class="container">
                <div class="samara-features__content">
                    <h2 class="samara-features__heading">
                        Предоставляем полный цикл услуг для запуска рекламы
                    </h2>
                    <div class="samara-features__cards-wrapper">
                        <picture>
                            <source srcset="img/samara/features-blur-mobile.svg" media="(max-width: 640px)" />
                            <img src="img/samara/features-blur.svg" alt="MDN" class="samara-features__cards-blur" />
                        </picture>
                        <div class="samara-features__cards">
                            <div class="samara-features__card">
                                <img src="img/samara/features/1.svg" alt="" class="samara-features__card-icon">
                                <h3 class="samara-features__card-title">
                                    Индивидуальная адресная программа
                                </h3>
                                <div class="samara-features__card-text">
                                    Подберем рекламные конструкции с учетом вашего бюджета в точках с высоким трафиком.
                                </div>
                            </div>
                            <div class="samara-features__card">
                                <img src="img/samara/features/2.svg" alt="" class="samara-features__card-icon">
                                <h3 class="samara-features__card-title">
                                    Разработка концепции
                                </h3>
                                <div class="samara-features__card-text">
                                    Придумаем креативные слоганы, которые будут привлекать внимание вашей целевой
                                    аудитории.
                                </div>
                            </div>
                            <div class="samara-features__card">
                                <img src="img/samara/features/3.svg" alt="" class="samara-features__card-icon">
                                <h3 class="samara-features__card-title">
                                    Дизайн и производство макетов
                                </h3>
                                <div class="samara-features__card-text">
                                    Подготовим яркие и качественные макеты.
                                </div>
                            </div>
                            <div class="samara-features__card">
                                <img src="img/samara/features/4.svg" alt="" class="samara-features__card-icon">
                                <h3 class="samara-features__card-title">
                                    Юридическая проверка
                                </h3>
                                <div class="samara-features__card-text">
                                    Возьмем на себя все юридические вопросы
                                    и проверим рекламные материалы
                                    на соответствие законам.
                                </div>
                            </div>
                            <div class="samara-features__card">
                                <img src="img/samara/features/5.svg" alt="" class="samara-features__card-icon">
                                <h3 class="samara-features__card-title">
                                    Фотоотчет и контроль качества
                                </h3>
                                <div class="samara-features__card-text">
                                    Предоставим фотоотчеты ваших<br>
                                    размещений на конструкциях.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}
{{/extend}}