{{#extend "chiyo"}}
    {{#content "main"}}
    
    <section class="chiyo-intro">
        <div class="chiyo-intro__overlay"></div>
        <div class="chiyo-intro__shape-orange"></div>
        <div class="chiyo-intro__shape-blue"></div>
        <div class="container">
            <div class="chiyo-intro__upper">
                <h1 class="chiyo-intro__title">
                    Реклама на экранах в&nbsp;салонах &laquo;Чио Чио&raquo; по&nbsp;всей России
                </h1>
                <div class="chiyo-intro__images-mobile">
                    <img src="img/chiyo/intro-one.png" alt="icon">
                    <img src="img/chiyo/intro-two.png" alt="icon">
                    <img src="img/chiyo/intro-three.png" alt="icon">
                    <img src="img/chiyo/intro-four.png" alt="icon">
                    <img src="img/chiyo/intro-five.png" alt="icon">
                </div>
                <div class="chiyo-intro__column">
                    <div class="chiyo-intro__logos">
                        <svg width="55" height="34" aria-hidden="true">
                            <use xlink:href="#logo"></use>
                        </svg>
                        <svg width="15" height="15" aria-hidden="true">
                            <use xlink:href="#x"></use>
                        </svg>
                        <svg width="65" height="43" aria-hidden="true">
                            <use xlink:href="#chiyo-logo"></use>
                        </svg>
                    </div>
                    <p class="chiyo-intro__text">
                        Официальный селлер&nbsp;&mdash; медиагруппа &laquo;РИМ&raquo;, второй оператор наружной рекламы в&nbsp;РФ и&nbsp;крупнейший региональный медиахолдинг
                    </p>
                    <div class="chiyo-intro__bottom">
                        <a href="#" class="chiyo-intro__button">
                            Оставить заявку
                        </a>
                        <nav class="chiyo-intro__nav">
                            <a href="#" class="chiyo-intro__link" target="_blank">
                                <svg width="36" height="36" aria-hidden="true">
                                    <use xlink:href="#tg-white"></use>
                                </svg>
                            </a>
                            <a href="#" class="chiyo-intro__link" target="_blank">
                                <svg width="36" height="36" aria-hidden="true">
                                    <use xlink:href="#vk-white"></use>
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="chiyo-intro__images">
                <img src="img/chiyo/intro-one.png" alt="icon">
                <img src="img/chiyo/intro-two.png" alt="icon">
                <img src="img/chiyo/intro-three.png" alt="icon">
                <img src="img/chiyo/intro-four.png" alt="icon">
                <img src="img/chiyo/intro-five.png" alt="icon">
            </div>
            <a href="#" class="chiyo-intro__button-mobile">
                Оставить заявку
            </a>
            <a href="#" class="chiyo-intro__file">
                Скачать презентацию
            </a>
            <div class="chiyo-intro__bottom-mobile">
                <nav class="chiyo-intro__nav">
                    <a href="#" class="chiyo-intro__link" target="_blank">
                        <svg width="36" height="36" aria-hidden="true">
                            <use xlink:href="#tg-white"></use>
                        </svg>
                    </a>
                    <a href="#" class="chiyo-intro__link" target="_blank">
                        <svg width="36" height="36" aria-hidden="true">
                            <use xlink:href="#vk-white"></use>
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="about__shape"></div>
        <div class="container">
            <div class="about__orange-shape"></div>
            <div class="about__column">
                <div class="about__upper">
                    <h2 class="about__title">
                        О проекте
                    </h2>
                    <p class="about__text">
                        Ваша реклама транслируется в&nbsp;салонах &laquo;Чио Чио&raquo; на&nbsp;экранах, расположенных напротив кресел, в&nbsp;которых клиенты с&nbsp;комфортом располагаются во&nbsp;время стрижки или окрашивания, и...
                    </p>
                    <p class="about__description">
                    Ваш бренд оказывается в&nbsp;центре внимания каждого клиента!
                    </p>
                </div>
                <ul class="about__list">
                    <li class="about__list-item">
                        <p class="about__list-title">
                            130
                        </p> 
                        <p class="about__list-text">
                            городов
                        </p>
                    </li>
                    <li class="about__list-item">
                        <p class="about__list-title">
                            626
                        </p> 
                        <p class="about__list-text">
                            салонов
                        </p>
                    </li>
                    <li class="about__list-item">
                        <p class="about__list-title">
                            1879
                        </p> 
                        <p class="about__list-text">
                            экранов
                        </p>
                    </li>
                    <li class="about__list-item">
                        <p class="about__list-title">
                            &gt; 789
                            <span class="small-text">
                                тыс. чел.
                            </span>
                        </p> 
                        <p class="about__list-text">
                            Ежемесячная проходимость всех салонов сети
                        </p>
                    </li>
                </ul>
            </div>
            <img src="img/chiyo/about-image.png" alt="image" class="about__image" />
        </div>
    </section>
    <section class="media">
        <div class="media__shape"></div>
        <div class="container">
            <h2 class="media__title">
                Медиаметрия сети
            </h2>
            <ul class="media__list">
                <li class="media__item">
                    <p class="media__item-title">OTS</p>
                    <div class="media__block">
                        <div class="media__block-wrapper">
                            <p class="media__block-title">
                                105,22
                            </p>
                            <p class="media__block-text">
                                день
                            </p>
                        </div>
                        <span class="media__block-line"></span>
                          <div class="media__block-wrapper">
                            <p class="media__block-title">
                                3156,57
                            </p>
                            <p class="media__block-text">
                                месяц
                            </p>
                        </div>  
                    </div>
                </li>
                <li class="media__item">
                    <p class="media__item-title">Количество неуникальных контактов</p>
                    <div class="media__block">
                        <div class="media__block-wrapper">
                            <p class="media__block-title">
                                105 220
                            </p>
                            <p class="media__block-text">
                                день
                            </p>
                        </div>
                        <span class="media__block-line"></span>
                          <div class="media__block-wrapper">
                            <p class="media__block-title">
                                3 156 570
                            </p>
                            <p class="media__block-text">
                                месяц
                            </p>
                        </div>  
                    </div>
                </li>
                <li class="media__item">
                    <p class="media__item-title">Охваты</p>
                    <div class="media__block">
                        <div class="media__block-wrapper">
                            <p class="media__block-title">
                                26 304
                            </p>
                            <p class="media__block-text">
                                день
                            </p>
                        </div>
                        <span class="media__block-line"></span>
                        <div class="media__block-wrapper">
                            <p class="media__block-title">
                                789 142
                            </p>
                            <p class="media__block-text">
                                месяц
                            </p>
                        </div>  
                    </div>
                </li>
                <li class="media__item">
                    <p class="media__item-title">CPT</p>
                    <div class="media__block">
                        <div class="media__block-wrapper">
                            <p class="media__block-title">
                                21
                            </p>
                            <p class="media__block-text">
                                ₽/месяц
                            </p>
                        </div>
                    </div>
                    <a href="#" class="media__contact">
                        Оставить заявку
                    </a>
                </li>
            </ul>
             <a href="#" class="media__contact-mobile">
                Оставить заявку
            </a>
        </div>
    </section>
    <section class="ads">
        <div class="ads__shape"></div>
        <div class="ads__shape-blue"></div>
        <div class="container">
            <div class="ads__column">
                <h2 class="ads__title">
                    Реклама в&nbsp;салонах &laquo;Чио Чио&raquo; обеспечивает
                </h2>
                <div class="ads__title-wrapper">
                    <p class="ads__title-middle">
                        100%
                    </p>
                     <p class="ads__title-middle">
                       вовлеченность в&nbsp;рекламный контент
                    </p>
                </div>
                <p class="ads__description">
                    Всё время оказания услуги клиент сидит неподвижно, а&nbsp;экран установлен как раз на&nbsp;таком уровне, чтобы находиться прямо в&nbsp;центре поля его зрения!
                </p>
            </div>
            <div class="ads__column-second">
                <div class="ads__card">
                    <h3 class="ads__card-title">
                        20 <span class="small-text">минут</span>
                    </h3>
                    <p class="ads__card-text">
                        Минимальное время, которое клиент находится в&nbsp;кресле
                    </p>
                </div>
                <img src="img/chiyo/ads-one.png" alt="image" class="ads__image" />
                <img src="img/chiyo/ads-two.png" alt="image" class="ads__image last" />
                <svg width="488" height="417" aria-hidden="true" class="ads__line">
                    <use xlink:href="#line-ads"></use>
                </svg>
                <div class="ads__card">
                    <h3 class="ads__card-title">
                        Революционно <span class="uppercase-text">ДЛИТЕЛЬНЫЙ</span> контакт с&nbsp;аудиторией
                    </h3>
                    <p class="ads__card-text">
                        Всё это время клиент смотрит на&nbsp;экран &#128065;_&#128065;
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="map">
        <div class="container">
            <div class="map__overlay"></div>
            <h2 class="map__title">
                Карта присутствия сети рекламных экранов в&nbsp;&laquo;Чио Чио&raquo;
            </h2>
            <div class="map__content">
                <div class="map__card-shape-blue"></div>
                <div class="map__card-shape-orange"></div>
                <div class="map__card">
                    <div class="map__card-wrapper">
                        <h3 class="map__card-title">
                            130
                        </h3>
                        <p class="map__card-text">
                            городов присутствия
                        </p>
                    </div>
                    <span class="map__card-line"></span>
                    <ul class="map__card-list">
                        <li class="map__card-item-mobile">
                            <p class="map__card-item-title">
                                130
                            </p>
                            <p class="map__card-item-text">
                                городов присутствия
                            </p>
                        </li>
                        <li class="map__card-item">
                            <p class="map__card-item-title">
                                16
                            </p>
                            <p class="map__card-item-text">
                                городов-миллионников
                            </p>
                        </li>
                        <li class="map__card-item">
                            <p class="map__card-item-title">
                                27
                            </p>
                            <p class="map__card-item-text">
                                городов с&nbsp;населением более 500&nbsp;тыс.
                            </p>
                        </li>
                        <li class="map__card-item">
                            <p class="map__card-item-title">
                                87
                            </p>
                            <p class="map__card-item-text">
                                городов с&nbsp;населением до&nbsp;500&nbsp;тыс.
                            </p>
                        </li>
                    </ul>
                </div>
                  <div class="map__card">
                    <div class="map__card-wrapper">
                        <h3 class="map__card-title">
                            626
                        </h3>
                        <p class="map__card-text">
                            салонов красоты
                        </p>
                    </div>
                    <span class="map__card-line"></span>
                    <ul class="map__card-list">
                        <li class="map__card-item-mobile">
                            <p class="map__card-item-title">
                                626
                            </p>
                            <p class="map__card-item-text">
                                салонов красоты
                            </p>
                        </li>
                        <li class="map__card-item">
                            <p class="map__card-item-title">
                                251
                            </p>
                            <p class="map__card-item-text">
                                в&nbsp;городах-миллионниках
                            </p>
                        </li>
                        <li class="map__card-item">
                            <p class="map__card-item-title">
                                183
                            </p>
                            <p class="map__card-item-text">
                                городов с&nbsp;населением до&nbsp;500&nbsp;тыс.
                            </p>
                        </li>
                         <li class="map__card-item">
                            <p class="map__card-item-title">
                                192
                            </p>
                            <p class="map__card-item-text">
                                в&nbsp;городах с&nbsp;населением до&nbsp;500&nbsp;тыс.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="data">
        <div class="container">
            <div class="data__shape"></div>
            <h2 class="data__title">
                Медиаметрические данные
            </h2>
            <ul class="data__list">
                <li class="data__column">
                    <h3 class="data__column-title">
                        Москва
                    </h3>
                    <ul class="data__column-list">
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                840 
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество посетителей
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                3,3 
                            </h4>
                            <p class="data__column-item-text">
                                OTS
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                3 360
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество неуникальных контактов
                            </p>
                        </li>
                            <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                53,57
                            </h4>
                            <p class="data__column-item-text">
                                CPT
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="data__column">
                    <h3 class="data__column-title">
                        СПб
                    </h3>
                    <ul class="data__column-list">
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                1 020
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество посетителей
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                4,2
                            </h4>
                            <p class="data__column-item-text">
                                OTS
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                4 050
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество неуникальных контактов
                            </p>
                        </li>
                            <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                37,01
                            </h4>
                            <p class="data__column-item-text">
                                CPT
                            </p>
                        </li>
                    </ul>
                </li>
                 <li class="data__column">
                    <h3 class="data__column-title">
                        Казань
                    </h3>
                    <ul class="data__column-list">
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                1 050
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество посетителей
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                4,2
                            </h4>
                            <p class="data__column-item-text">
                                OTS
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                4 140
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество неуникальных контактов
                            </p>
                        </li>
                            <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                28,93
                            </h4>
                            <p class="data__column-item-text">
                                CPT
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="data__column">
                    <h3 class="data__column-title">
                        Другие города-миллионники
                    </h3>
                    <ul class="data__column-list">
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                               1 200
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество посетителей
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                4,8
                            </h4>
                            <p class="data__column-item-text">
                                OTS
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                4 800
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество неуникальных контактов
                            </p>
                        </li>
                            <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                24,93
                            </h4>
                            <p class="data__column-item-text">
                                CPT
                            </p>
                        </li>
                    </ul>
                </li>
                 <li class="data__column">
                    <h3 class="data__column-title">
                        Города с&nbsp;населением более 500&nbsp;тыс.
                    </h3>
                    <ul class="data__column-list">
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                               1 380
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество посетителей
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                5,4
                            </h4>
                            <p class="data__column-item-text">
                                OTS
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                5 520
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество неуникальных контактов
                            </p>
                        </li>
                            <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                16,27
                            </h4>
                            <p class="data__column-item-text">
                                CPT
                            </p>
                        </li>
                    </ul>
                </li>
                  <li class="data__column">
                    <h3 class="data__column-title">
                        Города с&nbsp;населением до&nbsp;500&nbsp;тыс.
                    </h3>
                    <ul class="data__column-list">
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                1 260
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество посетителей
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                5,1
                            </h4>
                            <p class="data__column-item-text">
                                OTS
                            </p>
                        </li>
                        <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                5 100
                            </h4>
                            <p class="data__column-item-text">
                                Среднее количество неуникальных контактов
                            </p>
                        </li>
                            <li class="data__column-item">
                            <h4 class="data__column-item-title">
                                17,67
                            </h4>
                            <p class="data__column-item-text">
                                CPT
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="data__bottom">
                <a href="#" class="data__link">
                    Узнать  подробнее
                </a>
                <p class="data__message">
                    Оставляйте заявку, чтобы узнать подробнее об&nbsp;аудитории в&nbsp;салонах &laquo;Чио Чио&raquo; по&nbsp;всей России
                </p>
            </div>
        </div> 
        <div class="container container-mobile">
            <div class="data__mobile-shape"></div>
            <h2 class="data__title">Медиаметрические данные</h2>
            <div class="data__tabs js-branding-list">
                <button class="data__tab-info">Москва</button>
                <button class="data__tab-info">СПб</button>
                <button class="data__tab-info">Казань</button>
                <button class="data__tab-info">Миллионники</button>
                <button class="data__tab-info">Города с населением более 500 тыс.</button>
                <button class="data__tab-info">Города с населением до 500 тыс.</button>
            </div>
            <div class="data__tab js-branding-tabs-content">
                <div class="data__slider js-branding-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul class="data__slide">
                                <li>
                                    <p class="data__slide-title">
                                        840
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество посетителей
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3,3
                                    </p>
                                    <p class="data__slide-text">
                                    OTS
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3 360
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество неуникальных контактов
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        53,57
                                    </p>
                                    <p class="data__slide-text">
                                        CPT
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="data__slide">
                                <li>
                                    <p class="data__slide-title">
                                        840
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество посетителей
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3,3
                                    </p>
                                    <p class="data__slide-text">
                                    OTS
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3 360
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество неуникальных контактов
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        53,57
                                    </p>
                                    <p class="data__slide-text">
                                        CPT
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="data__slide">
                                <li>
                                    <p class="data__slide-title">
                                        840
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество посетителей
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3,3
                                    </p>
                                    <p class="data__slide-text">
                                    OTS
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3 360
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество неуникальных контактов
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        53,57
                                    </p>
                                    <p class="data__slide-text">
                                        CPT
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="data__slide">
                                <li>
                                    <p class="data__slide-title">
                                        840
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество посетителей
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3,3
                                    </p>
                                    <p class="data__slide-text">
                                    OTS
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3 360
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество неуникальных контактов
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        53,57
                                    </p>
                                    <p class="data__slide-text">
                                        CPT
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="data__slide">
                                <li>
                                    <p class="data__slide-title">
                                        840
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество посетителей
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3,3
                                    </p>
                                    <p class="data__slide-text">
                                    OTS
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3 360
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество неуникальных контактов
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        53,57
                                    </p>
                                    <p class="data__slide-text">
                                        CPT
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="data__slide">
                                <li>
                                    <p class="data__slide-title">
                                        840
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество посетителей
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3,3
                                    </p>
                                    <p class="data__slide-text">
                                    OTS
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        3 360
                                    </p>
                                    <p class="data__slide-text">
                                        Среднее количество неуникальных контактов
                                    </p>
                                </li>
                                <li>
                                    <p class="data__slide-title">
                                        53,57
                                    </p>
                                    <p class="data__slide-text">
                                        CPT
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="data__bottom">
                <p class="data__message">
                    Оставляйте заявку, чтобы узнать подробнее об&nbsp;аудитории в&nbsp;салонах &laquo;Чио Чио&raquo; по&nbsp;всей России
                </p>
                <a href="#" class="data__link">
                    Узнать  подробнее
                </a>
            </div>
        </div>
    </section>
    <section class="terms" id="terms">
    <div class="container">
      <div class="terms__content">
        <h2 class="terms__title">
            Делаем запуск рекламных кампаний простым и понятным
        </h2>
        <div class="terms__cards">
          <div class="terms__card">
            <div class="terms__card-content">
              <h3 class="terms__card-title">
                Делаем запуск рекламных кампаний простым и понятным
                </h3>
              <p class="terms__card-text">
                Мы&nbsp;используем фиксированный рекламный блок во&nbsp;всех салонах сети: вы&nbsp;можете выбрать любой объем эфира, кратный 5&nbsp;секундам и&nbsp;зарезервировать нужное количество спотов
              </p>
              <div class="terms__card-bottom">
                <img src="img/chiyo/statistics.svg" alt="icon" class="terms__card-bottom-image">
                <div class="terms__card-bottom-info">
                  <ul class="terms__card-statistics">
                    <li class="terms__card-detail">
                      <h4><span class="large">5</span> минут</h4>
                      <p>размер рекламного блока</p>
                    </li>
                    <li class="terms__card-detail">
                      <h4><span class="large">30</span> спотов по <span class="large">10</span> СЕКУНД</h4>
                      <p>в рекламном блоке</p>
                    </li>
                  </ul>
                </div>
              </div>
              <img src="img/chiyo/terms-image-mobile.png" alt="image" class="terms__card-image-mobile" />
              <div class="terms__card-mobile">
            <div class="terms__card-content">
              <h3 class="terms__card-title">
               Делаем запуск рекламных кампаний простым и понятным
                </h3>
              <p class="terms__card-text terms__card-text-mobile">
                Когда эфирное время в блоке продано не полностью, свободный эфир мы распределяем между всеми рекламодателями
               </p>
               <p class="terms__card-text terms__card-text-mobile-bottom">
                Это дополнительные показы, которые вы получаете <span class="orange">бесплатно!</span>
               </p>
            </div>
            <a href="#" class="terms__card-order">
                Заказать размещение
            </a>
        </div>
            </div>
          </div>
          <div class="terms__card">
            <div class="terms__card-content">
              <h3 class="terms__card-title">Минимальное гарантированное количество показов</h3>
              <p class="terms__card-text">
                Когда эфирное время в&nbsp;блоке продано не&nbsp;полностью, свободный эфир мы&nbsp;распределяем между всеми рекламодателями.
              </p>
              <p class="terms__card-text-bottom">
                 Это дополнительные показы, которые вы&nbsp;получаете <span class="orange"> бесплатно!</span>
              </p>
            </div>
            <a href="#" class="terms__card-order">
                Заказать размещение
            </a>
        </div>
            <img src="img/chiyo/terms-image.png" alt="image" class="terms__card-image" />
        </div>
      </div>
    </div>
  </section>

    <section class="contact">
        <div class="container">
            <div class="contact__shape-orange"></div>
            <div class="contact__shape-blue"></div>
            <h2 class="contact__title">
               Получите максимум контактов с&nbsp;целевой аудиторией и&nbsp;всё ее&nbsp;внимание!
            </h2>
            <div class="contact__content">
                <img src="img/chiyo/contact.png" alt="image" class="contact__image">
                <div class="contact__column">
                    <h3 class="contact__column-title">
                        <span class="small-text">от</span> 105 220
                    </h3>
                    <p class="contact__text">
                        неуникальных контактов в&nbsp;день
                    </p>
                    <a href="#" class="contact__link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="order">
        <div class="container">
            <div class="order__shape"></div>
            <h2 class="order__title">
                Запускайте охватные рекламные кампаниии&nbsp; и оцените все преимущества федеральной сети рекламных экранов в&nbsp;салонах &laquo;Чио Чио&raquo;
            </h2>
            <ul class="order__list">
                <li class="order__item">
                    <p class="order__item-text">
                        Совместный проект лидеров российского рынка
                    </p>
                    <div class="order__item-circles">
                        <span class="order__item-circle colored"></span>
                        <span class="order__item-circle"></span>
                        <span class="order__item-circle"></span>
                    </div>
                </li>
                 <li class="order__item">
                    <p class="order__item-text">
                        Качественный сервис от&nbsp;второго оператора наружной рекламы в&nbsp;РФ
                    </p>
                    <div class="order__item-circles">
                        <span class="order__item-circle colored"></span>
                        <span class="order__item-circle colored"></span>
                        <span class="order__item-circle"></span>
                    </div>
                </li>
                 <li class="order__item">
                    <p class="order__item-text">
                        Масштабная сеть рекламных экранов по&nbsp;всей стране
                    </p>
                    <div class="order__item-circles">
                        <span class="order__item-circle colored"></span>
                        <span class="order__item-circle colored"></span>
                        <span class="order__item-circle colored"></span>
                    </div>
                </li>
            </ul>
            <a href="#" class="order__button-order">
                Заказать  размещение
            </a>
        </div>
    </section>
    
    {{/content}}
{{/extend}}