{{#extend "new-main"}}
    {{#content "main"}}
        <section class="cities-intro">
            <div class="cities-intro__picture">
                <picture>
                    <source type="image/webp" media="(min-aspect-ratio: 4/3)" srcset="./img/cities/intro.webp">
                    <source type="image/webp" media="(max-aspect-ratio: 4/3)" srcset="./img/cities/intro-m.webp">
                    <source media="(max-aspect-ratio: 4/3)" srcset="img/cities/intro-m.png">
                    <img class="cities-intro__image" src="img/cities/intro.png" alt="">
                </picture>
            </div>

            <div class="cities-intro__container container">
                <div class="cities-intro__headings">
                    <h1 class="cities-intro__title">
                        Размещайте наружную рекламу <span class="cities-callback__red">в&nbsp;Хабаровске</span>
                    </h1>
                    <p class="cities-intro__text">
                        Получайте большие охваты и новых клиентов
                    </p>
                    <a href="#" class="cities-intro__link new-guarantee__link">
                        Оставить заявку
                    </a>
                </div>
            </div>

            <div class="cities-intro__scroll"></div>
        </section>

        <section class="cities-map mapBillboard">
            <script>
                var locationCenter = [48.480229, 135.071917],
                    locationZoom = 12,
                    mainCoords = [48.480229, 135.071917];

            </script>

            <div class="cities-map__container container">
                <h2 class="cities-map__title">
                    Привлекайте клиентов по всему городу
                </h2>

                <div class="cities-map__col">
                    <div class="cities-map__map-wrapper">
                        <div class="js-location-map"></div>
                    </div>
                    <div class="cities-map__row">
                        <ul class="cities-map__row-item cities-map__row-item--blue">
                            <li>
                                <p class="cities-map__number">810</p>
                                <p class="cities-map__text">рекламных поверхностей</p>
                            </li>
                            <li>
                                <p class="cities-map__number">702</p>
                                <p class="cities-map__text">digital-поверхности</p>
                            </li>
                        </ul>
                        <ul class="cities-map__row-item cities-map__row-item--dark">
                            <li>
                                <div class="cities-map__icon cities-map__icon--billboard"></div>
                                <p class="cities-map__number">84</p>
                                <p class="cities-map__text">билборда</p>
                            </li>
                            <li>
                                <div class="cities-map__icon cities-map__icon--cityboard"></div>
                                <p class="cities-map__number">4</p>
                                <p class="cities-map__text">ситиборда</p>
                            </li>
                            <li>
                                <div class="cities-map__icon cities-map__icon--facade"></div>
                                <p class="cities-map__number">1</p>
                                <p class="cities-map__text">медиафасад</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="cities-single">
            <div class="cities-single__container container">
                <div class="cities-single__body">
                    <h2 class="cities-single__title cities-callback__title">
                        На медиафасаде <span class="cities-callback__red">ваша&nbsp;реклама</span> заметнее тигра на снегу!
                    </h2>
                    <div class="cities-single__list-wrapper">
                        <div class="cities-single__list">
                            <p class="cities-double__subtitle cities-double__subtitle--icon">Ленинградская, 89А</p>
                            <ul class="cities-double__list">
                                <li class="cities-double__list-item">
                                    Медиафасад расположен перед дорогой с высоким автомобильным трафиком
                                </li>
                                <li class="cities-double__list-item">
                                    Рядом ж/д вокзал Хабаровск-1, привокзальная площадь, магазины, кафе, остановки общественного
                                    транспорта
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="cities-single__link new-guarantee__link">
                        Оставить заявку
                    </a>

                    <div class="cities-single__picture">
                        <picture>
                            <source type="image/webp" media="(min-width: 640px)" srcset="./img/cities/single.webp">
                            <source type="image/webp" media="(max-width: 640px)" srcset="./img/cities/single-m.webp">
                            <source media="(max-width: 640px)" srcset="img/cities/single-m.png">
                            <img src="img/cities/single.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </section>

        <section class="cities-callback">
            <div class="cities-callback__container container">
                <form action="" class="cities-callback__body cities-callback__body--no-images">
                    <h2 class="cities-callback__title cities-callback__title--hide-on-mobile cities-callback__title--max-w">
                        Повышайте продажи даже с&nbsp;небольшим бюджетом — <span class="cities-callback__red">&nbsp;размещайте наружную рекламу в&nbsp;местах с&nbsp;ЦА</span>
                    </h2>
                    <h2 class="cities-callback__title cities-callback__title--show-on-mobile cities-callback__title--max-w">
                        На медиафасаде <span class="cities-callback__red">ваша&nbsp;реклама</span> заметнее тигра на снегу!
                    </h2>
                    <p class="cities-callback__text">
                        Оставьте заявку, мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;соберем индивидуальную адресную программу.
                    </p>

                    <div class="cities-callback__row">
                        <div class="cities-callback__inputs">
                            <div class="cities-callback__input cities-request__input">
                                <input type="text" name="cities-callback-name" id="cities-callback-name" placeholder="Имя"
                                    required>
                                <div class="cities-request__input-gradient-border gradient-border"></div>
                            </div>
                            <div class="cities-callback__input cities-request__input">
                                <input type="tel" name="cities-callback-phone" id="cities-callback-phone"
                                    placeholder="+7 999 999-99-99" required>
                                <div class="cities-request__input-gradient-border gradient-border"></div>
                            </div>
                            <div class="cities-callback__input cities-request__input">
                                <input type="email" name="cities-callback-phone" id="cities-callback-phone" placeholder="E-mail"
                                    required>
                                <div class="cities-request__input-gradient-border gradient-border"></div>
                            </div>
                        </div>

                        <button type="button" class="cities-callback__button new-guarantee__link">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </section>

        <section class="new-geography">
            <div class="container">
                <div class="new-geography__content">
                    <h2 class="new-geography__heading">
                        Мы — второй оператор наружной рекламы в России
                        и крупный рекламный холдинг
                    </h2>
                    <div class="new-geography__wrapper">


                        <div class="new-geography__map-wrapper">
                            <img src="img/new-geography-map.webp" alt="" class="new-geography__map">
                        </div>
                        <div class="new-geography__text-content">
                            <ul class="new-geography__stats">
                                <li class="new-geography__stat">
                                    <p class="new-geography__stat-number">
                                        30 241
                                    </p>

                                    <p class="new-geography__stat-text">
                                        рекламная поверхность
                                    </p>
                                </li>
                                <li class="new-geography__stat">
                                    <p class="new-geography__stat-number">
                                        7 973
                                    </p>

                                    <p class="new-geography__stat-text">
                                        конструкции
                                    </p>
                                </li>
                                <li class="new-geography__stat">
                                    <p class="new-geography__stat-number">
                                        136
                                    </p>

                                    <p class="new-geography__stat-text">
                                        городов
                                    </p>
                                </li>
                                <li class="new-geography__stat">
                                    <p class="new-geography__stat-number">
                                        11 лет
                                    </p>

                                    <p class="new-geography__stat-text">
                                        развиваем рекламный рынок
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cities-fractions">
            <div class="cities-fractions__container container">
                <h2 class="cities-fractions__title cities-fractions__title--mbM">
                    Предоставляем полный цикл услуг для запуска рекламы
                </h2>

                <ul class="cities-fractions__list cities-fractions__list--grid">
                    <li class="cities-fractions__fraction cities-fractions__fraction--address">
                        <p class="cities-fractions__subtitle">
                            Индивидуальная адресная&nbsp;программа
                        </p>
                        <p class="cities-fractions__text">
                            Учитывая бюджет, подберем рекламные конструкции в точках, где высокий трафик и есть ваша целевая
                            аудитория
                        </p>
                    </li>
                    <li class="cities-fractions__fraction cities-fractions__fraction--design">
                        <p class="cities-fractions__subtitle">
                            Креатив и дизайн
                        </p>
                        <p class="cities-fractions__text">
                            Разработаем креативную концепцию, придумаем<br> слоганы и создадим яркий запоминающийся макет
                        </p>
                    </li>
                    <li class="cities-fractions__fraction cities-fractions__fraction--print">
                        <p class="cities-fractions__subtitle">
                            Печать и монтаж
                        </p>
                        <p class="cities-fractions__text">
                            Качественная печать и профессиональный монтаж от проверенных подрядчиков
                        </p>
                    </li>
                    <li class="cities-fractions__fraction cities-fractions__fraction--law">
                        <p class="cities-fractions__subtitle">
                            Юридическая проверка
                        </p>
                        <p class="cities-fractions__text">
                            Наша юридическая служба проверит рекламные<br> материалы на соответствие законам
                        </p>
                    </li>
                    <li class="cities-fractions__fraction cities-fractions__fraction--photo">
                        <p class="cities-fractions__subtitle">
                            Фотоотчеты
                        </p>
                        <p class="cities-fractions__text">
                            Предоставим фотоотчеты ваших<br> размещений на конструкциях
                        </p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="cities-simple">
            <div class="cities-simple__container container">
                <div class="cities-simple__image">
                    <picture>
                        <source type="image/webp" media="(min-width: 768px)" srcset="./img/cities/simple.webp">
                        <source type="image/webp" media="(max-width: 768px)" srcset="./img/cities/simple-m.webp">
                        <source media="(max-width: 768px)" srcset="img/cities/simple-m.png">
                        <img src="img/cities/simple.png" alt="">
                    </picture>
                </div>
                <div class="cities-simple__info">
                    <h2 class="cities-simple__title">
                        Соединим ваш бизнес с клиентами,<br>
                        словно Амурский мост <span class="cities-simple__icon"></span>
                    </h2>

                    <p class="cities-simple__text">
                        Оставьте заявку, мы свяжемся с вами в ближайшее время и предложим адресную программу с учетом вашего
                        рекламного бюджета.
                    </p>

                    <a href="" class="cities-simple__link new-guarantee__link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>

        <section class="cities-bottom__fraction cities-fractions">
            <div class="cities-fractions__container container">
                <h2 class="cities-fractions__title cities-fractions__title--mbM">
                    Оцените преимущества наружной рекламы для малого и среднего бизнеса
                </h2>

                <ul class="cities-fractions__list">
                    <li class="cities-fractions__fraction cities-fractions__fraction--tiger">
                        <p class="cities-fractions__subtitle">
                            Охотится&nbsp;за&nbsp;клиентами,<br> как&nbsp;амурский&nbsp;тигр
                        </p>
                        <p class="cities-fractions__text cities-fractions__text--max-w">
                            Реклама&nbsp;на&nbsp;улицах&nbsp;собирает большие охваты<br> — о вас узнают тысячи людей в
                            Хабаровске
                        </p>
                    </li>
                    <li class="cities-fractions__fraction cities-fractions__fraction--tea">
                        <p class="cities-fractions__subtitle cities-fractions__subtitle--max-w">
                            Работает&nbsp;без перерывов<br> на&nbsp;чай&nbsp;и&nbsp;уху!
                        </p>
                        <p class="cities-fractions__text cities-fractions__text--max-w">
                            Получить&nbsp;впечатляющее количество просмотров<br> можно даже с небольшим бюджетом
                        </p>
                    </li>
                    <li class="cities-fractions__fraction cities-fractions__fraction--amur">
                        <p class="cities-fractions__subtitle">
                            Просмотров&nbsp;больше,<br> чем&nbsp;воды&nbsp;в&nbsp;муре
                        </p>
                        <p class="cities-fractions__text">
                            Реклама&nbsp;на&nbsp;билбордах&nbsp;на&nbsp;виду&nbsp;24&nbsp;часа<br>
                            в&nbsp;сутки&nbsp;—&nbsp;и&nbsp;в&nbsp;праздники,&nbsp;и&nbsp;в&nbsp;выходные
                        </p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="cities-callback">
            <div class="cities-callback__container container">
                <form action="" class="cities-callback__body">
                    <h2 class="cities-callback__title">
                        Мы подскажем, где <span class="cities-callback__red">ваша реклама</span> будет наиболее эффективна!
                    </h2>
                    <p class="cities-callback__text">
                        Оставьте заявку, мы свяжемся с вами в ближайшее время и соберем индивидуальную адресную программу.
                    </p>

                    <div class="cities-callback__row">
                        <div class="cities-callback__inputs">
                            <div class="cities-callback__input cities-request__input">
                                <input type="text" name="cities-callback-name" id="cities-callback-name" placeholder="Имя"
                                    required>
                                <div class="cities-request__input-gradient-border gradient-border"></div>
                            </div>
                            <div class="cities-callback__input cities-request__input">
                                <input type="tel" name="cities-callback-phone" id="cities-callback-phone"
                                    placeholder="+7 999 999-99-99" required>
                                <div class="cities-request__input-gradient-border gradient-border"></div>
                            </div>
                            <div class="cities-callback__input cities-request__input">
                                <input type="email" name="cities-callback-phone" id="cities-callback-phone" placeholder="E-mail"
                                    required>
                                <div class="cities-request__input-gradient-border gradient-border"></div>
                            </div>
                        </div>

                        <button type="button" class="cities-callback__button new-guarantee__link">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </section>

        <section class="cities-double">
            <div class="cities-double__container container">
                <h2 class="cities-double__title">
                    В нашей сети все виды<br> рекламных поверхностей
                </h2>

                <div class="cities-double__body">
                    <div class="cities-double__body-item cities-double__body-item--left">
                        <div class="cities-double__image">
                            <div class="cities-double__picture">
                                <picture>
                                    <source type="image/webp" media="(min-aspect-ratio: 4/3)"
                                        srcset="./img/cities/double-1.webp">
                                    <source type="image/webp" media="(max-aspect-ratio: 4/3)"
                                        srcset="./img/cities/double-1m.webp">
                                    <source media="(max-aspect-ratio: 4/3)" srcset="img/cities/double-1m.png">
                                    <img src="img/cities/double-1.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="cities-double__tooltip">
                            <p class="cities-double__subtitle">Экраны</p>
                            <ul class="cities-double__list">
                                <li class="cities-double__list-item">
                                    Яркие и заметные даже ночью
                                </li>
                                <li class="cities-double__list-item">
                                    Можно запускать анимированную рекламу, которая еще эффективнее привлекает всеобщее внимание
                                </li>
                                <li class="cities-double__list-item">
                                    Запуск рекламы за несколько минут
                                </li>
                                <li class="cities-double__list-item">
                                    Любой срок размещения
                                </li>
                            </ul>
                            <div class="gradient-border"></div>
                            <div class="cities-double__back"></div>
                        </div>
                    </div>
                    <div class="cities-double__body-item cities-double__body-item--right">
                        <div class="cities-double__image">
                            <div class="cities-double__picture">
                                <picture>
                                    <source type="image/webp" media="(min-aspect-ratio: 4/3)"
                                        srcset="./img/cities/double-2.webp">
                                    <source type="image/webp" media="(max-aspect-ratio: 4/3)"
                                        srcset="./img/cities/double-2m.webp">
                                    <source media="(max-aspect-ratio: 4/3)" srcset="img/cities/double-2m.png">
                                    <img src="img/cities/double-2.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="cities-double__tooltip">
                            <p class="cities-double__subtitle">Баннеры</p>
                            <ul class="cities-double__list">
                                <li class="cities-double__list-item">
                                    Ваша реклама всегда на виду — 24 часа в сутки на протяжении целого месяца или даже больше
                                </li>
                                <li class="cities-double__list-item">
                                    Вам не нужно делить рекламное место с другими брендами — только вы звезда локации!
                                </li>
                            </ul>
                            <div class="gradient-border"></div>
                            <div class="cities-double__back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cities-bottom">

            <div class="cities-fractions">
                <div class="cities-fractions__container container">
                    <h2 class="cities-fractions__title">
                        Предоставляем сервис, в который легко влюбиться
                    </h2>

                    <ul class="cities-fractions__list">
                        <li class="cities-fractions__fraction cities-fractions__fraction--first">
                            <p class="cities-fractions__subtitle">
                                Персональный менеджер
                            </p>
                            <p class="cities-fractions__text">
                                Он&nbsp;полностью&nbsp;погружен<br> в&nbsp;задачу&nbsp;и&nbsp;всегда&nbsp;на&nbsp;связи
                            </p>
                        </li>
                        <li class="cities-fractions__fraction cities-fractions__fraction--second">
                            <p class="cities-fractions__subtitle">
                                Коммуникация в&nbsp;режиме&nbsp;одного&nbsp;окна
                            </p>
                            <p class="cities-fractions__text">
                                Вся информация по размещению в&nbsp;чате<br> с&nbsp;вашим&nbsp;менеджером
                            </p>
                        </li>
                        <li class="cities-fractions__fraction cities-fractions__fraction--third">
                            <p class="cities-fractions__subtitle">
                                Делаем&nbsp;всё для&nbsp;запуска&nbsp;рекламы
                            </p>
                            <p class="cities-fractions__text">
                                Предоставляем весь&nbsp;комплекс услуг<br>по&nbsp;запуску рекламных кампаний
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cities-bottom__request cities-request">
                <div class="cities-request__container container">
                    <div class="cities-request__info">
                        <div class="cities-request__top">
                            <div class="cities-request__texts">
                                <p class="cities-request__heading">Можете чиллить</p>
                                <p class="cities-request__subheading">
                                    на&nbsp;Шантарских островах, пока реклама на билбордах приводит клиентов
                                </p>
                            </div>
                            <p class="cities-request__text">
                                Оставьте заявку, мы свяжемся с вами в ближайшее время.
                            </p>
                        </div>
                        <div class="cities-request__inputs">
                            <div class="cities-request__input">
                                <input type="tel" name="cities-request-tel" class="js-phone-input" id="cities-request-id" placeholder="+7 999 999-99-99">
                                <div class="cities-request__input-gradient-border gradient-border">

                                </div>
                            </div>
                            <button class="cities-request__submit new-guarantee__link" type="submit">
                                Оставить заявку
                            </button>
                        </div>
                    </div>

                    <div class="cities-request__tooltip">
                        <p class="cities-request__subheading">
                            Не хотите ждать обратного звонка?
                        </p>

                        <div class="cities-request__phone">
                            <p class="cities-request__text">
                                Звоните на горячую линию, мы ответим на ваши вопросы и разместим рекламу.
                            </p>
                            <a href="tel:+78888888888" class="cities-request__number">
                                8 (888) 888 88 88
                            </a>
                        </div>

                        <div class="gradient-border"></div>
                    </div>
                </div>
            </div>

            <div class="cities-bottom__picture">
                <div class="cities-bottom__image-contianer">

                    <source srcset="./img/cities/bottom.webp" type="image/webp">

                    <img src="img/cities/bottom.png" alt="">

                </div>
            </div>
        </section>

        <script src="js/citiesChunk.js"></script>
    {{/content}}
{{/extend}}
