{{#extend "new-main"}}
    {{#content "main"}}

        <section class="new-contacts">
            <div class="container">
                <div class="new-contacts__content">
                    <h1 class="new-contacts__heading">
                        Главный офис
                    </h1>
                    <div class="new-contacts__tabs-nav">
                        <a href="#" class="new-contacts__tabs-nav-link active">
                            Казань
                        </a>
                        <a href="#" class="new-contacts__tabs-nav-link">
                            Москва
                        </a>
                        <a href="#" class="new-contacts__tabs-nav-link">
                            Пермь
                        </a>
                        <a href="#" class="new-contacts__tabs-nav-link">
                            Уфа
                        </a>
                    </div>
                    <div class="new-contacts__tabs">
                        <div class="new-contacts__tabs-item active">
                            <div class="new-contacts__stack">
                                <div class="new-contacts__map-wrapper">
                                    <picture>
                                        <source srcset="img/contacts/1-mobile.webp" media="(max-width: 640px)" />
                                        <img src="img/contacts/1.webp" alt="MDN" class="new-contacts__map" />
                                    </picture>
                                </div>
                                <div class="new-contacts__tab-content">
                                    <div class="new-contacts__schedule">
                                        <ul class="new-contacts__schedule-list">
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Время работы
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        Пн - пт: 9:00 - 18:00, сб - вс: выходной
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Email
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        hello@rim-m.ru
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Телефон
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        +7 (800) 551-35-03, +7 (843) 255-50-71
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="new-contacts__links">
                                        <a href="#" class="new-contacts__address-link">
                                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9349 1.49957C7.96424 1.49957 3.93494 5.52887 3.93494 10.4996C3.93494 12.984 4.94159 15.2336 6.56969 16.8621C8.19824 18.4916 12.0349 20.8496 12.2599 23.3246C12.2937 23.6957 12.5623 23.9996 12.9349 23.9996C13.3075 23.9996 13.5762 23.6957 13.6099 23.3246C13.8349 20.8496 17.6716 18.4916 19.3002 16.8621C20.9283 15.2336 21.9349 12.984 21.9349 10.4996C21.9349 5.52887 17.9056 1.49957 12.9349 1.49957Z"
                                                    fill="white" />
                                                <path
                                                    d="M12.9336 13.65C14.6733 13.65 16.0836 12.2397 16.0836 10.5C16.0836 8.76034 14.6733 7.35004 12.9336 7.35004C11.1939 7.35004 9.78363 8.76034 9.78363 10.5C9.78363 12.2397 11.1939 13.65 12.9336 13.65Z"
                                                    fill="#FF4433" />
                                            </svg>
                                            Как добраться?
                                        </a>
                                        <a href="#" class="new-contacts__taxi-link">
                                            <img src="img/taxi.webp" alt="" class="new-contacts__taxi-link-icon">
                                            Доехать на такси
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-contacts__tabs-item">
                            <div class="new-contacts__stack">


                                <div class="new-contacts__map-wrapper">
                                    <picture>
                                        <source srcset="img/contacts/2-mobile.webp" media="(max-width: 640px)" />
                                        <img src="img/contacts/2.webp" alt="MDN" class="new-contacts__map" />
                                    </picture>
                                </div>
                                <div class="new-contacts__tab-content">
                                    <div class="new-contacts__schedule">
                                        <ul class="new-contacts__schedule-list">
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Время работы
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        Пн - пт: 9:00 - 18:00, сб - вс: выходной
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Email
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        hello@rim-m.ru
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Телефон
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        +7 (800) 551-35-03
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="new-contacts__links">
                                        <a href="#" class="new-contacts__address-link">
                                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9349 1.49957C7.96424 1.49957 3.93494 5.52887 3.93494 10.4996C3.93494 12.984 4.94159 15.2336 6.56969 16.8621C8.19824 18.4916 12.0349 20.8496 12.2599 23.3246C12.2937 23.6957 12.5623 23.9996 12.9349 23.9996C13.3075 23.9996 13.5762 23.6957 13.6099 23.3246C13.8349 20.8496 17.6716 18.4916 19.3002 16.8621C20.9283 15.2336 21.9349 12.984 21.9349 10.4996C21.9349 5.52887 17.9056 1.49957 12.9349 1.49957Z"
                                                    fill="white" />
                                                <path
                                                    d="M12.9336 13.65C14.6733 13.65 16.0836 12.2397 16.0836 10.5C16.0836 8.76034 14.6733 7.35004 12.9336 7.35004C11.1939 7.35004 9.78363 8.76034 9.78363 10.5C9.78363 12.2397 11.1939 13.65 12.9336 13.65Z"
                                                    fill="#FF4433" />
                                            </svg>
                                            Как добраться?
                                        </a>
                                        <a href="#" class="new-contacts__taxi-link">
                                            <img src="img/taxi.webp" alt="" class="new-contacts__taxi-link-icon">
                                            Доехать на такси
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-contacts__tabs-item">
                            <div class="new-contacts__stack">


                                <div class="new-contacts__map-wrapper">
                                    <picture>
                                        <source srcset="img/contacts/3-mobile.webp" media="(max-width: 640px)" />
                                        <img src="img/contacts/3.webp" alt="MDN" class="new-contacts__map" />
                                    </picture>
                                </div>
                                <div class="new-contacts__tab-content">
                                    <div class="new-contacts__schedule">
                                        <ul class="new-contacts__schedule-list">
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Время работы
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        Пн - пт: 9:00 - 18:00, сб - вс: выходной
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Email
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        hello@rim-m.ru
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Телефон
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        +7 (800) 551-35-03
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="new-contacts__links">
                                        <a href="#" class="new-contacts__address-link">
                                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9349 1.49957C7.96424 1.49957 3.93494 5.52887 3.93494 10.4996C3.93494 12.984 4.94159 15.2336 6.56969 16.8621C8.19824 18.4916 12.0349 20.8496 12.2599 23.3246C12.2937 23.6957 12.5623 23.9996 12.9349 23.9996C13.3075 23.9996 13.5762 23.6957 13.6099 23.3246C13.8349 20.8496 17.6716 18.4916 19.3002 16.8621C20.9283 15.2336 21.9349 12.984 21.9349 10.4996C21.9349 5.52887 17.9056 1.49957 12.9349 1.49957Z"
                                                    fill="white" />
                                                <path
                                                    d="M12.9336 13.65C14.6733 13.65 16.0836 12.2397 16.0836 10.5C16.0836 8.76034 14.6733 7.35004 12.9336 7.35004C11.1939 7.35004 9.78363 8.76034 9.78363 10.5C9.78363 12.2397 11.1939 13.65 12.9336 13.65Z"
                                                    fill="#FF4433" />
                                            </svg>
                                            Как добраться?
                                        </a>
                                        <a href="#" class="new-contacts__taxi-link">
                                            <img src="img/taxi.webp" alt="" class="new-contacts__taxi-link-icon">
                                            Доехать на такси
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-contacts__tabs-item">
                            <div class="new-contacts__stack">


                                <div class="new-contacts__map-wrapper">
                                    <picture>
                                        <source srcset="img/contacts/4-mobile.webp" media="(max-width: 640px)" />
                                        <img src="img/contacts/4.webp" alt="MDN" class="new-contacts__map" />
                                    </picture>
                                </div>
                                <div class="new-contacts__tab-content">
                                    <div class="new-contacts__schedule">
                                        <ul class="new-contacts__schedule-list">
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Время работы
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        Пн - пт: 9:00 - 18:00, сб - вс: выходной
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Email
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        hello@rim-m.ru
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="new-contacts__schedule-list-item">
                                                <div class="new-contacts__schedule-card">
                                                    <h3 class="new-contacts__schedule-card-title">
                                                        Телефон
                                                    </h3>
                                                    <div class="new-contacts__schedule-card-text">
                                                        +7 (800) 551-35-03
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="new-contacts__links">
                                        <a href="#" class="new-contacts__address-link">
                                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9349 1.49957C7.96424 1.49957 3.93494 5.52887 3.93494 10.4996C3.93494 12.984 4.94159 15.2336 6.56969 16.8621C8.19824 18.4916 12.0349 20.8496 12.2599 23.3246C12.2937 23.6957 12.5623 23.9996 12.9349 23.9996C13.3075 23.9996 13.5762 23.6957 13.6099 23.3246C13.8349 20.8496 17.6716 18.4916 19.3002 16.8621C20.9283 15.2336 21.9349 12.984 21.9349 10.4996C21.9349 5.52887 17.9056 1.49957 12.9349 1.49957Z"
                                                    fill="white" />
                                                <path
                                                    d="M12.9336 13.65C14.6733 13.65 16.0836 12.2397 16.0836 10.5C16.0836 8.76034 14.6733 7.35004 12.9336 7.35004C11.1939 7.35004 9.78363 8.76034 9.78363 10.5C9.78363 12.2397 11.1939 13.65 12.9336 13.65Z"
                                                    fill="#FF4433" />
                                            </svg>
                                            Как добраться?
                                        </a>
                                        <a href="#" class="new-contacts__taxi-link">
                                            <img src="img/taxi.webp" alt="" class="new-contacts__taxi-link-icon">
                                            Доехать на такси
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-main-regions new-main-regions--contacts">
            <div class="container">
                <div class="new-main-regions__content">
                    <h2 class="new-main-regions__heading">
                        Регионы присутствия
                    </h2>
                    <ul class="new-main-regions__list">
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Москва и Московская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Татарстан
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Волгоградская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Костромская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Омская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Бурятия
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Карелия
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Марий Эл
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Мордовия
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Владимирская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Ханты-Мансийский АО
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Вологодская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Краснодарский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Кировская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Самарская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Санкт-Петербург
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Саратовская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Свердловская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Смоленская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Брянская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Воронежская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                ЯНАО
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Алтайский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Красноярский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тамбовская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тверская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тульская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тюменская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Удмуртская Республика
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Нижегородская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Оренбургская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Орловская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Пензенская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Пермский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Ульяновская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Хабаровский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Челябинская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Чувашская Республика
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}