{{#extend "drims-layout"}}
{{#content "main"}}
    <section class="dreams-intro">
        <div class="dreams-intro__shape js-drims-intro-shape"></div>
        <div class="dreams-intro__overlay"></div>
        <div class="container">
            <div class="dreams-intro__content">
                <img src="img/drims/intro/title-icon.svg" alt="image" class="dreams-intro__title" />
                <p class="dreams-intro__text">
                    Агентство событий, о которых мечтают
                </p>
                <p class="dreams-intro__text-bottom">
                    Корпоративные мероприятия | Культурные события | Профессиональные события | Маркетинговые активности
                </p>
                <button class="dreams-intro__button">
                    Подробнее
                </button>
            </div>
        </div>
    </section>

    <section class="dreams-events">
        <div class="container">
            <div class="dreams-events__content">
                <div class="dreams-events__item dreams-events__item--first">
                    <div class="block">
                        <h2 class="dreams-events__title">
                            13 лет
                        </h2>
                        <p class="dreams-events__subtitle">
                            ярких событий
                        </p>
                    </div>
                </div>
                <div class="dreams-events__item dreams-events__item--second">
                    <div class="text">
                        Команда мечтателей и&nbsp;профессионалов, создающих самые яркие корпоративные события любого масштаба&nbsp;&mdash; от&nbsp;небольших бренд-активаций до&nbsp;огромных конференций и&nbsp;фееричных корпоративов
                    </div>
                </div>
                <div class="dreams-events__item dreams-events__item--third">
                    <div class="flex">
                        <div class="dreams-events__title">
                            5
                        </div>
                        <div class="dreams-events__subtitle">
                            федеральных наград
                        </div>
                    </div>
                </div>
                <div class="dreams-events__item dreams-events__item--fourth">
                    <div class="block">
                        <div class="dreams-events__title">
                            500+
                        </div>
                        <div class="dreams-events__subtitle">
                            проектов
                        </div>
                    </div>
                </div>

                <div class="dreams-events__cross cross cross--std">
                    <div></div>
                    <div></div>
                </div>

                 <div class="dreams-events__cross--small cross cross--sm">
                    <div></div>
                    <div></div>
                </div>

                <div class="dreams-events__cross--last cross cross--std">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="dreams-nostalgia">
        <img src="img/drims/dreams/dream-party.png" alt="image" class="dreams-nostalgia__party-image">
        <div class="dreams-nostalgia__bg-image-alien"></div>
        <div class="container">
            <div class="dreams-nostalgia__content">
                <h2 class="dreams-nostalgia__title">
                    Превращаем мечты в&nbsp;незабываемые события
                </h2>
                <p class="dreams-nostalgia__subtitle">
                    Мы&nbsp;понимаем, что для людей важны чувства, поэтому создаем события, которые меняют вас навсегда и&nbsp;позволяют прочувствовать весь спектр эмоций...
                </p>
                <div class="dreams-nostalgia__container">
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--first">
                        Ностальгию
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--second">
                        Радость
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--third">
                        Счастье
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--fourth">
                        <img src="img/drims/dreams/dream-inline.png" alt="image" class="dreams-nostalgia__item-image-inline">
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--fifth">
                        Единство
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dreams-scale">
        <svg class="dreams-scale__image-overlay js-dreams-scale-svg" width="1680" height="663" viewBox="0 0 1920 663" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
                <path d="M1135,0H1136V663H1135" class="vertical" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,219V218L2222,218V219" class="large-horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,329V328L1136,328V329" class="horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,439V438L1136,438V439" class="horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,551V550L1136,550V551" class="horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,663V662L2222,662V663" class="large-horizontal" fill="none" stroke="#D9D9D9" stroke-width="1" />
            </g>
        </svg>
        <div class="container">
            <h2 class="dreams-scale__title">
                Создаем события любого масштаба
            </h2>
        </div>
        <div class="dreams-scale__container">
                <ul class="dreams-scale__list">
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Корпоративные мероприятия
                            </div>
                            <div class="dreams-scale__item-text">
                                Презентации, корпоративы, обучения
                            </div>
                        </div>
                    </li>
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Профессиональные события
                            </div>
                            <div class="dreams-scale__item-text">
                                Конференции, трансляции, форумы
                            </div>
                        </div>
                    </li>
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Маркетинговые активности
                            </div>
                            <div class="dreams-scale__item-text">
                                Бренд-станции, рекламные акции, мастер-классы, пиар-кампании
                            </div>
                        </div>
                    </li>
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Культурные события
                            </div>
                            <div class="dreams-scale__item-text">
                                Ярмарки, fashion-показы, иммерсивные проекты, концерты
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="dreams-scale__block">
                    <button class="dreams-scale__block-button">
                        шаблоны
                    </button>
                    <p class="dreams-scale__block-text">
                        Мы&nbsp;против классических
                        шаблонов: для нас не&nbsp;существуют понятия &laquo;так не&nbsp;делают&raquo; или &laquo;так не&nbsp;принято&raquo;
                    </p>
                    <div class="dreams-scale__block-image"></div>
                </div>
            </div>
    </section>
{{/content}}
{{/extend}}