{{#extend "drims-layout"}}
{{#content "main"}}
    <section class="dreams-intro">
        <div class="dreams-intro__shape js-drims-intro-shape"></div>
        <div class="dreams-intro__overlay"></div>
        <div class="container">
            <div class="dreams-intro__content">
                <img src="img/drims/intro/title-icon.svg" alt="image" class="dreams-intro__title" />
                <p class="dreams-intro__text">
                    Агентство событий, о которых мечтают
                </p>
                <p class="dreams-intro__text-bottom">
                    Корпоративные мероприятия | Культурные события | Профессиональные события | Маркетинговые активности
                </p>
                <button class="dreams-intro__button">
                    Подробнее
                </button>
            </div>
        </div>
        <div class="dreams-intro__shape-bottom"></div>
    </section>

    <section class="dreams-events">
         <div class="dreams-events__shape-top"></div>
        <div class="dreams-events__shape"></div>
        <div class="container">
            <div class="dreams-events__content">
                <div class="dreams-events__item dreams-events__item--first">
                    <div class="block js-event-text-block">
                        <div class="dreams-events__glass-effect"></div>
                        <h2 class="dreams-events__title">
                            13 лет
                        </h2>
                        <p class="dreams-events__subtitle">
                            ярких событий
                        </p>
                    </div>
                </div>
                <div class="dreams-events__item dreams-events__item--second">
                    <div class="text">
                        Команда мечтателей и&nbsp;профессионалов, создающих самые яркие корпоративные события любого масштаба&nbsp;&mdash; от&nbsp;небольших бренд-активаций до&nbsp;огромных конференций и&nbsp;фееричных корпоративов
                    </div>
                </div>
                <div class="dreams-events__item dreams-events__item--third">
                    <div class="flex js-event-text-block-inline">
                         <div class="dreams-events__glass-effect dreams-events__glass-effect--inline"></div>
                        <div class="dreams-events__title">
                            5
                        </div>
                        <div class="dreams-events__subtitle">
                            федеральных наград
                        </div>
                    </div>
                </div>
                <div class="dreams-events__item dreams-events__item--fourth">
                    <div class="block js-event-text-block">
                         <div class="dreams-events__glass-effect dreams-events__glass-effect--small"></div>
                        <div class="dreams-events__title">
                            500+
                        </div>
                        <div class="dreams-events__subtitle">
                            проектов
                        </div>
                    </div>
                </div>

                <div class="dreams-events__cross cross cross--std">
                    <div></div>
                    <div></div>
                </div>

                 <div class="dreams-events__cross--small cross cross--sm">
                    <div></div>
                    <div></div>
                </div>

                <div class="dreams-events__cross--last cross cross--std">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>

    <div class="dreams-nostalgia__overlay"></div>
    <section class="dreams-nostalgia">
        <img src="img/drims/dreams/dream-party.png" alt="image" class="dreams-nostalgia__party-image">
        <div class="dreams-nostalgia__glass-effect"></div>
        <div class="dreams-nostalgia__bg-image-alien"></div>
        <div class="container">
            <div class="dreams-nostalgia__content">
                <div class="dreams-nostalgia__glass-effect-content"></div>
                <h2 class="dreams-nostalgia__title">
                    Превращаем мечты в&nbsp;незабываемые события
                </h2>
                <p class="dreams-nostalgia__subtitle">
                    Мы&nbsp;понимаем, что для людей важны чувства, поэтому создаем события, которые меняют вас навсегда и&nbsp;позволяют прочувствовать весь спектр эмоций...
                </p>
                <div class="dreams-nostalgia__container">
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--first js-dreams-text-animation--main">
                        <span>Ностальгию</span>
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--second js-dreams-text-animation js-dreams-text-animation--to-right">
                        Радость
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--third js-dreams-text-animation js-dreams-text-animation--to-left">
                        Счастье
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--fourth">
                        <img src="img/drims/dreams/dreams-inline.png" alt="image" class="dreams-nostalgia__item-image-inline">
                    </div>
                    <div class="dreams-nostalgia__item dreams-nostalgia__item--fifth js-dreams-text-animation js-dreams-text-animation--to-left">
                        Единство
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dreams-scale">
        <svg class="dreams-scale__image-overlay js-dreams-scale-svg" width="1680" height="663" viewBox="0 0 1920 663" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
                <path d="M1135,0H1136V663H1135" class="vertical" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,219V218L2222,218V219" class="large-horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,329V328L1136,328V329" class="horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,439V438L1136,438V439" class="horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,551V550L1136,550V551" class="horizontal" fill="none" stroke="#D9D9D9" stroke-width="1"/>
                <path d="M0,663V662L2222,662V663" class="large-horizontal" fill="none" stroke="#D9D9D9" stroke-width="1" />
            </g>
        </svg>
        <div class="container">
            <h2 class="dreams-scale__title">
                Создаем события любого масштаба
            </h2>
        </div>
        <div class="dreams-scale__container">
                <ul class="dreams-scale__list js-scale-animation-text">
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Корпоративные мероприятия
                            </div>
                            <div class="dreams-scale__item-text">
                                Презентации, корпоративы, обучения
                            </div>
                            <img class="dreams-scale__item-star" src="img/drims/scale/star.svg" alt="star-icon">
                        </div> 
                    </li>
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Профессиональные события
                            </div>
                            <div class="dreams-scale__item-text">
                                Конференции, трансляции, форумы
                            </div>
                            <img class="dreams-scale__item-star" src="img/drims/scale/star.svg" alt="star-icon">
                        </div> 
                    </li>
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Маркетинговые активности
                            </div>
                            <div class="dreams-scale__item-text">
                                Бренд-станции, рекламные акции, мастер-классы, пиар-кампании
                            </div>
                            <img class="dreams-scale__item-star" src="img/drims/scale/star.svg" alt="star-icon">
                        </div> 
                    </li>
                    <li class="dreams-scale__item">
                        <div class="dreams-scale__item-content">
                            <div class="dreams-scale__item-title">
                                Культурные события
                            </div>
                            <div class="dreams-scale__item-text">
                                Ярмарки, fashion-показы, иммерсивные проекты, концерты
                            </div>
                            <img class="dreams-scale__item-star" src="img/drims/scale/star.svg" alt="star-icon">
                        </div> 
                    </li>
                </ul>
                <div class="dreams-scale__block">
                    <button class="dreams-scale__block-button">
                        шаблоны
                    </button>
                    <p class="dreams-scale__block-text">
                        Мы&nbsp;против классических
                        шаблонов: для нас не&nbsp;существуют понятия &laquo;так не&nbsp;делают&raquo; или &laquo;так не&nbsp;принято&raquo;
                    </p>
                    <div class="dreams-scale__block-image"></div>
                </div>
            </div>
    </section>

    <section class="dreams-team">
        <div class="container">
            <div class="dreams-team__upper">
                <img src="img/drims/team/team-text.svg" alt="icon" class="dreams-team__img-text">
                <img src="img/drims/team/drims-text.svg" alt="icon" class="dreams-team__img-drims-text">
                <div class="dreams-team__content js-team-card-animation">
                    <div class="dreams-team__card">
                        <div class="dreams-team__card-wrapper">
                        <img src="img/drims/team/person-1.png" alt="person-icon" class="dreams-team__card-image">
                        <div class="dreams-team__card-info">
                            <div class="dreams-team__name">
                                Гульнара
                            </div>
                            <div class="dreams-team__worker">
                                Аккаунт-менеджер
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="dreams-team__card">
                        <div class="dreams-team__card-wrapper">
                        <img src="img/drims/team/person-2.png" alt="person-icon" class="dreams-team__card-image">
                        <div class="dreams-team__card-info">
                            <div class="dreams-team__name">
                                Максим
                            </div>
                            <div class="dreams-team__worker">
                                Исполнительный директор
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="dreams-team__card">
                        <div class="dreams-team__card-wrapper">
                        <img src="img/drims/team/person-3.png" alt="person-icon" class="dreams-team__card-image">
                        <div class="dreams-team__card-info">
                            <div class="dreams-team__name">
                                Ирина
                            </div>
                            <div class="dreams-team__worker">
                                Аккаунт-менеджер
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="dreams-team__card">
                        <div class="dreams-team__card-wrapper">
                        <img src="img/drims/team/person-4.png" alt="person-icon" class="dreams-team__card-image">
                        <div class="dreams-team__card-info">
                            <div class="dreams-team__name">
                                Лилия
                            </div>
                            <div class="dreams-team__worker">
                                Креативный директор
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="dreams-team__card">
                        <div class="dreams-team__card-wrapper">
                        <img src="img/drims/team/person-5.png" alt="person-icon" class="dreams-team__card-image">
                        <div class="dreams-team__card-info">
                            <div class="dreams-team__name">
                                Луиза
                            </div>
                            <div class="dreams-team__worker">
                                CEO агентства
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/drims/team/drims-baloon.png" alt="balloon" class="dreams-team__image-balloon">
        </div>
    </section>

    <section class="dreams-clients">
        <div class="container">
            <img src="img/drims/clients/clients-text.svg" alt="icon" class="dreams-clients__title-image"/>
                <p class="dreams-clients__text">
                    За&nbsp;13&nbsp;лет нам удалось поработать более чем с&nbsp;500&nbsp;клиентами, вот лишь некоторые из&nbsp;них
                </p>
        </div>
        <div class="dreams-clients__content js-loop">
            <img src="img/drims/clients/icon-1.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-2.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-3.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-4.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-5.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-6.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-7.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-8.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-9.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-10.svg" alt="icon" class="dreams-clients__icon">
            <img src="img/drims/clients/icon-11.svg" alt="icon" class="dreams-clients__icon">
        </div>
    </section>

    <section class="dreams-case">

        <div class="container">
            <div class="dreams-case__title-wrapper">
                <div class="dreams-case__title-mini">Наши</div>
                <h2 class="dreams-case__title js-dream-case-title">Кейсы</h2>
            </div>
        </div>

        <div class="dreams-case__wrapper">
            <svg class="js-dream-case-svg dreams-case__image-overlay" width="1920" height="1090" viewBox="0 0 1920 1090" fill="none" xmlns="http://www.w3.org/2000/svg">            
                <g opacity="0.5">
                    <path stroke="#D9D9D9" stroke-width="1" fill="none" d="M1155.97 0h1v201H1155.97" />
                    <path stroke="#D9D9D9" stroke-width="1" fill="none" d="M610.953 425h1.0948v254H610.953" />
                    <path stroke="#D9D9D9" stroke-width="1" fill="none" d="M360 0h1v680H360" />
                    <path stroke="#D9D9D9" stroke-width="1" fill="none" d="M906 680h1v395H906" />
                    <path transform="rotate(-90 0 680)" stroke="#D9D9D9" stroke-width="1" fill="none" d="M0 680h1v1920H0" />
                    <path transform="rotate(-90 0 425)" stroke="#D9D9D9" stroke-width="1" fill="none" d="M0 425h1v1920H0" />
                    <path transform="rotate(-90 0 202)" stroke="#D9D9D9" stroke-width="1" fill="none" d="M0 202h1v1920H0" />            
                </g>        
            </svg>

            <div class="container">
                <div class="dreams-case__content">
                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-1.png" alt="image" class="dreams-case__card-image">
                        <div class="dreams-case__card-info">
                            <div class="dreams-case__card-title">
                                BVLGARI х VERSALE
                            </div>
                            <div class="dreams-case__card-upper-title">
                                /Вечер-презентация
                            </div>
                            <p class="dreams-case__card-text">
                                Элегантность и&nbsp;атмосфера непревзойденной роскоши: VERSALE стали первыми в&nbsp;Казани, кто презентовал часы BVLGARI для ценителей искусства
                            </p>
                            <a href="#" class="dreams-case__card-link">
                                <span>
                                    Подробнее
                                </span>
                                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5L1 3.5ZM22.3536 4.35355C22.5488 4.15829 22.5488 3.84171 22.3536 3.64644L19.1716 0.464465C18.9763 0.269202 18.6597 0.269202 18.4645 0.464465C18.2692 0.659727 18.2692 0.976309 18.4645 1.17157L21.2929 4L18.4645 6.82843C18.2692 7.02369 18.2692 7.34027 18.4645 7.53553C18.6597 7.73079 18.9763 7.73079 19.1716 7.53553L22.3536 4.35355ZM1 4.5L22 4.5L22 3.5L1 3.5L1 4.5Z" fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-2.png" alt="image" class="dreams-case__card-image">
                        <div class="dreams-case__card-info">
                            <div class="dreams-case__card-title">
                                СОТКА
                            </div>
                            <div class="dreams-case__card-upper-title">
                            /Корпоратив
                            </div>
                            <p class="dreams-case__card-text">
                                Как космонавты изучают устройство звездного неба, так и&nbsp;сотрудники онлайн-школы СОТКА расширяют свои космические познания каждый день!
                            </p>
                            <a href="#" class="dreams-case__card-link">
                                <span>
                                    Подробнее
                                </span>
                                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5L1 3.5ZM22.3536 4.35355C22.5488 4.15829 22.5488 3.84171 22.3536 3.64644L19.1716 0.464465C18.9763 0.269202 18.6597 0.269202 18.4645 0.464465C18.2692 0.659727 18.2692 0.976309 18.4645 1.17157L21.2929 4L18.4645 6.82843C18.2692 7.02369 18.2692 7.34027 18.4645 7.53553C18.6597 7.73079 18.9763 7.73079 19.1716 7.53553L22.3536 4.35355ZM1 4.5L22 4.5L22 3.5L1 3.5L1 4.5Z" fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-3.png" alt="image" class="dreams-case__card-image">
                    </div>

                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-4.png" alt="image" class="dreams-case__card-image">
                        <div class="dreams-case__card-info">
                            <div class="dreams-case__card-title">
                                ТИНЬКОФФ
                            </div>
                            <div class="dreams-case__card-upper-title">
                            /Корпоратив
                            </div>
                            <p class="dreams-case__card-text">
                                Бар с&nbsp;компотами от&nbsp;бабушки, стоги ароматного сена и&nbsp;гамаки: создали уютную и&nbsp;уникальную атмосферу, в&nbsp;которой каждый снова смог почувствовать себя ребенком и&nbsp;испытать чувство ностальгии.
                            </p>
                            <a href="#" class="dreams-case__card-link">
                                <span>
                                    Подробнее
                                </span>
                                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5L1 3.5ZM22.3536 4.35355C22.5488 4.15829 22.5488 3.84171 22.3536 3.64644L19.1716 0.464465C18.9763 0.269202 18.6597 0.269202 18.4645 0.464465C18.2692 0.659727 18.2692 0.976309 18.4645 1.17157L21.2929 4L18.4645 6.82843C18.2692 7.02369 18.2692 7.34027 18.4645 7.53553C18.6597 7.73079 18.9763 7.73079 19.1716 7.53553L22.3536 4.35355ZM1 4.5L22 4.5L22 3.5L1 3.5L1 4.5Z" fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-5.png" alt="image" class="dreams-case__card-image">
                        <div class="dreams-case__card-info">
                            <div class="dreams-case__card-title">
                                SMEG
                            </div>
                            <div class="dreams-case__card-upper-title">
                            /Маркетинговое мероприятие
                            </div>
                            <p class="dreams-case__card-text">
                                Атмосфера настоящей итальянской кухни, где искусство кулинарии сочетается с&nbsp;элегантностью техники SMEG.
                            </p>
                            <a href="#" class="dreams-case__card-link">
                                <span>
                                    Подробнее
                                </span>
                                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5L1 3.5ZM22.3536 4.35355C22.5488 4.15829 22.5488 3.84171 22.3536 3.64644L19.1716 0.464465C18.9763 0.269202 18.6597 0.269202 18.4645 0.464465C18.2692 0.659727 18.2692 0.976309 18.4645 1.17157L21.2929 4L18.4645 6.82843C18.2692 7.02369 18.2692 7.34027 18.4645 7.53553C18.6597 7.73079 18.9763 7.73079 19.1716 7.53553L22.3536 4.35355ZM1 4.5L22 4.5L22 3.5L1 3.5L1 4.5Z" fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-6.png" alt="image" class="dreams-case__card-image">
                    </div>

                    <div class="dreams-case__card">
                        <img src="img/drims/cases/case-7.png" alt="image" class="dreams-case__card-image">
                        <div class="dreams-case__card-info">
                            <div class="dreams-case__card-title">
                            ДЗЕН
                            </div>
                            <div class="dreams-case__card-upper-title">
                                /Гастро-ужин
                            </div>
                            <p class="dreams-case__card-text">
                                Загадочная легенда башни Сююмбике,в которой гости становятся частью истории, а&nbsp;каждый кулинарный шедевр погружает в&nbsp;эпоху того времени.
                            </p>
                            <a href="#" class="dreams-case__card-link">
                                <span>
                                    Подробнее
                                </span>
                                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5L1 3.5ZM22.3536 4.35355C22.5488 4.15829 22.5488 3.84171 22.3536 3.64644L19.1716 0.464465C18.9763 0.269202 18.6597 0.269202 18.4645 0.464465C18.2692 0.659727 18.2692 0.976309 18.4645 1.17157L21.2929 4L18.4645 6.82843C18.2692 7.02369 18.2692 7.34027 18.4645 7.53553C18.6597 7.73079 18.9763 7.73079 19.1716 7.53553L22.3536 4.35355ZM1 4.5L22 4.5L22 3.5L1 3.5L1 4.5Z" fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <div class="gallery__wrapper">
                <h2 class="gallery__title">
                    <span class="gallery__title-top">
                        галерея
                    </span>
                    <span class="gallery__title-bottom">
                        воспоминаний
                    </span>
                </h2>
            </div>
            <div class="gallery__content js-gallery-images">
            <div class="gallery__content-wrapper">
                <img src="img/drims/gallery/gallery-1.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-2.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-3.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-4.png" alt="image" class="gallery__content-image">
            </div>
            <div class="gallery__content-wrapper">
                <img src="img/drims/gallery/gallery-5.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-6.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-7.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-8.png" alt="image" class="gallery__content-image">
            </div>
            <div class="gallery__content-wrapper">
                <img src="img/drims/gallery/gallery-9.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-10.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-11.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-12.png" alt="image" class="gallery__content-image">
            </div>
            <div class="gallery__content-wrapper">
                <img src="img/drims/gallery/gallery-13.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-14.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-15.png" alt="image" class="gallery__content-image">
                <img src="img/drims/gallery/gallery-16.png" alt="image" class="gallery__content-image">
            </div>
          </div>
        </div>
    </section>

    <section class="dreams-wish">
        <div class="dreams-wish__overlay"></div>
        <div class="container">
            <h2 class="dreams-wish__title">
                Мечтайте смелее!
            </h2>
            <p class="dreams-wish__text">
                Мы&nbsp;воплотим ваши мечты в&nbsp;реальность и&nbsp;сделаем событие ...
            </p>
            <div class="dreams-wish__items">
                <div class="dreams-wish__item white">
                    Запоминающимся
                </div>
                <div class="dreams-wish__item black">
                    Уникальным
                </div>
                <div class="dreams-wish__item outlined">
                    Отражающим вашу идентичность
                </div>
            </div>
        </div>
    </section>
{{/content}}
{{/extend}}