{{#extend "new-main"}}
    {{#content "main"}}
        <section class="franchise-intro">
            <picture>
                <source srcset="img/franchise-intro-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="img/franchise-intro-bg.webp" alt="MDN" class="franchise-intro__bg-image" />
            </picture>
            <img src="img/franchise-intro-blur.svg" alt="" class="franchise-intro__blur">
            <div class="container">
                <div class="franchise-intro__content">


                    <div class="franchise-intro__row">
                        <h1 class="franchise-intro__heading">
                            ФРАНШИЗА
                        </h1>
                        <div class="franchise-intro__text">
                            от второго оператора<br>
                            наружной рекламы<br>
                            в России
                        </div>
                    </div>
                    <div class="franchise-intro__wrapper">
                        <div class="franchise-intro__inner-wrapper">


                            <div class="franchise-intro__wrapper-text">
                                Начни бизнес в самой быстрорастущей медиасфере
                            </div>
                            <div class="franchise-intro__profit">
                                Доход от 400 000 ₽/мес.
                            </div>
                        </div>
                        <div class="franchise-intro__small-text">
                            * по данным АКАР,  за 1 кв. 2024 года  объем рынка наружной рекламы показал рост в 41%
                        </div>
                    </div>
                    <a href="#" class="franchise-intro__callback-link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>
        <section class="oon">
            <div class="container">
                <div class="oon__content">

                    <picture>
                        <source srcset="img/oon-bg-mobile.webp" media="(max-width: 640px)" />
                        <img src="img/oon-bg.webp" alt="MDN" class="oon__image" />
                    </picture>
                    <div class="oon__text-wrapper">
                        <h2 class="oon__heading">
                            Что такое бизнес в OOH?
                        </h2>
                        <ul class="oon__list">
                            <li class="oon__list-item">
                                Рекламная сфера, которая быстро развивается и пользуется постоянным спросом.
                            </li>
                            <li class="oon__list-item">
                                Размещение рекламы для крупнейших брендов, инвестирующих в продвижение внушительные
                                бюджеты.
                            </li>
                            <li class="oon__list-item">
                                Формирование нового и современного медиа, которое у всех на виду.
                            </li>
                        </ul>
                        <div class="oon__card">
                            Вы можете стать собственником рекламной конструкции и развивать свой бизнес вместе со вторым
                            оператором наружной рекламы в России!
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="your-start">


            <div class="container">
                <div class="your-start__content">
                    <div class="your-start__wrapper">
                        <h2 class="your-start__heading">
                            У нас есть всё <b>для вашего старта</b> на рынке наружной рекламы
                        </h2>
                        <div class="your-start__text">
                            Медиагруппа «РИМ» — второй оператор наружной рекламы в России и крупный рекламный холдинг.
                        </div>
                        <div class="your-start__numbers-wrapper">
                            <img src="img/your-start-map.svg" alt="MDN" class="your-start__map" />
                            <img src="img/your-start-blur.svg" alt="" class="your-start__blur">

                            <ul class="your-start__numbers-list">
                                <li class="your-start__numbers-list-item">
                                    <div class="your-start__numbers-card">
                                        <div class="your-start__numbers-card-amount">
                                            11 лет
                                        </div>
                                        <div class="your-start__numbers-card-text">
                                            на рынке
                                        </div>
                                    </div>
                                </li>
                                <li class="your-start__numbers-list-item">
                                    <div class="your-start__numbers-card">
                                        <div class="your-start__numbers-card-amount">
                                            136
                                        </div>
                                        <div class="your-start__numbers-card-text">
                                            городов
                                        </div>
                                    </div>
                                </li>
                                <li class="your-start__numbers-list-item">
                                    <div class="your-start__numbers-card">
                                        <div class="your-start__numbers-card-amount">
                                            42
                                        </div>
                                        <div class="your-start__numbers-card-text">
                                            региона
                                        </div>
                                    </div>
                                </li>
                                <li class="your-start__numbers-list-item">
                                    <div class="your-start__numbers-card">
                                        <div class="your-start__numbers-card-amount">
                                            6 532
                                        </div>
                                        <div class="your-start__numbers-card-text">
                                            конструкции
                                        </div>
                                    </div>
                                </li>
                                <li class="your-start__numbers-list-item">
                                    <div class="your-start__numbers-card">
                                        <div class="your-start__numbers-card-amount">
                                            30 241
                                        </div>
                                        <div class="your-start__numbers-card-text">
                                            рекламная поверхность
                                        </div>
                                    </div>
                                </li>
                                <li class="your-start__numbers-list-item">
                                    <div class="your-start__numbers-card">
                                        <div class="your-start__numbers-card-amount">
                                            10 080
                                        </div>
                                        <div class="your-start__numbers-card-text">
                                            рекламных&nbsp;digital-поверхностей
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <img src="img/fomin.webp" alt="" class="your-start__ceo-image">
                            <div class="your-start__ceo">
                                <div class="your-start__ceo-name">
                                    Илья Фомин
                                </div>
                                <div class="your-start__ceo-role">
                                    СЕО Медиагруппы «РИМ»
                                </div>
                            </div>
                        </div>
                        <div class="your-start__features-wrapper">

                            <img src="img/your-start-mobile-blur.webp" alt="" class="your-start__mobile-blur">
                            <ul class="your-start__features-list">
                                <li class="your-start__features-list-item">
                                    <div class="your-start__features-card">
                                        <b>масштабная сеть</b><br> рекламных конструкций
                                    </div>
                                </li>
                                <li class="your-start__features-list-item">
                                    <div class="your-start__features-card">
                                        <b>многолетняя экспертиза</b><br> в сфере наружной рекламы
                                    </div>
                                </li>
                                <li class="your-start__features-list-item">
                                    <div class="your-start__features-card">
                                        <b>собственное производство</b><br> рекламных экранов «Экраниум»
                                    </div>
                                </li>
                                <li class="your-start__features-list-item your-start__features-list-item--wide">
                                    <div class="your-start__features-card">
                                        <b>большой пул федеральных клиентов,</b> для которых мы запускаем охватные
                                        рекламные
                                        кампании по всей стране
                                    </div>
                                </li>
                                <li class="your-start__features-list-item your-start__features-list-item--wide">
                                    <div class="your-start__features-card">
                                        <b>мощнейший сейлз-хаус</b><br> из опытных селлеров, которые эффективно продают
                                        размещение на
                                        наших и партнерских конструкциях
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="what-is">
            <picture>
                <source srcset="img/what-is-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="img/what-is-bg.webp" alt="MDN" class="what-is__bg-image" />
            </picture>
            <div class="container">
                <div class="what-is__content">


                    <h2 class="what-is__heading">
                        Что такое франшиза<br> от медиагруппы «РИМ»?
                    </h2>
                    <div class="what-is__wrapper">
                        <img src="img/planet-one.webp" alt="" class="what-is__planet-one">
                        <img src="img/planet-two.webp" alt="" class="what-is__planet-two">

                        <ul class="what-is__list">
                            <li class="what-is__list-item">
                                <div class="what-is__card">
                                    <div class="what-is__card-number">
                                        1
                                    </div>
                                    <h3 class="what-is__card-title">
                                        Поддержка одного из крупнейших игроков рекламного рынка
                                    </h3>
                                    <div class="what-is__card-text">
                                        Будем сопровождать вас на каждом этапе запуска бизнеса. У нас есть всё для этого
                                        —
                                        экспертиза, ресурсы и влияние на рынке!
                                    </div>
                                </div>
                            </li>
                            <li class="what-is__list-item">
                                <div class="what-is__card">
                                    <div class="what-is__card-number">
                                        2
                                    </div>
                                    <h3 class="what-is__card-title">
                                        Источник пассивного дохода
                                    </h3>
                                    <div class="what-is__card-text">
                                        Берем на себя установку, обслуживание конструкций и продажи рекламного времени.
                                    </div>
                                </div>
                            </li>
                            <li class="what-is__list-item">
                                <div class="what-is__card">
                                    <div class="what-is__card-number">
                                        3
                                    </div>
                                    <h3 class="what-is__card-title">
                                        Организация продаж под ключ
                                    </h3>
                                    <div class="what-is__card-text">
                                        Наши менеджеры по продажам обеспечат заполняемость ваших конструкций.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="what-is__link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>

        <section class="demand">
            <picture>
                <source srcset="img/demand-image-mobile.webp" media="(max-width: 640px)" />
                <img src="img/demand-image.webp" alt="MDN" class="demand__image" />
            </picture>
            <div class="container">
                <div class="demand__content">

                    <h2 class="demand__heading">
                        Спрос на наружную рекламу <b>растет с каждым годом</b> — присоединяйтесь!
                    </h2>
                    <div class="demand__wrapper">
                        <div class="demand__text">
                            * по данным АКАР за I квартал 2024 года
                        </div>
                        <a href="#" class="demand__callback-link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="packed">
            <div class="container">
                <div class="packed__content">
                    <h2 class="packed__heading">
                        Упаковали в франшизу всё для успеха вашего бизнеса
                    </h2>
                    <ul class="packed__list">
                        <li class="packed__list-item">
                            <div class="packed__card">
                                <img src="img/badge.svg" alt="" class="packed__card-icon">
                                <div class="packed__card-text">
                                    <b>Продажи размещения</b><br> на установленном вами инвентаре
                                </div>
                            </div>
                        </li>
                        <li class="packed__list-item">
                            <div class="packed__card">
                                <img src="img/info.svg" alt="" class="packed__card-icon">
                                <div class="packed__card-text">
                                    <b>Доступ к уникальной базе знаний</b> с подробными инструкциями по установке
                                    рекламных
                                    конструкций, регламентами, шаблонами договоров и т.д.
                                </div>
                            </div>
                        </li>
                        <li class="packed__list-item">
                            <div class="packed__card">
                                <img src="img/univer.svg" alt="" class="packed__card-icon">
                                <div class="packed__card-text">
                                    <b>Юридическая</b> поддержка
                                </div>
                            </div>
                        </li>
                        <li class="packed__list-item">
                            <div class="packed__card">
                                <img src="img/package.svg" alt="" class="packed__card-icon">
                                <div class="packed__card-text">
                                    <b>Полный пакет</b><br> для установки конструкции
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="formats">
            <img src="img/formats-bg.webp" alt="MDN" class="formats__bg-image" />
            <div class="container">
                <div class="formats__content">
                    <h2 class="formats__heading">
                        Два формата франшизы
                    </h2>
                    <ul class="formats__list">
                        <li class="formats__list-item">
                            <img src="img/formats-mobile-top-blur.webp" alt="" class="formats__mobile-top-blur">
                            <div class="formats__top-card">
                                <h3 class="formats__top-card-heading">
                                    Бизнес
                                </h3>
                                <div class="formats__top-card-text">
                                    Доступ к базе знаний и установка<br> рекламной конструкции в вашем городе.
                                </div>
                            </div>
                            <div class="formats__bottom-card">
                                <ul class="formats__numbers-list">
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                700 тыс. ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Паушальный взнос
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                180 тыс. ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Чистая прибыль
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                от 2,5 млн ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Объем инвестиций
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                14-18 мес.
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Окупаемость
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                400 тыс. ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Выручка
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="formats__list-item">
                            <img src="img/formats-mobile-bottom-blur.webp" alt="" class="formats__mobile-bottom-blur">
                            <div class="formats__top-card">
                                <h3 class="formats__top-card-heading">
                                    Инвест
                                </h3>
                                <div class="formats__top-card-text">
                                    Инвестирование в установку рекламных конструкций<br> по всей России и получение
                                    пассивного дохода.
                                </div>
                            </div>
                            <div class="formats__bottom-card">
                                <ul class="formats__numbers-list">
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                700 тыс. ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Паушальный взнос
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                3 млн ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Чистая прибыль
                                            </div>
                                        </div>
                                    </li>

                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                от 50 млн ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Объем инвестиций
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                14-18 мес.
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Окупаемость
                                            </div>
                                        </div>
                                    </li>
                                    <li class="formats__numbers-list-item">
                                        <div class="formats__numbers-card">
                                            <div class="formats__numbers-card-amount">
                                                7 млн ₽
                                            </div>
                                            <div class="formats__numbers-card-text">
                                                Выручка
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="formats__callback-link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>
        <section class="pauchal">
            <img src="img/pauchal-blur.webp" alt="" class="pauchal__blur">
            <picture>
                <source srcset="img/pauchal-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="img/pauchal-bg.webp" alt="MDN" class="pauchal__bg-image" />
            </picture>
            <div class="container">
                <div class="pauchal__content">
                    <div class="pauchal__wrapper">
                        <h2 class="pauchal__heading">
                            Паушальный взнос состоит из <b>двух частей</b>
                        </h2>
                        <div class="pauchal__heading-text">
                            *относится только к формату «Бизнес»
                        </div>
                        <ul class="pauchal__list">
                            <li class="pauchal__list-item">
                                <div class="pauchal__card">
                                    <div class="pauchal__card-top">
                                        <div class="pauchal__card-amount">
                                            300 тыс. ₽
                                        </div>
                                        <div class="pauchal__card-text">
                                            Обучение. Разработка проекта. Бизнес-модель. Получение разрешения на
                                            установку билборда.
                                        </div>
                                    </div>
                                    <ul class="pauchal__card-list">
                                        <li class="pauchal__card-list-item">
                                            доступ к базе знаний с инструкциями, регламентами, шаблонами договоров и
                                            т.д.
                                        </li>
                                        <li class="pauchal__card-list-item">
                                            экономическое обоснование бизнес-проекта: прогнозируемый средний чек,
                                            окупаемость и объем выручки
                                        </li>
                                        <li class="pauchal__card-list-item">
                                            консультации по юридическим вопросам
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pauchal__list-item">
                                <div class="pauchal__card">
                                    <div class="pauchal__card-top">
                                        <div class="pauchal__card-amount">
                                            400 тыс. ₽
                                        </div>
                                        <div class="pauchal__card-text">
                                            Установка билборда и запуск продаж.
                                        </div>
                                    </div>
                                    <ul class="pauchal__card-list">
                                        <li class="pauchal__card-list-item">
                                            поиск подрядчиков и установка конструкции
                                        </li>
                                        <li class="pauchal__card-list-item">
                                            передача права на использование товарного знака «РИМ BILLBOARD»
                                        </li>
                                        <li class="pauchal__card-list-item">
                                            организация локальных и федеральных продаж под ключ
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="pauchal__callback">
                            Получить бизнес-план
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="installation">
            <picture>
                <source srcset="img/installation-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="img/installation-bg.webp" alt="MDN" class="installation__bg-image" />
            </picture>
            <div class="container">
                <div class="installation__content">
                    <h2 class="installation__heading">
                        <b>База знаний</b> для установки вашей первой конструкции
                    </h2>
                    <ul class="installation__list">
                        <li class="installation__list-item">
                            <div class="installation__card">
                                <h3 class="installation__card-heading">
                                    Подробные инструкции
                                </h3>
                                <div class="installation__card-text">
                                    Они позволят вам быстро и без проблем получить разрешение на установку
                                    digital-билборда или медиафасада
                                </div>

                                <ul class="installation__card-list">
                                    <li class="installation__card-list-item">
                                        Как выбрать место для РК?
                                    </li>
                                    <li class="installation__card-list-item">
                                        Как договориться с администрацией?
                                    </li>
                                    <li class="installation__card-list-item">
                                        Как получить все необходимые документы?
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li class="installation__list-item">
                            <div class="installation__card">
                                <h3 class="installation__card-heading">
                                    Регламенты и шаблоны договоров
                                </h3>
                                <div class="installation__card-text">
                                    Все необходимое для получения разрешения в одном месте — просто и удобно!
                                </div>


                            </div>
                        </li>
                        <br>
                        <li class="installation__list-item">
                            <div class="installation__card">
                                <h3 class="installation__card-heading">
                                    Рекомендации от экспертов
                                </h3>
                                <div class="installation__card-text">
                                    Советы наших специалистов, занимающихся установкой новых билбордов и медиафасадов
                                </div>
                            </div>
                        </li>
                        <li class="installation__list-item">
                            <div class="installation__card">
                                <h3 class="installation__card-heading">
                                    Поддержка 24/7
                                </h3>
                                <div class="installation__card-text">
                                    Чтобы вы могли задать любой вопрос, касающийся юридических или технических нюансов,
                                    и получить развернутый ответ от специалистов.
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="installation__callback">
                        Получить доступ к базе знаний
                    </a>
                </div>
            </div>
        </section>

        <section class="has-questions">
            <picture>
                <source srcset="img/has-questions-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="img/has-questions-bg.webp" alt="MDN" class="has-questions__image" />
            </picture>
            <div class="container">
                <div class="has-questions__content">
                    <div class="has-questions__wrapper">
                        <h2 class="has-questions__heading">
                            Мы всегда рады ответить на ваши вопросы
                        </h2>
                        <div class="has-questions__text">
                            Оставьте заявку — мы свяжемся с вами в ближайшее время, проконсультируем по всем вопросам и
                            подробно расскажем о нашей франшизе в формате телефонного звонка или онлайн-конференции!
                        </div>
                        <a href="#" class="has-questions__link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}