{{#extend "new-main"}}
    {{#content "main"}}

        <section class="management-intro">
            <div class="management-intro__bg">
                <picture>
                    <source srcset="img/management-intro-mobile.webp" media="(max-width: 640px)" />
                    <img src="img/management-intro.webp" alt="" class="management-intro__bg-image">
                </picture>
            </div>
            <div class="container">
                <div class="management-intro__content">
                    <h1 class="management-intro__heading">
                        Руководители<br> Медиагруппы «РИМ»
                    </h1>
                    <div class="management-intro__quote">
                        <div class="management__quote-text">
                            Мы привлекаем в команду лучших специалистов и талантов из медиасферы России. Сейчас в штате
                            более 550 человек, и с каждым днем нас становится все больше
                        </div>
                        <div class="management-intro__quote-author">
                            <div class="management-intro__quote-name">
                                Илья Фомин
                            </div>
                            <div class="management-intro__quote-position">
                                CEO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="management-people">
            <div class="management-people__bg">
                <img src="img/management-people-blur.svg" alt="" class="management-people__bg-image">
            </div>
            <div class="container">
                <div class="management-people__content">
                    <ul class="management-people__list">
                        <li class="management-people__list-item">
                            <div class="management-people__card">
                                <div class="management-people__card-image-container">
                                    <img src="img/management-people/1.webp" alt=""
                                        class="management-people__card-image">
                                </div>
                                <div class="management-people__card-content">
                                    <h3 class="management-people__card-name">
                                        Эльмира Капитанова
                                    </h3>
                                    <div class="management-people__card-position">
                                        Операционный директор
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="management-people__list-item">
                            <div class="management-people__card">
                                <div class="management-people__card-image-container">
                                    <img src="img/management-people/2.webp" alt=""
                                        class="management-people__card-image">
                                </div>
                                <div class="management-people__card-content">
                                    <h3 class="management-people__card-name">
                                        Игорь Бандорин
                                    </h3>
                                    <div class="management-people__card-position">
                                        Директор по развитию
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="management-people__list-item">
                            <div class="management-people__card">
                                <div class="management-people__card-image-container">
                                    <img src="img/management-people/3.webp" alt=""
                                        class="management-people__card-image">
                                </div>
                                <div class="management-people__card-content">
                                    <h3 class="management-people__card-name">
                                        Никита Мосеев
                                    </h3>
                                    <div class="management-people__card-position">
                                        Директор по федеральным продажам
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="management-work">
            <div class="management-work__bg">
                <picture>
                    <source srcset="img/management-work-mobile.webp" media="(max-width: 640px)" />
                    <img src="img/management-work.webp" alt="" class="management-work__bg-image">
                </picture>
            </div>
            <div class="container">
                <div class="management-work__content">
                    <h2 class="management-work__title">
                        Работай и развивайся в команде крупнейшего
                        регионального медиахолдинга
                    </h2>
                    <div class="management-work__text">
                        под руководством профессионалов рекламного рынка с многолетним стажем
                    </div>
                    <a href="#" class="management-work__link">
                        Хочу в команду!
                    </a>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}