{{#extend "new-main"}}
    {{#content "main"}}
        <section class="new-main-intro">
            <div class="container">
                <div class="new-main-intro__content">
                    <div class="new-main-intro__row">
                        <h1 class="new-main-intro__heading">
                            ВТОРОЙ ОПЕРАТОР НАРУЖНОЙ РЕКЛАМЫ В РОССИИ
                        </h1>
                        <div class="new-main-intro__text-content">
                            <div class="new-main-intro__text">
                                «РИМ» предоставляет весь спектр услугдля продвижения бизнеса — от разработки медиапланов
                                и стратегий до реализации рекламных кампаний любого масштаба
                            </div>
                            <div class="new-main-intro__wrapper">
                                <a href="#" class="new-main-intro__link">
                                    Оставить заявку
                                </a>
                                <ul class="new-main-intro__social-list">
                                    <li class="new-main-intro__social-list-item">
                                        <a href="#" class="new-main-intro__social-link">
                                            <img src="img/new-intro/telegram.svg" alt=""
                                                class="news-main-intro__social-link-icon">
                                        </a>
                                    </li>
                                    <li class="new-main-intro__social-list-item">
                                        <a href="#" class="new-main-intro__social-link">
                                            <img src="img/new-intro/vk.svg" alt=""
                                                class="news-main-intro__social-link-icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="new-main-intro__slider">
                        <img src="img/intro-slider-blur-simple.webp" alt="" class="new-main-intro__slider-blur">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="new-main-intro__slider-card">
                                        <div class="new-main-intro__slider-card-container">
                                            <img src="img/intro-slider.webp" alt=""
                                                class="new-main-intro__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-intro__slider-card">
                                        <div class="new-main-intro__slider-card-container">
                                            <img src="img/intro-slider.webp" alt=""
                                                class="new-main-intro__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-intro__slider-card">
                                        <div class="new-main-intro__slider-card-container">
                                            <img src="img/intro-slider.webp" alt=""
                                                class="new-main-intro__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-intro__slider-card">
                                        <div class="new-main-intro__slider-card-container">
                                            <img src="img/intro-slider.webp" alt=""
                                                class="new-main-intro__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-intro__slider-card">
                                        <div class="new-main-intro__slider-card-container">
                                            <img src="img/intro-slider.webp" alt=""
                                                class="new-main-intro__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-main-intro__scroll-down">

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-numbers">
            <div class="container">
                <div class="new-numbers__content">
                    <ul class="new-numbers__list">
                        <li class="new-numbers__list-item">
                            <div class="new-numbers__card">
                                <div class="new-numbers__card-amount">
                                    11 <b>лет</b>
                                </div>
                                <div class="new-numbers__card-text">
                                    развиваем рекламный рынок страны
                                </div>
                            </div>
                        </li>
                        <li class="new-numbers__list-item">
                            <div class="new-numbers__card">
                                <div class="new-numbers__card-amount">
                                    6 <b>офисов</b>
                                </div>
                                <div class="new-numbers__card-text">
                                    в Казани, Москве, Перми, Уфе
                                </div>
                            </div>
                        </li>
                        <li class="new-numbers__list-item">
                            <div class="new-numbers__card">
                                <div class="new-numbers__card-amount">
                                    6 532
                                </div>
                                <div class="new-numbers__card-text">
                                    конструкции в сети
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="new-numbers__achivements">
                        <ul class="new-numbers__achivements-list">
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/1.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            5 134
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            билборда
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/2.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            54
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            медиафасада
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/3.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            481
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            остановка
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/4.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            295
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            ситибордов
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="new-numbers__achivements-list">
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/5.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            135
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            суперсайтов
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/6.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            105
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            пилларов
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/7.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            609
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            ситиформатов
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="new-numbers__achivements-list-item">
                                <div class="new-numbers__achivements-card">
                                    <img src="img/new-numbers/8.svg" alt="" class="new-numbers__achivements-card-icon">
                                    <div class="new-numbers__achivements-card-content">
                                        <div class="new-numbers__achivements-card-amount">
                                            36
                                        </div>
                                        <div class="new-numbers__achivements-card-text">
                                            других форматов
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-services">
            <img src="img/new-main/new-main-clients-blur.webp" alt="" class="new-services__bg-image">
            <div class="container">
                <div class="new-services__content">
                    <h2 class="new-services__heading">
                        Полный спектр услуг для запуска рекламы
                    </h2>
                    <ul class="new-services__list">
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                Размещение в наружной рекламе
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                indoor-реклама
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                OOH-баинг
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                медиабаинг
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                медиапланирование
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                рекламные стратегии
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                интернет-реклама
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                реклама на такси
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                реклама в салонах Tele2
                            </div>
                        </li>
                        <li class="new-services__list-item">
                            <div class="new-services__card">
                                #
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="new-guarantee">
            <div class="container">
                <div class="new-guarantee__content">
                    <div class="new-guarantee__text-content">
                        <h2 class="new-guarantee__heading">
                            Гарантируем широкий охват
                        </h2>
                        <ul class="new-guarantee__list">
                            <li class="new-guarantee__list-item">
                                <div class="new-guarantee__card">
                                    <div class="new-guarantee__card-amount">
                                        N
                                        <span>
                                            млн людей
                                        </span>

                                    </div>
                                    <div class="new-guarantee__card-value">
                                        ежедневно видят рекламу на конструкциях нашей сети
                                    </div>
                                </div>
                            </li>
                            <li class="new-guarantee__list-item">
                                <div class="new-guarantee__card">
                                    <div class="new-guarantee__card-amount">
                                        136
                                        <span>
                                            городов
                                        </span>

                                    </div>
                                    <div class="new-guarantee__card-value">
                                        доступно для размещения рекламы
                                    </div>
                                </div>
                            </li>
                            <li class="new-guarantee__list-item">
                                <div class="new-guarantee__card">
                                    <div class="new-guarantee__card-amount">
                                        30 241
                                    </div>
                                    <div class="new-guarantee__card-value">
                                        рекламная поверхность в сети
                                    </div>
                                </div>
                            </li>
                            <li class="new-guarantee__list-item">
                                <div class="new-guarantee__card">
                                    <div class="new-guarantee__card-amount">
                                        23,5
                                        <span>
                                            млрд
                                        </span>

                                    </div>
                                    <div class="new-guarantee__card-value">
                                        ежемесячный OTS сети
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="new-guarantee__wrapper">
                            <a href="#" class="new-guarantee__link">
                                Оставить заявку
                            </a>
                            <div class="new-guarantee__text">
                                C вами свяжется менеджер,<br> подберет и забронирует для вас конструкции
                            </div>
                        </div>
                    </div>
                    <img src="img/new-guarantee.webp" alt="" class="new-guarantee__image">
                </div>
            </div>
        </section>
        <section class="new-federal">
            <div class="container">
                <div class="new-federal__content">
                    <div class="new-federal__text-content">
                        <h2 class="new-federal__heading">
                            Федеральная партнерская сеть конструкций
                        </h2>
                        <ul class="new-federal__list">
                            <li class="new-federal__list-item">
                                <div class="new-federal__card">
                                    <div class="new-federal__card-key">
                                        1 572
                                    </div>
                                    <div class="new-federal__card-value">
                                        конструкции<br> медиагруппы «РИМ»
                                    </div>
                                </div>
                            </li>
                            <li class="new-federal__list-item">
                                <div class="new-federal__card">
                                    <div class="new-federal__card-key">
                                        4 960
                                    </div>
                                    <div class="new-federal__card-value">
                                        конструкций<br> партнеров
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="new-federal__text">
                            У вас есть рекламные конструкции? Мы предлагаем присоединиться к федеральной партнерской
                            сети
                            рекламных конструкций. Вы повысите свои продажи, получите размещения от федеральных брендов
                            и
                            снизите операционные расходы. Больше размещений от федеральных клиентов, меньше простоев,
                            конструкции дешевле в эксплуатации. Присоединяйтесь!
                        </div>
                        <ul class="new-federal__features-list">
                            <li class="new-federal__features-list-item">
                                <div class="new-federal__features-card">
                                    Никаких простоев. Мы заведем новых клиентов и заполним вашу сеть на 100%
                                </div>
                            </li>
                            <li class="new-federal__features-list-item">
                                <div class="new-federal__features-card">
                                    Экономия ФОТ. Мы поможем сократить штат — часть работ возьмут на себя наши службы
                                </div>
                            </li>
                            <li class="new-federal__features-list-item">
                                <div class="new-federal__features-card">
                                    Оптимизация расходов.
                                    Подскажем, как сократить стоимость обслуживания билбордов
                                </div>
                            </li>
                        </ul>
                        <div class="new-federal__btns">
                            <a href="#" class="new-federal__btn new-federal__btn--filled">
                                Карта сети
                            </a>
                            <a href="#" class="new-federal__btn">
                                Карта сети
                            </a>
                        </div>
                    </div>
                    <div class="new-federal__image-grid">
                        <div class="new-federal__image-grid-card">
                            <img src="img/new-federal/1.webp" alt="" class="new-federal__image-grid-card-image">
                        </div>
                        <div class="new-federal__image-grid-card">
                            <img src="img/new-federal/2.webp" alt="" class="new-federal__image-grid-card-image">
                        </div>
                        <div class="new-federal__image-grid-card">
                            <img src="img/new-federal/3.webp" alt="" class="new-federal__image-grid-card-image">
                        </div>
                        <div class="new-federal__image-grid-card">
                            <img src="img/new-federal/4.webp" alt="" class="new-federal__image-grid-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="new-main-red-tag">
            <div class="new-main-red-tag__bg">
                <img src="img/new-main/new-main-red-tag-blur.webp" alt="" class="new-main-red-tag__bg-image">
            </div>
            <div class="container">
                <div class="new-main-red-tag__content">
                    <div class="new-main-red-tag__text-content">
                        <h2 class="new-main-red-tag__heading">
                            Конструкции в любом городе России
                        </h2>
                        <div class="new-main-red-tag__text">
                            <p>
                                Если вам не хватает конструкций в конкретных городах, мы сами найдем их у других
                                операторов
                                и включим в адресную программу. В медиагруппе «РИМ» этим занимается Redtag Mediabuying
                                Lowcoster Agency — баинговое агентство, специализирующеесяна закупке OOH- и
                                DOOH-инвентаря
                                на всей территории России.
                            </p>
                            <p>
                                RedTag не работает с прямыми клиентами и брендами, а производит закупку, планирование и
                                размещение только для профессиональных участников рынка — медиаагентств и операторов
                                наружной рекламы.
                            </p>
                        </div>
                        <a href="#" class="new-main-red-tag__link">
                            Узнать подробнее
                        </a>
                    </div>
                    <div class="new-main-red-tag__image-wrapper">
                        <img src="img/new-main/red-tag.webp" alt="" class="new-main-red-tag__image">
                    </div>
                </div>
            </div>
        </section>
        <section class="new-main-team">
            <div class="container">
                <div class="new-main-team__content">
                    <div class="new-main-team__row">
                        <div class="new-main-team__text-content">
                            <h2 class="new-main-team__heading">
                                Работайте с профессионалами
                            </h2>
                            <ul class="new-main-team__list">
                                <li class="new-main-team__list-item">
                                    <div class="new-main-team__card">
                                        <div class="new-main-team__card-number">
                                            1/4
                                        </div>
                                        <div class="new-main-team__card-text">
                                            Мы работаем в сфере наружной рекламы очень давно.У нас отличный сервис,
                                            потому что мы знаем, чего хотят клиенты. С нами не бывает непредвиденных
                                            ситуаций, потому что мы предусмотрели все.
                                        </div>
                                        <div class="new-main-team__card-dots">
                                            <span class="filled"></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="new-main-team__list-item">
                                    <div class="new-main-team__card">
                                        <div class="new-main-team__card-number">
                                            2/4
                                        </div>
                                        <div class="new-main-team__card-text">
                                            Если вам нужна реклама в небольшом городе, мы сами закупим ее у операторов,
                                            чтобы вы работали с одной компанией
                                            и сохранили скидку за объем.
                                        </div>
                                        <div class="new-main-team__card-dots">
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="new-main-team__list-item">
                                    <div class="new-main-team__card">
                                        <div class="new-main-team__card-number">
                                            3/4
                                        </div>
                                        <div class="new-main-team__card-text">
                                            Мы предлагаем работу под ключ:<br> по одному договору вы получаете
                                            аренду,<br>
                                            разработку макета, печать и монтаж. Мы с вами от начала до конца.
                                        </div>
                                        <div class="new-main-team__card-dots">
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="new-main-team__list-item">
                                    <div class="new-main-team__card">
                                        <div class="new-main-team__card-number">
                                            4/4
                                        </div>
                                        <div class="new-main-team__card-text">
                                            Мы предлагаем оригинальные и эффективные макеты. Поможем вам выделиться
                                            среди конкурентов, рассказать о выгодном предложении или создать ажиотаж.
                                        </div>
                                        <div class="new-main-team__card-dots">
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="new-main-team__callback">
                                <a href="#" class="new-main-team__callback-link">
                                    Узнать стоимость
                                </a>
                                <div class="new-main-team__callback-text">
                                    Оставьте заявку прямо сейчас — менеджер оперативно рассчитает, сколько будет стоить
                                    ваша реклама.
                                </div>
                            </div>
                        </div>
                        <div class="new-main-team__image-wrapper">


                            <img src="img/new-main/new-main-team.webp" alt="" class="new-main-team__image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-main-quality">
            <div class="container">
                <div class="new-main-quality__content">
                    <div class="new-main-quality__row">
                        <div class="new-main-quality__text-content">
                            <h2 class="new-main-quality__heading">
                                Качество на всех этапах
                            </h2>
                            <ul class="new-main-quality__list">
                                <li class="new-main-quality__list-item">
                                    <div class="new-main-quality__card">
                                        <h3 class="new-main-quality__card-title">
                                            Эффектный и эффективный дизайн
                                        </h3>
                                        <div class="new-main-quality__card-text">
                                            Мы создаем яркие и запоминающиеся макеты, которые приводят новых клиентов.
                                            Мы знаем, как сделать эффективную рекламу на летний и зимний сезон и как
                                            выделить вас среди конкурентов.
                                        </div>
                                        <div class="new-main-quality__card-number">
                                            <span class="filled"></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="new-main-quality__list-item">
                                    <div class="new-main-quality__card">
                                        <h3 class="new-main-quality__card-title">
                                            Печать по всей России
                                        </h3>
                                        <div class="new-main-quality__card-text">
                                            У нас есть база проверенных партнеров, которые соответствуют нашим высоким
                                            техническим требованиям. Качество печати всегда проверяется перед монтажом
                                            материала на конструкцию.
                                        </div>
                                        <div class="new-main-quality__card-number">
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="new-main-quality__list-item">
                                    <div class="new-main-quality__card">
                                        <h3 class="new-main-quality__card-title">
                                            Аккуратный монтаж
                                        </h3>
                                        <div class="new-main-quality__card-text">
                                            Главное в монтаже — это сервис и внимательность. Мы соблюдаем сроки, следим
                                            за состоянием инвентаря, проводим мониторинг размещенийи прислушиваемся к
                                            пожеланиям заказчиков.
                                        </div>
                                        <div class="new-main-quality__card-number">
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="new-main-quality__list-item">
                                    <div class="new-main-quality__card">
                                        <h3 class="new-main-quality__card-title">
                                            Аккуратный монтаж
                                        </h3>
                                        <div class="new-main-quality__card-text">
                                            Главное в монтаже — это сервис и внимательность. Мы соблюдаем сроки, следим
                                            за состоянием инвентаря, проводим мониторинг размещенийи прислушиваемся к
                                            пожеланиям заказчиков.
                                        </div>
                                        <div class="new-main-quality__card-number">
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                            <span class="filled"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="new-main-quality__image-wrapper">
                            <img src="img/new-main/quality.webp" alt="" class="new-main-quality__image">
                            <img src="img/new-main/quality-small-blur.webp" alt="" class="new-main-quality__small-blur">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-main-news">
            <div class="container">
                <div class="new-main-news__content">


                    <div class="new-main-news__toggle">
                        <button class="new-main-news__toggle-btn active">
                            Новости
                        </button>
                        <button class="new-main-news__toggle-btn">
                            Статьи
                        </button>
                    </div>
                    <div class="new-main-news__tabs">
                        <div class="new-main-news__tabs-item">
                            <div class="new-main-news__slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-main-news__slider-arrows">
                                    <button class="new-main-news__slider-arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#new-slider-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="new-main-news__slider-arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#new-slider-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="new-main-news__tabs-item">
                            <div class="new-main-news__slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="new-main-news__slider-card">
                                                <div class="new-main-news__slider-card-image-container">
                                                    <img src="img/new-main/news.webp" alt=""
                                                        class="new-main-news__slider-card-image">
                                                </div>
                                                <h3 class="new-main-news__slider-card-title">
                                                    +3 digital-билборда в Казани
                                                </h3>
                                                <div class="new-main-news__slider-card-more">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#more-arrow"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-main-news__slider-arrows">
                                    <button class="new-main-news__slider-arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#new-slider-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="new-main-news__slider-arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#new-slider-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-main-clients">
            <div class="new-main-clients__bg-image-wrapper">


                <img src="img/new-main/new-main-clients-blur.webp" alt="" class="new-main-clients__bg-image">
            </div>
            <div class="container">
                <h2 class="new-main-clients__heading">
                    Наши клиенты
                </h2>
                <ul class="new-main-clients__list">
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/eda.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/unistroy.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/yandex.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/lexus.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/tatneft.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/abg.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/arena.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/eldorado.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/vtb.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/five.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/megafon.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/gazprom.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/citimobile.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/dns.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/perekrestok.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/castorama.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/uber.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/obi.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/magnit.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/energobank.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/alpha.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/tinkoff.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/lenta.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/tele2.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                    <li class="new-main-clients__list-item">
                        <div class="new-main-clients__card">
                            <img src="img/new-main/clients/mac.svg" alt="" class="new-main-clients__card-image">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="new-main-reviews">
            <div class="container">
                <h2 class="new-main-reviews__heading">
                    Отзывы о нас
                </h2>
                <div class="new-main-reviews__slider">
                    <div class="new-main-reviews__slider-wrapper">
                        <button class="new-main-reviews__slider-arrow new-main-reviews__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#new-slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="new-main-reviews__slider-arrow new-main-reviews__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#new-slider-arrow-right"></use>
                            </svg>
                        </button>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="new-main-reviews__slider-group">
                                        <div class="new-main-reviews__slider-card">
                                            <div class="new-main-reviews__slider-card-bg"></div>
                                            <div class="new-main-reviews__slider-card-photo-container">
                                                <img src="img/new-main/quote-author.webp" alt=""
                                                    class="new-main-reviews__slider-card-photo">
                                            </div>
                                            <div class="new-main-reviews__slider-card-info">
                                                <div class="new-main-reviews__slider-card-name">
                                                    Диляра Усманова
                                                </div>
                                                <div class="new-main-reviews__slider-card-role">
                                                    Директор ООО Рекламное агентство «ЭЛ-ПРОДЖЕКТС»
                                                </div>
                                            </div>
                                            <div class="new-main-reviews__slider-card-text">
                                                Мы много лет работаем на рекламном рынке и взыскательно выбираем
                                                партнеров для сотрудничества. РИМ-медиа привлек нас высоким уровнем
                                                клиентского сервиса. Коллеги оперативны, отлично знают свое дело, всегда
                                                на связи. А главное, РИМ предоставляет возможность размещения не только
                                                в Казани, но и в других - малых городах Татарстана. Так что, если нужны
                                                щиты по всей республике, мы знаем - все дороги ведут в РИМ!
                                            </div>
                                        </div>
                                        <div class="new-main-reviews__slider-card">
                                            <div class="new-main-reviews__slider-card-bg"></div>
                                            <div class="new-main-reviews__slider-card-photo-container">
                                                <img src="img/new-main/quote-author.webp" alt=""
                                                    class="new-main-reviews__slider-card-photo">
                                            </div>
                                            <div class="new-main-reviews__slider-card-info">
                                                <div class="new-main-reviews__slider-card-name">
                                                    Ольга Радченко
                                                </div>
                                                <div class="new-main-reviews__slider-card-role">
                                                    Аптеки «Апрель»
                                                </div>
                                            </div>
                                            <div class="new-main-reviews__slider-card-text">
                                                Сеть аптек «Апрель» выражает благодарность медиагруппе «РИМ» за
                                                качественную работу. Мы размещаемся их силами в 5 регионах страны.
                                                Адресные программы всегда тщательно подбираются и монтаж выполняется в
                                                срок. Нашему сотрудничеству много лет и мы видим существенный эффект от
                                                размещения наружной рекламы.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-reviews__slider-group">
                                        <div class="new-main-reviews__slider-card">
                                            <div class="new-main-reviews__slider-card-bg"></div>
                                            <div class="new-main-reviews__slider-card-photo-container">
                                                <img src="img/new-main/quote-author.webp" alt=""
                                                    class="new-main-reviews__slider-card-photo">
                                            </div>
                                            <div class="new-main-reviews__slider-card-info">
                                                <div class="new-main-reviews__slider-card-name">
                                                    Диляра Усманова
                                                </div>
                                                <div class="new-main-reviews__slider-card-role">
                                                    Директор ООО Рекламное агентство «ЭЛ-ПРОДЖЕКТС»
                                                </div>
                                            </div>
                                            <div class="new-main-reviews__slider-card-text">
                                                Мы много лет работаем на рекламном рынке и взыскательно выбираем
                                                партнеров для сотрудничества. РИМ-медиа привлек нас высоким уровнем
                                                клиентского сервиса. Коллеги оперативны, отлично знают свое дело, всегда
                                                на связи. А главное, РИМ предоставляет возможность размещения не только
                                                в Казани, но и в других - малых городах Татарстана. Так что, если нужны
                                                щиты по всей республике, мы знаем - все дороги ведут в РИМ!
                                            </div>
                                        </div>
                                        <div class="new-main-reviews__slider-card">
                                            <div class="new-main-reviews__slider-card-bg"></div>
                                            <div class="new-main-reviews__slider-card-photo-container">
                                                <img src="img/new-main/quote-author.webp" alt=""
                                                    class="new-main-reviews__slider-card-photo">
                                            </div>
                                            <div class="new-main-reviews__slider-card-info">
                                                <div class="new-main-reviews__slider-card-name">
                                                    Ольга Радченко
                                                </div>
                                                <div class="new-main-reviews__slider-card-role">
                                                    Аптеки «Апрель»
                                                </div>
                                            </div>
                                            <div class="new-main-reviews__slider-card-text">
                                                Сеть аптек «Апрель» выражает благодарность медиагруппе «РИМ» за
                                                качественную работу. Мы размещаемся их силами в 5 регионах страны.
                                                Адресные программы всегда тщательно подбираются и монтаж выполняется в
                                                срок. Нашему сотрудничеству много лет и мы видим существенный эффект от
                                                размещения наружной рекламы.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-reviews__slider-group">
                                        <div class="new-main-reviews__slider-card">
                                            <div class="new-main-reviews__slider-card-bg"></div>
                                            <div class="new-main-reviews__slider-card-photo-container">
                                                <img src="img/new-main/quote-author.webp" alt=""
                                                    class="new-main-reviews__slider-card-photo">
                                            </div>
                                            <div class="new-main-reviews__slider-card-info">
                                                <div class="new-main-reviews__slider-card-name">
                                                    Диляра Усманова
                                                </div>
                                                <div class="new-main-reviews__slider-card-role">
                                                    Директор ООО Рекламное агентство «ЭЛ-ПРОДЖЕКТС»
                                                </div>
                                            </div>
                                            <div class="new-main-reviews__slider-card-text">
                                                Мы много лет работаем на рекламном рынке и взыскательно выбираем
                                                партнеров для сотрудничества. РИМ-медиа привлек нас высоким уровнем
                                                клиентского сервиса. Коллеги оперативны, отлично знают свое дело, всегда
                                                на связи. А главное, РИМ предоставляет возможность размещения не только
                                                в Казани, но и в других - малых городах Татарстана. Так что, если нужны
                                                щиты по всей республике, мы знаем - все дороги ведут в РИМ!
                                            </div>
                                        </div>
                                        <div class="new-main-reviews__slider-card">
                                            <div class="new-main-reviews__slider-card-bg"></div>
                                            <div class="new-main-reviews__slider-card-photo-container">
                                                <img src="img/new-main/quote-author.webp" alt=""
                                                    class="new-main-reviews__slider-card-photo">
                                            </div>
                                            <div class="new-main-reviews__slider-card-info">
                                                <div class="new-main-reviews__slider-card-name">
                                                    Ольга Радченко
                                                </div>
                                                <div class="new-main-reviews__slider-card-role">
                                                    Аптеки «Апрель»
                                                </div>
                                            </div>
                                            <div class="new-main-reviews__slider-card-text">
                                                Сеть аптек «Апрель» выражает благодарность медиагруппе «РИМ» за
                                                качественную работу. Мы размещаемся их силами в 5 регионах страны.
                                                Адресные программы всегда тщательно подбираются и монтаж выполняется в
                                                срок. Нашему сотрудничеству много лет и мы видим существенный эффект от
                                                размещения наружной рекламы.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-main-reviews__slider-pagination">

                    </div>
                </div>
                <div class="new-main-reviews__bottom">
                    <div class="new-main-reviews__text">
                        Есть вопросы? Не ждите, просто задайте их нашему менеджеру!
                    </div>
                    <a href="#" class="new-main-reviews__btn">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>
        <section class="new-main-about-us">
            <div class="container">
                <h2 class="new-main-about-us__heading">
                    СМИ о нас
                </h2>
                <div class="new-main-about-us__slider">
                    <div class="new-main-about-us__slider-wrapper">
                        <button class="new-main-about-us__slider-arrow new-main-about-us__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#new-slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="new-main-about-us__slider-arrow new-main-about-us__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#new-slider-arrow-right"></use>
                            </svg>
                        </button>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="new-main-about-us__slider-group">
                                        <a href="#" class="new-main-about-us__slider-card">
                                            <div class="new-main-about-us__slider-card-top-row">
                                                <img src="img/new-main/about-us/bo.svg" alt=""
                                                    class="new-main-about-us__slider-card-logo">
                                                <div class="new-main-about-us__slider-card-date">
                                                    26.09.2023
                                                </div>
                                            </div>
                                            <div class="new-main-about-us__slider-card-text">
                                                «Казань сформировала славу одного из центров наружной рекламы в России,
                                                и
                                                люди сами стремятся к нам попасть, чтобы вырасти», — говорит владелец
                                                медиагруппы «РИМ» Илья Фомин об экспертах международного уровня в своей
                                                команде. В новом интервью для «БИЗНЕС Online» предприниматель рассказал,
                                                какой путь прошла его группа компаний за четыре года, как уход
                                                международных
                                                брендов сказался на рынке рекламы, в чем диджитал-экраны выигрывают у
                                                статичных билбордов и как настроить свое продвижение из любой точки
                                                мира.
                                            </div>
                                            <div class="new-main-about-us__slider-card-more">
                                                Подробнее
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="new-main-about-us__slider-card">
                                            <div class="new-main-about-us__slider-card-top-row">
                                                <img src="img/new-main/about-us/ti.webp" alt=""
                                                    class="new-main-about-us__slider-card-logo">
                                                <div class="new-main-about-us__slider-card-date">
                                                    14.05.2021
                                                </div>
                                            </div>
                                            <div class="new-main-about-us__slider-card-text">
                                                По данным мэрии Казани, в первые месяцы 2021 года ситуация на рынке
                                                наружной
                                                рекламы города значительно улучшилась в сравнении с провальным 2020
                                                годом.
                                                Как сообщил начальник Управления наружной рекламы и информации Аскар
                                                Багаутдинов, рекламный рынок постепенно восстанавливается, показатели
                                                заполняемости рекламных конструкций возвращаются к докризисным
                                                значениям.
                                            </div>
                                            <div class="new-main-about-us__slider-card-more">
                                                Подробнее
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-about-us__slider-group">
                                        <a href="#" class="new-main-about-us__slider-card">
                                            <div class="new-main-about-us__slider-card-top-row">
                                                <img src="img/new-main/about-us/bo.svg" alt=""
                                                    class="new-main-about-us__slider-card-logo">
                                                <div class="new-main-about-us__slider-card-date">
                                                    26.09.2023
                                                </div>
                                            </div>
                                            <div class="new-main-about-us__slider-card-text">
                                                «Казань сформировала славу одного из центров наружной рекламы в России,
                                                и
                                                люди сами стремятся к нам попасть, чтобы вырасти», — говорит владелец
                                                медиагруппы «РИМ» Илья Фомин об экспертах международного уровня в своей
                                                команде. В новом интервью для «БИЗНЕС Online» предприниматель рассказал,
                                                какой путь прошла его группа компаний за четыре года, как уход
                                                международных
                                                брендов сказался на рынке рекламы, в чем диджитал-экраны выигрывают у
                                                статичных билбордов и как настроить свое продвижение из любой точки
                                                мира.
                                            </div>
                                            <div class="new-main-about-us__slider-card-more">
                                                Подробнее
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="new-main-about-us__slider-card">
                                            <div class="new-main-about-us__slider-card-top-row">
                                                <img src="img/new-main/about-us/ti.webp" alt=""
                                                    class="new-main-about-us__slider-card-logo">
                                                <div class="new-main-about-us__slider-card-date">
                                                    14.05.2021
                                                </div>
                                            </div>
                                            <div class="new-main-about-us__slider-card-text">
                                                По данным мэрии Казани, в первые месяцы 2021 года ситуация на рынке
                                                наружной
                                                рекламы города значительно улучшилась в сравнении с провальным 2020
                                                годом.
                                                Как сообщил начальник Управления наружной рекламы и информации Аскар
                                                Багаутдинов, рекламный рынок постепенно восстанавливается, показатели
                                                заполняемости рекламных конструкций возвращаются к докризисным
                                                значениям.
                                            </div>
                                            <div class="new-main-about-us__slider-card-more">
                                                Подробнее
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="new-main-about-us__slider-group">
                                        <a href="#" class="new-main-about-us__slider-card">
                                            <div class="new-main-about-us__slider-card-top-row">
                                                <img src="img/new-main/about-us/bo.svg" alt=""
                                                    class="new-main-about-us__slider-card-logo">
                                                <div class="new-main-about-us__slider-card-date">
                                                    26.09.2023
                                                </div>
                                            </div>
                                            <div class="new-main-about-us__slider-card-text">
                                                «Казань сформировала славу одного из центров наружной рекламы в России,
                                                и
                                                люди сами стремятся к нам попасть, чтобы вырасти», — говорит владелец
                                                медиагруппы «РИМ» Илья Фомин об экспертах международного уровня в своей
                                                команде. В новом интервью для «БИЗНЕС Online» предприниматель рассказал,
                                                какой путь прошла его группа компаний за четыре года, как уход
                                                международных
                                                брендов сказался на рынке рекламы, в чем диджитал-экраны выигрывают у
                                                статичных билбордов и как настроить свое продвижение из любой точки
                                                мира.
                                            </div>
                                            <div class="new-main-about-us__slider-card-more">
                                                Подробнее
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="new-main-about-us__slider-card">
                                            <div class="new-main-about-us__slider-card-top-row">
                                                <img src="img/new-main/about-us/ti.webp" alt=""
                                                    class="new-main-about-us__slider-card-logo">
                                                <div class="new-main-about-us__slider-card-date">
                                                    14.05.2021
                                                </div>
                                            </div>
                                            <div class="new-main-about-us__slider-card-text">
                                                По данным мэрии Казани, в первые месяцы 2021 года ситуация на рынке
                                                наружной
                                                рекламы города значительно улучшилась в сравнении с провальным 2020
                                                годом.
                                                Как сообщил начальник Управления наружной рекламы и информации Аскар
                                                Багаутдинов, рекламный рынок постепенно восстанавливается, показатели
                                                заполняемости рекламных конструкций возвращаются к докризисным
                                                значениям.
                                            </div>
                                            <div class="new-main-about-us__slider-card-more">
                                                Подробнее
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="new-main-about-us__slider-pagination">

                    </div>
                </div>
            </div>
        </section>
        <section class="new-main-regions">
            <div class="container">
                <div class="new-main-regions__content">
                    <h2 class="new-main-regions__heading">
                        Регионы присутствия
                    </h2>
                    <ul class="new-main-regions__list">
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Москва и Московская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Татарстан
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Волгоградская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Костромская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Омская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Бурятия
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Карелия
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Марий Эл
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Республика Мордовия
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Владимирская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Ханты-Мансийский АО
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Вологодская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Краснодарский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Кировская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Самарская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Санкт-Петербург
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Саратовская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Свердловская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Смоленская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Брянская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Воронежская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                ЯНАО
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Алтайский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Красноярский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тамбовская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тверская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тульская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Тюменская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Удмуртская Республика
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Нижегородская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Оренбургская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Орловская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Пензенская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Пермский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Ульяновская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Хабаровский край
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Челябинская область
                            </a>
                        </li>
                        <li class="new-main-regions__list-item">
                            <a href="#" class="new-main-regions__link">
                                Чувашская Республика
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}