{{#extend "partner-layout"}}
  {{#content "main"}}
    <section class="intro js-scroll-container">
      <div class="container">
        <div class="intro__content">
          <div class="intro__column">
            <h1 class="intro__title js-scroll-item">
              <span class="orange">Федеральная</span>
              партнерская сеть
            </h1>
            <p class="intro__text js-scroll-item">рекламных конструкций</p>
            <ul class="intro__list js-scroll-item">
              <li class="intro__info">
                <div class="intro__info-icon-wrapper">
                  <svg width="12" height="12" aria-hidden="true" class="icon-down">
                    <use xlink:href="#checkmark-white"></use>
                  </svg>
                </div>
                <p>Обеспечиваем федеральные продажи ваших рекламных конструкций</p>
              </li>
              <li class="intro__info">
                <div class="intro__info-icon-wrapper">
                  <svg width="12" height="12" aria-hidden="true" class="icon-down">
                    <use xlink:href="#checkmark-white"></use>
                  </svg>
                </div>
                <p>Сокращаем затраты
                  и&nbsp;значительно увеличиваем прибыль</p>
              </li>
            </ul>
            <img src="img/partner/intro/intro-mobile-image.png" alt="image" class="intro__image-mobile js-scroll-item">
            <a href="/#" class="intro__button js-scroll-item">Оставить заявку</a>
          </div>
        </div>
      </div>
      <div class="intro__gradient"></div>
      <div class="intro__shape"></div>
      <img src="img/partner/intro/intro.png" alt="image" class="intro__image">
    </section>

    <section class="about js-scroll-container">
      <div class="container">
        <div class="about__content">
          <div class="about__column">
            <h2 class="about__title js-scroll-item">Федеральная партнерская сеть</h2>
            <p class="about__text js-scroll-item">
              Это уникальный проект, который объединяет более 90&nbsp;операторов наружной рекламы и&nbsp;не&nbsp;имеет
              аналогов во&nbsp;всем мире. Собственники конструкций передают свой инвентарь нам в&nbsp;управление, а&nbsp;мы&nbsp;продаем размещение
              на&nbsp;них федеральным
              и&nbsp;локальным брендам. А&nbsp;еще обеспечиваем высокий уровень сервиса для рекламодателей и&nbsp;гарантируем
              нашему партнеру стабильный доход.
            </p>
            <ul class="about__info-list js-scroll-item">
              <li class="about__info">
                <p class="about__info-title">90+</p>
                <p class="about__info-text">партнеров</p>
              </li>
              <li class="about__info">
                <p class="about__info-title">32</p>
                <p class="about__info-text">региона</p>
              </li>
              <li class="about__info">
                <p class="about__info-title">93</p>
                <p class="about__info-text">города</p>
              </li>
              <li class="about__info">
                <p class="about__info-title">17 502</p>
                <p class="about__info-text">рекламных поверхностей</p>
              </li>
              <li class="about__info">
                <p class="about__info-title">6 411</p>
                <p class="about__info-text">цифровых рекламных поверхностей</p>
              </li>
              <li class="about__info">
                <p class="about__info-title">11 901</p>
                <p class="about__info-text">рекламная конструкция</p>
              </li>
              <li class="about__info">
                <p class="about__info-title">504 481 500</p>
                <p class="about__info-text">суммарный OTS в&nbsp;день по&nbsp;всей России</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="about__shape"></div>
        <div class="about__map js-about-map">
          <picture>
            <source srcset="img/presence-map.avif" type="image/avif">
            <img src="img/presence-map.webp" alt="Description" class="about__presence-map" loading="lazy">
          </picture>
        </div>
      </div>
    </section>

    <section class="info js-scroll-container">
      <img src="img/partner/info/info-icon.png" alt="icon" class="info__icon">
      <div class="container">
        <div class="info__content">
          <h2 class="info__title js-scroll-item">Почему стоит работать с&nbsp;нами?</h2>
          <ul class="info__list js-scroll-item">
            <li class="info__detail">
              <p class="info__detail-name">10+</p>
              <p class="info__detail-text">лет развиваем рекламный рынок страны</p>
            </li>
            <li class="info__detail">
              <p class="info__detail-name">35 <span class="small">млн. человек</span></p>
              <p class="info__detail-text">видят рекламу на наших конструкциях</p>
            </li>
            <li class="info__detail">
              <p class="info__detail-name">90+</p>
              <p class="info__detail-text">партнеров уже доверили нам свои продажи</p>
            </li>
            <li class="info__detail">
              <p class="info__detail-name">29 345</p>
              <p class="info__detail-text">рекламных поверхностей по всей РФ</p>
            </li>
            <li class="info__detail">
              <p class="info__detail-name">3,7 <span class="small">млрд. рублей</span></p>
              <p class="info__detail-text">выручка медиагруппы &laquo;РИМ&raquo; за&nbsp;2023 год</p>
            </li>
            <li class="info__detail">
              <p class="info__detail-name">178</p>
              <p class="info__detail-text">постоянных федеральных клиентов</p>
            </li>
          </ul>
          <p class="info__bottom-text">Ключевые города присутствия</p>
          <img src="img/partner/info/circle.png" alt="icon" class="info__image"/>
        </div>
      </div>
      <div class="info__gradient"></div>
    </section>

    <section class="tasks js-scroll-container">
      <img src="img/partner/tasks/tasks-shape.png" alt="shape" class="tasks__shape tasks__shape--first">
      <img src="img/partner/tasks/tasks-shape.png" alt="shape" class="tasks__shape tasks__shape--second">
      <img src="img/partner/tasks/tasks-shape.png" alt="shape" class="tasks__shape tasks__shape--third">
      <div class="tasks__loop-line js-tasks-line" data-speed="1">
        <p>Екатеринбург</p>
        <p>Уфа</p>
        <p>Челябинск</p>
        <p>Казань</p>
        <p>Пермь</p>
        <p>Ижевск</p>
        <p>Екатеринбург</p>
        <p>Уфа</p>
        <p>Челябинск</p>
        <p>Казань</p>
        <p>Пермь</p>
        <p>Ижевск</p>
        <p>Екатеринбург</p>
        <p>Уфа</p>
        <p>Челябинск</p>
        <p>Казань</p>
        <p>Пермь</p>
        <p>Ижевск</p>
      </div>
      <div class="container">
        <img src="img/partner/tasks/tasks-icon.png" alt="icon" class="tasks__icon">
        <div class="tasks__content">
          <h2 class="tasks__title js-scroll-item">Что мы&nbsp;делаем в&nbsp;рамках сотрудничества?</h2>
          <p class="tasks__text js-scroll-item">Мы берем на себе решение сразу нескольких задач:</p>
          <ul class="tasks__cards js-scroll-item">
            <li class="tasks__card">
              <h4 class="tasks__card-title">МАРКЕТИНГ</h4>
              <ul class="tasks__card-list">
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Call-центр</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Дизайн</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Скрипты для менеджеров по&nbsp;продажам</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>PR-материалы</p>
                </li>
              </ul>
            </li>
            <li class="tasks__card">
              <h4 class="tasks__card-title">ЛИДОГЕНЕРАЦИЯ</h4>
              <ul class="tasks__card-list">
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Реклама в интернете</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Конверсионные лендинги для сбора заявок</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Обзвон потенциальных клиентов</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Телемаркетинг</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>E-mail, SMS,
                    и WhatsApp рассылки
                  </p>
                </li>
              </ul>
            </li>
            <li class="tasks__card">
              <h4 class="tasks__card-title">IT-ИНФРАСТРУКТУРА</h4>
              <ul class="tasks__card-list">
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Сайт с картой рекламных конструкций</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>CRM-система, в которой фиксируются все сделкии задачи</p>
                </li>
                <li class="tasks__card-info">
                  <svg width="18" height="34" aria-hidden="true" class="icon-down">
                    <use xlink:href="#triangle"></use>
                  </svg>
                  <p>Online-отчетность</p>
                </li>
              </ul>
            </li>
            <li class="tasks__card center">
              <h4 class="tasks__card-title">ЮРИДИЧЕСКИЙ ПОДДЕРЖКА</h4>
            </li>
            <li class="tasks__card center">
              <h4 class="tasks__card-title">ИНВЕСТИЦИИ НА&nbsp;ВЫСТАВЛЕНИЕ НОВОГО ИНВЕНТАРЯ</h4>
            </li>
            <li class="tasks__card center">
              <h4 class="tasks__card-title">ДОКУМЕНТООБОРОТ</h4>
            </li>
            <li class="tasks__card center">
              <h4 class="tasks__card-title">ОБСЛУЖИВАНИЕ РЕКЛАМНЫХ КОНСТРУКЦИЙ</h4>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="advantages">
      <img src="img/partner/advantages/advantages-shape.png" alt="shape" class="advantages__shape--second">
      <div class="container">
        <img src="img/partner/advantages/advantages-shape.png" alt="shape" class="advantages__shape">
        <div class="advantages__content">
          <h2 class="advantages__title">Преимущества вступления в партнерскую сеть</h2>
          <p class="advantages__text">Почему стоит выбирать именно нас?</p>
          <div class="advantages__slider js-advantages-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="advantages__counter"></div>
                <div class="advantages__slide">
                  <p class="small-width">Формируем план продаж</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantages__counter"></div>
                <div class="advantages__slide">
                  <p class="large-width">Управляем, продаем, обеспечиваем заполняемость</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantages__counter"></div>
                <div class="advantages__slide">
                  <p class="large-width">
                    Информируем о&nbsp;всех продажах
                    и&nbsp;отслеживаем их&nbsp;план выполнения
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantages__counter"></div>
                <div class="advantages__slide">
                  <p class="large-width">
                    Сопровождаем по&nbsp;всем маркетинговым и&nbsp;юридическим вопросам.
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantages__counter"></div>
                <div class="advantages__slide">
                  <p class="large-width">
                    Сопровождаем по&nbsp;всем маркетинговым и&nbsp;юридическим вопросам.
                  </p>
                </div>
              </div>
            </div>
            <div class="advantages__navigation">
              <button class="advantages__navigation-button js-button-prev">
                <img src="img/partner/entry/arrow-prev.svg" alt="prev-icon">
              </button>
              <button class="advantages__navigation-button js-button-next">
                <img src="img/partner/entry/arrow-next.svg" alt="prev-icon">
              </button>
            </div>
          </div>
        </div>
      </div>
      <img src="img/partner/advantages/advantages-shape.png" alt="shape" class="advantages__shape--third">
    </section>

    <section class="result">
      <div class="result__shape"></div>
      <div class="container">
        <div class="result__overlay"></div>
        <div class="result__content">
          <div class="result__block">
            <h3 class="result__block-title">Результат</h3>
            <p class="result__block-text">
              Вы&nbsp;сокращаете затраты на&nbsp;продажу и&nbsp;получаете стабильный доход. Да, так бывает
            </p>
            <a href="/#" class="result__block-button">Оставить заявку</a>
          </div>
        </div>
      </div>
    </section>

    <section class="partner">
      <div class="container">
        <div class="partner__overlay"></div>
        <div class="partner__content">
          <h2 class="partner__title">Результаты наших партнеров</h2>
          <div class="partner__slider js-partner-slider">
            <button class="partner__slider-button-prev js-prev-button">
              <img src="img/partner/partner/prev-nav.svg" alt="icon-prev">
            </button>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="partner__slide">
                  <div class="partner__slide-column partner__slide-column--first">
                    <h3 class="partner__slide-title">«Вектор Плюс»</h3>
                    <p class="partner__slide-text">Инвентарь партнера</p>
                    <ul class="partner__slide-cards">
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">
                          12
                        </h4>
                        <p class="partner__slide-list-text">конструкций в&nbsp;Казани, Уфе и&nbsp;Йошкар-Оле</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">3</h4>
                        <p class="partner__slide-list-text">медиафасада</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">5</h4>
                        <p class="partner__slide-list-text">digital-билбордов</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">4</h4>
                        <p class="partner__slide-list-text">digital-суперсайта</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title black">Задачи партнера:</h4>
                        <ul class="partner__slide-card-list">
                          <li class="partner__slide-card-info">
                             <svg width="18" height="34" aria-hidden="true" class="icon-down">
                              <use xlink:href="#triangle"></use>
                             </svg>
                            <p>Начать размещение на&nbsp;своих экранах федеральных клиентов</p>
                          </li>
                          <li class="partner__slide-card-info">
                             <svg width="18" height="34" aria-hidden="true" class="icon-down">
                               <use xlink:href="#triangle"></use>
                             </svg>
                            <p>В&nbsp;1,5-2 раза увеличить цену размещения</p>
                          </li>
                        </ul>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title black">Наша цель:</h4>
                        <ul class="partner__slide-card-list">
                          <li class="partner__slide-card-info">
                            <svg width="18" height="34" aria-hidden="true" class="icon-down">
                              <use xlink:href="#triangle"></use>
                            </svg>
                            <p>
                              Обеспечить размещение максимальному количеству федеральных клиентов
                              на&nbsp;партнерских экранах по&nbsp;ценам выше рыночных
                            </p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <img src="img/partner/partner/partner-2.png" alt="image" class="partner__slide-cards-image partner__slide-cards-image--first">
                  </div>
                  <div class="partner__slide-column partner__slide-column--second">
                    <img src="img/partner/partner/partner-1.png" alt="image" class="partner__slide-cards-image partner__slide-cards-image--second">
                    <div class="partner__slide-result-result">
                      <h4 class="partner__slide-result-title-result">Результаты</h4>
                      <ul class="partner__slide-result-list-result">
                        <li>
                          <h5>в 1,6 раз</h5>
                          <p>увеличили продажи</p>
                        </li>
                        <li>
                          <h5>на 60%</h5>
                          <p>снизили расходы на&nbsp;аналитику и&nbsp;мониторинг</p>
                        </li>
                      </ul>
                    </div>
                    <ul class="partner__slide-partners-result">
                      <li>
                        <img src="img/partner/partner/express.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/ozon.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/yandex.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/sber.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/samokat.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/lenta.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/tinkoff.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/alfa.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/mac.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/pik.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/metro.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/five.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/donstroi.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/megaphone.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/mvideo.svg" alt="icon">
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="partner__slide-mobile">
                  <h3 class="partner__slide-title">«Вектор Плюс»</h3>
                  <img src="img/partner/partner/partner-1.png" alt="" class="partner__slide-cards-image partner__slide-cards-image--first">
                  <img src="img/partner/partner/partner-2.png" alt="" class="partner__slide-cards-image partner__slide-cards-image--first">
                  <p class="partner__slide-mobile-text">Инвентарь партнера</p>

                  <ul class="partner__slide-cards">
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">
                        12
                      </h4>
                      <p class="partner__slide-list-text">конструкций в&nbsp;Казани, Уфе и&nbsp;Йошкар-Оле</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">3</h4>
                      <p class="partner__slide-list-text">медиафасада</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">5</h4>
                      <p class="partner__slide-list-text">digital-билбордов</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">4</h4>
                      <p class="partner__slide-list-text">digital-суперсайта</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title black">Задачи партнера:</h4>
                      <ul class="partner__slide-card-list">
                        <li class="partner__slide-card-info">
                          <svg width="18" height="34" aria-hidden="true" class="icon-down">
                            <use xlink:href="#triangle"></use>
                          </svg>
                          <p>Начать размещение на&nbsp;своих экранах федеральных клиентов</p>
                        </li>
                        <li class="partner__slide-card-info">
                          <svg width="18" height="34" aria-hidden="true" class="icon-down">
                            <use xlink:href="#triangle"></use>
                          </svg>
                          <p>В&nbsp;1,5-2 раза увеличить цену размещения</p>
                        </li>
                      </ul>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title black">Наша цель:</h4>
                      <ul class="partner__slide-card-list">
                        <li class="partner__slide-card-info">
                          <svg width="18" height="34" aria-hidden="true" class="icon-down">
                            <use xlink:href="#triangle"></use>
                          </svg>
                          <p>
                            Обеспечить размещение максимальному количеству федеральных клиентов
                            на&nbsp;партнерских экранах по&nbsp;ценам выше рыночных
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                  <div class="partner__slide-result-result">
                    <h4 class="partner__slide-result-title-result">Результаты</h4>
                    <ul class="partner__slide-result-list-result">
                      <li>
                        <h5>в 1,6 раз</h5>
                        <p>увеличили продажи</p>
                      </li>
                      <li>
                        <h5>на 60%</h5>
                        <p>снизили расходы на&nbsp;аналитику и&nbsp;мониторинг</p>
                      </li>
                    </ul>
                  </div>

                  <ul class="partner__slide-partners-result">
                    <li>
                      <img src="img/partner/partner/express.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/ozon.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/yandex.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/sber.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/samokat.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/lenta.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/tinkoff.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/alfa.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/mac.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/pik.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/metro.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/five.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/donstroi.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/megaphone.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/mvideo.svg" alt="icon">
                    </li>
                  </ul>

                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner__slide">
                  <div class="partner__slide-column partner__slide-column--first">
                    <h3 class="partner__slide-title">«Вектор Плюс»</h3>
                    <p class="partner__slide-text">Инвентарь партнера</p>
                    <ul class="partner__slide-cards">
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">
                          12
                        </h4>
                        <p class="partner__slide-list-text">конструкций в&nbsp;Казани, Уфе и&nbsp;Йошкар-Оле</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">3</h4>
                        <p class="partner__slide-list-text">медиафасада</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">5</h4>
                        <p class="partner__slide-list-text">digital-билбордов</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title">4</h4>
                        <p class="partner__slide-list-text">digital-суперсайта</p>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title black">Задачи партнера:</h4>
                        <ul class="partner__slide-card-list">
                          <li class="partner__slide-card-info">
                            <svg width="18" height="34" aria-hidden="true" class="icon-down">
                              <use xlink:href="#triangle"></use>
                            </svg>
                            <p>Начать размещение на&nbsp;своих экранах федеральных клиентов</p>
                          </li>
                          <li class="partner__slide-card-info">
                            <svg width="18" height="34" aria-hidden="true" class="icon-down">
                              <use xlink:href="#triangle"></use>
                            </svg>
                            <p>В&nbsp;1,5-2 раза увеличить цену размещения</p>
                          </li>
                        </ul>
                      </li>
                      <li class="partner__slide-card">
                        <h4 class="partner__slide-list-title black">Наша цель:</h4>
                        <ul class="partner__slide-card-list">
                          <li class="partner__slide-card-info">
                            <svg width="18" height="34" aria-hidden="true" class="icon-down">
                              <use xlink:href="#triangle"></use>
                            </svg>
                            <p>
                              Обеспечить размещение максимальному количеству федеральных клиентов
                              на&nbsp;партнерских экранах по&nbsp;ценам выше рыночных
                            </p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <img src="img/partner/partner/partner-2.png" alt="image" class="partner__slide-cards-image partner__slide-cards-image--first">
                  </div>
                  <div class="partner__slide-column partner__slide-column--second">
                    <img src="img/partner/partner/partner-1.png" alt="image" class="partner__slide-cards-image partner__slide-cards-image--second">
                    <div class="partner__slide-result-result">
                      <h4 class="partner__slide-result-title-result">Результаты</h4>
                      <ul class="partner__slide-result-list-result">
                        <li>
                          <h5>в 1,6 раз</h5>
                          <p>увеличили продажи</p>
                        </li>
                        <li>
                          <h5>на 60%</h5>
                          <p>снизили расходы на&nbsp;аналитику и&nbsp;мониторинг</p>
                        </li>
                      </ul>
                    </div>
                    <ul class="partner__slide-partners-result">
                      <li>
                        <img src="img/partner/partner/express.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/ozon.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/yandex.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/sber.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/samokat.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/lenta.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/tinkoff.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/alfa.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/mac.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/pik.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/metro.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/five.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/donstroi.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/megaphone.svg" alt="icon">
                      </li>
                      <li>
                        <img src="img/partner/partner/mvideo.svg" alt="icon">
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="partner__slide-mobile">
                  <h3 class="partner__slide-title">«Вектор Плюс»</h3>
                  <img src="img/partner/partner/partner-1.png" alt="" class="partner__slide-cards-image partner__slide-cards-image--first">
                  <img src="img/partner/partner/partner-2.png" alt="" class="partner__slide-cards-image partner__slide-cards-image--first">
                  <p class="partner__slide-mobile-text">Инвентарь партнера</p>

                  <ul class="partner__slide-cards">
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">
                        12
                      </h4>
                      <p class="partner__slide-list-text">конструкций в&nbsp;Казани, Уфе и&nbsp;Йошкар-Оле</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">3</h4>
                      <p class="partner__slide-list-text">медиафасада</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">5</h4>
                      <p class="partner__slide-list-text">digital-билбордов</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title">4</h4>
                      <p class="partner__slide-list-text">digital-суперсайта</p>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title black">Задачи партнера:</h4>
                      <ul class="partner__slide-card-list">
                        <li class="partner__slide-card-info">
                          <svg width="18" height="34" aria-hidden="true" class="icon-down">
                            <use xlink:href="#triangle"></use>
                          </svg>
                          <p>Начать размещение на&nbsp;своих экранах федеральных клиентов</p>
                        </li>
                        <li class="partner__slide-card-info">
                          <svg width="18" height="34" aria-hidden="true" class="icon-down">
                            <use xlink:href="#triangle"></use>
                          </svg>
                          <p>В&nbsp;1,5-2 раза увеличить цену размещения</p>
                        </li>
                      </ul>
                    </li>
                    <li class="partner__slide-card">
                      <h4 class="partner__slide-list-title black">Наша цель:</h4>
                      <ul class="partner__slide-card-list">
                        <li class="partner__slide-card-info">
                          <svg width="18" height="34" aria-hidden="true" class="icon-down">
                            <use xlink:href="#triangle"></use>
                          </svg>
                          <p>
                            Обеспечить размещение максимальному количеству федеральных клиентов
                            на&nbsp;партнерских экранах по&nbsp;ценам выше рыночных
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                  <div class="partner__slide-result-result">
                    <h4 class="partner__slide-result-title-result">Результаты</h4>
                    <ul class="partner__slide-result-list-result">
                      <li>
                        <h5>в 1,6 раз</h5>
                        <p>увеличили продажи</p>
                      </li>
                      <li>
                        <h5>на 60%</h5>
                        <p>снизили расходы на&nbsp;аналитику и&nbsp;мониторинг</p>
                      </li>
                    </ul>
                  </div>

                  <ul class="partner__slide-partners-result">
                    <li>
                      <img src="img/partner/partner/express.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/ozon.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/yandex.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/sber.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/samokat.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/lenta.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/tinkoff.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/alfa.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/mac.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/pik.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/metro.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/five.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/donstroi.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/megaphone.svg" alt="icon">
                    </li>
                    <li>
                      <img src="img/partner/partner/mvideo.svg" alt="icon">
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <button class="partner__slider-button-next js-next-button">
              <img src="img/partner/partner/next-nav.svg" alt="icon-prev">
            </button>
          </div>
          <button class="partner__button">Присоединиться к сети</button>
        </div>
      </div>
    </section>

    <section class="partnership js-scroll-container">
      <img src="img/partner/partnership/partnership-shape.png" alt="icon" class="partnership__shape">
      <div class="container">
        <div class="partnership__content">
          <h2 class="partnership__title js-scroll-item">Варианты сотрудничества</h2>
          <ul class="partnership__cards js-scroll-item">
            <li class="partnership__card">
              <div class="partnership__circles">
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle"></span>
                <span class="partnership__circle"></span>
                <span class="partnership__circle"></span>
              </div>
              <h3 class="partnership__card-title">Федеральные продажи</h3>
              <p class="partnership__text">
                Медиагруппа &laquo;РИМ&raquo; берет на&nbsp;себя продажи
                и&nbsp;всю коммуникацию с&nbsp;федеральными клиентами
              </p>
            </li>
            <li class="partnership__card">
              <div class="partnership__circles">
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle"></span>
                <span class="partnership__circle"></span>
              </div>
              <h3 class="partnership__card-title">Управление (федеральные и&nbsp;локальные продажи)</h3>
              <p class="partnership__text">
                Вы полностью передаете управление своими конструкциями медиагруппе «РИМ»
              </p>
            </li>
            <li class="partnership__card">
              <div class="partnership__circles">
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle"></span>
              </div>
              <h3 class="partnership__card-title">Объединенная сеть</h3>
              <p class="partnership__text">
                Медиагруппа &laquo;РИМ&raquo; является единым окном продаж для федеральных клиентов. Все партнеры передают управление федеральными продажами нам
              </p>
            </li>
            <li class="partnership__card">
              <div class="partnership__circles">
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle partnership__circle--filled"></span>
                <span class="partnership__circle partnership__circle--filled"></span>
              </div>
              <h3 class="partnership__card-title">Инвестиции</h3>
              <p class="partnership__text">
                Инвестируем в&nbsp;расширение сети инвентаря партнера
              </p>
            </li>
          </ul>
          <img src="img/partner/partnership/partnership.png" alt="image" class="partnership__image">
          <a href="/#" class="partnership__button js-scroll-item">Узнать подробнее</a>
        </div>
      </div>
      <div class="partnership__shape partnership__shape--second"></div>
      <div class="partnership__gradient"></div>
    </section>

    <section class="entry">
      <div class="container">
        <div class="entry__container">
          <img src="img/partner/entry/how.png" alt="icon" class="entry__icon">
          <h2 class="entry__title">Как происходит вступление в партнерскую сеть?</h2>
          <div class="entry__slider js-entry-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="entry__slide">
                  <div class="entry__slider-number"></div>
                  <div class="entry__slide-text-block">
                    <h3 class="entry__slide-title">Расчет доходов</h3>
                    <p class="entry__slide-text">
                      Оцениваем возможности, разрабатываем стратегию и&nbsp;согласовываем план продаж
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="entry__slide">
                  <div class="entry__slider-number"></div>
                  <div class="entry__slide-text-block">
                    <h3 class="entry__slide-title">Аутплан</h3>
                    <p class="entry__slide-text">
                      Согласовываем ценовую и скидочную политику, разрабатываем аутплан
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="entry__slide">
                  <div class="entry__slider-number"></div>
                  <div class="entry__slide-text-block">
                    <h3 class="entry__slide-title">Договор</h3>
                    <p class="entry__slide-text">
                      Согласование и подписание договора
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="entry__slide">
                  <div class="entry__slider-number"></div>
                  <div class="entry__slide-text-block">
                    <h3 class="entry__slide-title">Договор</h3>
                    <p class="entry__slide-text">
                      Согласование и подписание договора
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="entry__navigation js-entry-navigation">
            <button class="entry__navigation-button js-button-prev">
              <img src="img/partner/entry/arrow-prev.svg" alt="prev-icon">
            </button>
            <button class="entry__navigation-button js-button-next">
              <img src="img/partner/entry/arrow-next.svg" alt="prev-icon">
            </button>
          </div>
        </div>
      </div>
      <img src="img/partner/entry/line.png" alt="icon" class="entry__line-icon js-entry-line-icon">
    </section>

    <section class="feedback">
      <div class="feedback__shape"></div>
      <img src="img/partner/feedback/feedback-icon.png" alt="icon" class="feedback__icon">
      <div class="container">
        <img src="img/partner/feedback/feedback-small-icon.png" alt="icon" class="feedback__small-icon">
        <div class="feedback__content">
          <h2 class="feedback__title">Немного приятных слов от&nbsp;партнеров</h2>
          <ul class="feedback__cards">
            <li class="feedback__card">
              <div class="feedback__portrait-wrapper">
                <img src="img/partner/feedback/photo-1.png" alt="image">
              </div>
              <div class="feedback__upper-card">
                <div class="feedback__upper-card-wrapper">
                  <h3 class="feedback__name-author">Яковлева Валентина</h3>
                  <p class="feedback__role-author">директор компании «Гранд Галерея»</p>
                </div>
              </div>
              <p class="feedback__text-author">
                Хочу выразить глубокую удовлетворенность нашим сотрудничеством. Прежде всего, хотелось&nbsp;бы отметить, что вы&nbsp;действительно выполняете свои обязательства. Мы&nbsp;всегда можем рассчитывать на&nbsp;вас как в&nbsp;плане сроков, так и&nbsp;в&nbsp;плане качества работы. Это приносит нам дополнительную уверенность в&nbsp;эффективности партнерства с&nbsp;&laquo;РИМом&raquo;. Также хочу выделить вашего менеджера, которая работает с&nbsp;моей компанией. Приятная и&nbsp;отзывчивая, она всегда на&nbsp;связи, готова ответить на&nbsp;наши вопросы и&nbsp;помочь в&nbsp;разрешении любых нестандартных задач. Помощь &laquo;РИМа&raquo; в&nbsp;продвижении нашего медиафасада увеличила наши доходы и&nbsp;долю федеральных продаж. Я&nbsp;высоко ценю наше сотрудничество и&nbsp;с&nbsp;нетерпением жду новых проектов!
              </p>
            </li>
            <li class="feedback__card">
              <div class="feedback__portrait-wrapper">
                <img src="img/partner/feedback/photo-2.png" alt="image">
              </div>
              <div class="feedback__upper-card">
                <div class="feedback__upper-card-wrapper">
                  <h3 class="feedback__name-author">Никитина Ольга</h3>
                  <p class="feedback__role-author">Руководитель отдела продаж компании «Паритет»</p>
                </div>
              </div>
              <p class="feedback__text-author">
                Работаем в партнерской сети уже не первый год. Однозначно наблюдается положительная динамика в развитии данного партнерства. Компания «РИМ» молодая, но с амбициозными планами, и это ведет к развитию не только в продажах но и во взаимодействии внутри партнерки. Цель стать лучше автоматически поднимает уровень оказываемых услуг, так как сервис, качество и профессионализм — это основа некой рациональной субстанции, внутренняя сторона рекламного бизнеса.
              </p>
            </li>
            <li class="feedback__card">
              <div class="feedback__portrait-wrapper">
                <img src="img/partner/feedback/photo-3.png" alt="image">
              </div>
              <div class="feedback__upper-card">
                <div class="feedback__upper-card-wrapper">
                  <h3 class="feedback__name-author">Светлана Шкред</h3>
                  <p class="feedback__role-author">Менеджер компании «Media Technology»</p>
                </div>
              </div>
              <p class="feedback__text-author">
                Заключение договора с&nbsp;медиагруппой &laquo;РИМ&raquo; было одним из&nbsp;важнейших и&nbsp;стратегически верных решений компании. После верного выбора ключевого партнера ситуация с&nbsp;привлечением дохода на&nbsp;инвентарь выровнялась, средний чек увеличился в&nbsp;объеме, стало возможным прогнозирование будущих периодов в&nbsp;оптимистичном сценарии. Размещение крупных федеральных брендов через медиагруппу &laquo;РИМ&raquo; максимально просто, при этом занимает существенную долю в&nbsp;доходах компании. Профессионализм менеджеров по&nbsp;работе с&nbsp;партнёрами, их&nbsp;вовлеченность и&nbsp;ответственность делает наше сотрудничество не&nbsp;только финансово обоснованным, но&nbsp;также легким, быстрым и&nbsp;приятным.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="feedback__loop-line js-feedback-line" data-speed=".5">
        <img src="img/partner/feedback/yandex.svg" alt="icon">
        <img src="img/partner/feedback/magnit.svg" alt="icon">
        <img src="img/partner/feedback/lenta.svg" alt="icon">
        <img src="img/partner/feedback/lexus.svg" alt="icon">
        <img src="img/partner/feedback/alfa.svg" alt="icon">
        <img src="img/partner/feedback/yandex-eda.svg" alt="icon">
        <img src="img/partner/feedback/gazprom.svg" alt="icon">
        <img src="img/partner/feedback/mayor.svg" alt="icon">
        <img src="img/partner/feedback/white-bank.svg" alt="icon">
        <img src="img/partner/feedback/yandex.svg" alt="icon">
        <img src="img/partner/feedback/magnit.svg" alt="icon">
        <img src="img/partner/feedback/lenta.svg" alt="icon">
        <img src="img/partner/feedback/lexus.svg" alt="icon">
        <img src="img/partner/feedback/alfa.svg" alt="icon">
        <img src="img/partner/feedback/yandex-eda.svg" alt="icon">
        <img src="img/partner/feedback/gazprom.svg" alt="icon">
        <img src="img/partner/feedback/mayor.svg" alt="icon">
        <img src="img/partner/feedback/white-bank.svg" alt="icon">
      </div>
    </section>

    <section class="team">
      <img src="img/partner/team/circle.png" alt="icon" class="team__icon">
      <div class="container">
        <div class="team__content">
          <h2 class="team__title">Наша партнерская служба всегда на связи</h2>
          <div class="team__content-main">
            <div class="team__column team__column--first">
              <h3 class="team__column-title">
                17&nbsp;человек
                в&nbsp;команде
              </h3>
              <div class="team__columm-block">
                <p class="team__column-text">
                  У&nbsp;нас огромная команда, где собраны профессионалы по&nbsp;сервису, продажам и&nbsp;коммуникациям. Более чем 10-летний опыт работы в&nbsp;сфере OOH позволяет разрабатывать эффективные стратегии для продажи вашего инвентаря, обеспечивать высокий уровень сервиса и&nbsp;качественно осуществлять сопровождение
                </p>
              </div>
            </div>
            <div class="team__column team__column--second">
              <div class="team__column-image-wrapper team__column-image-wrapper--left">
                <img src="img/partner/team/photo-1.png" alt="image" class="team__column-image">
                <div class="team__column-person-info">
                  <h4 class="team__column-person-name">Елена Лаврова</h4>
                  <p class="team__column-person-role">
                    руководитель отдела сопровождения партнеров
                  </p>
                </div>
              </div>
              <div class="team__column-image-wrapper team__column-image-wrapper--middle">
                <img src="img/partner/team/photo-2.png" alt="image" class="team__column-image">
                <div class="team__column-person-info">
                  <h4 class="team__column-person-name">
                    Тимур Марданов
                  </h4>
                  <p class="team__column-person-role">
                    директор федеральной  партнерской сети
                  </p>
                </div>
              </div>
              <div class="team__column-image-wrapper team__column-image-wrapper--right">
                <img src="img/partner/team/photo-3.png" alt="image" class="team__column-image">
                <div class="team__column-person-info">
                  <h4 class="team__column-person-name">
                    Максим Силантьев
                  </h4>
                  <p class="team__column-person-role">
                    руководитель отдела  запуска партнеров
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/content}}
{{/extend}}