{{#extend "new-main"}}
    {{#content "main"}}
        <section class="performance-intro">
            <img src="img/performance/intro-blur.webp" alt="" class="performance-intro__blur">
            <div class="container">
                <div class="performance-intro__content">
                    <picture>
                        <source srcset="img/performance/intro-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/performance/intro.svg" alt="" class="performance-intro__image" />
                    </picture>
                    <ul class="performance-intro__list">
                        <li class="performance-intro__list-item">
                            <div class="performance-intro__card performance-intro__card--orange">
                                <ul>
                                    <li>
                                        Фокус на продажах
                                    </li>
                                    <li>
                                        Глубокая аналитика
                                    </li>
                                    <li>
                                        Комплексные решения
                                    </li>
                                    <li>
                                        Гарантия&nbsp;результата&nbsp;в&nbsp;договоре
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="performance-intro__list-item">
                            <div class="performance-intro__card">
                                <img src="img/performance/intro-icons/1.svg" alt=""
                                    class="performance-intro__card-icon">
                                <h3 class="performance-intro__card-title">
                                    Таргетированная
                                    реклама ВК
                                </h3>
                            </div>
                        </li>
                        <li class="performance-intro__list-item">
                            <div class="performance-intro__card">
                                <img src="img/performance/intro-icons/2.svg" alt=""
                                    class="performance-intro__card-icon">
                                <h3 class="performance-intro__card-title">
                                    Реклама в Telegram
                                </h3>
                            </div>
                        </li>
                        <li class="performance-intro__list-item">
                            <div class="performance-intro__card">
                                <img src="img/performance/intro-icons/3.svg" alt=""
                                    class="performance-intro__card-icon">
                                <h3 class="performance-intro__card-title">
                                    Контекстная реклама в Яндекс Директе
                                </h3>
                            </div>
                        </li>
                        <li class="performance-intro__list-item">
                            <div class="performance-intro__card">
                                <img src="img/performance/intro-icons/4.svg" alt=""
                                    class="performance-intro__card-icon">
                                <h3 class="performance-intro__card-title">
                                    Создание сайтов
                                </h3>
                            </div>
                        </li>
                    </ul>
                    <div class="performance-intro__bottom-row">
                        <div class="performance-intro__text">
                            Узнай, как получить гарантию на лиды, зафиксированную в договоре, — оставь заявку на
                            бесплатную консультацию
                        </div>
                        <a href="#" class="performance-intro__link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="performance-advantages">
            <img src="img/performance/advantages-blur.webp" alt="" class="performance-advantages__blur">
            <div class="container">
                <div class="performance-advantages__content">
                    <h2 class="performance-advantages__heading">
                        Делаем всё, чтобы клиенты обратились к вам, а не конкурентам
                    </h2>
                    <ul class="performance-advantages__list">
                        <li class="performance-advantages__list-item">
                            <div class="performance-advantages__card">
                                <div class="performance-advantages__card-text">
                                    Грамотно настраиваем рекламу и делаем посевы в соцсетях
                                </div>
                                <div class="performance-advantages__card-dots">
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot">

                                    </div>
                                    <div class="performance-advantages__card-dot">

                                    </div>
                                    <div class="performance-advantages__card-dot">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="performance-advantages__list-item">
                            <div class="performance-advantages__card">
                                <div class="performance-advantages__card-text">
                                    Проводим аудит и выявляем ошибки, которые мешают вам получить от рекламы максимум
                                </div>
                                <div class="performance-advantages__card-dots">
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot">

                                    </div>
                                    <div class="performance-advantages__card-dot">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="performance-advantages__list-item">
                            <div class="performance-advantages__card">
                                <div class="performance-advantages__card-text">
                                    Подключаем Calltouch и контролируем работу менеджеров
                                </div>
                                <div class="performance-advantages__card-dots">
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="performance-advantages__list-item">
                            <div class="performance-advantages__card">
                                <div class="performance-advantages__card-text">
                                    Разрабатываем многостраничные сайты
                                    и конверсионные лендинги
                                </div>
                                <div class="performance-advantages__card-dots">
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                    <div class="performance-advantages__card-dot filled">

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="performance-services">
            <div class="container">
                <div class="performance-services__content">
                    <h2 class="performance-services__heading">
                        Какую рекламу мы запускаем
                    </h2>
                    <div class="performance-services__slider">
                        <button class="performance-services__slider-arrow performance-services__slider-arrow--prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21">
                                <path
                                    d="M9.6416 1.12381C10.1692 0.596262 11.0242 0.596262 11.5518 1.12381C12.0793 1.65136 12.0793 2.50642 11.5518 3.03397L5.26074 9.32498H22L22.1377 9.33182C22.8191 9.40081 23.3506 9.97599 23.3506 10.6756C23.3506 11.3751 22.8191 11.9503 22.1377 12.0193L22 12.0262H5.26074L11.5518 18.3172C12.0793 18.8447 12.0793 19.6998 11.5518 20.2273C11.0242 20.7549 10.1692 20.7549 9.6416 20.2273L1.04492 11.6306C0.517374 11.1031 0.517374 10.248 1.04492 9.72049L9.6416 1.12381Z" />
                            </svg>
                        </button>
                        <div class="performance-services__slider-wrapper">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="performance-services__slider-card">
                                            <img src="img/performance/performance-services/1.webp" alt=""
                                                class="performance-services__slider-card-bg-image">
                                            <div class="performance-services__slider-card-content">
                                                <h3 class="performance-services__slider-card-title">
                                                    Контекстная реклама
                                                </h3>
                                                <div class="performance-services__slider-card-text-content">
                                                    <h4 class="performance-services__slider-card-secondary-title">
                                                        Лидовая реклама
                                                    </h4>
                                                    <div class="performance-services__slider-card-text">
                                                        — рекламная кампания, целью которой является получение
                                                        контактных
                                                        данных (лидов) от потенциальных клиентов. Поисковая реклама и
                                                        РСЯ.
                                                    </div>
                                                    <div class="performance-services__slider-card-price">
                                                        от 55 000 ₽/мес.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="performance-services__slider-card">
                                            <img src="img/performance/performance-services/2.webp" alt=""
                                                class="performance-services__slider-card-bg-image">
                                            <div class="performance-services__slider-card-content">
                                                <h3 class="performance-services__slider-card-title">
                                                    Контекстная реклама
                                                </h3>
                                                <div class="performance-services__slider-card-text-content">
                                                    <h4 class="performance-services__slider-card-secondary-title">
                                                        Охватная реклама
                                                    </h4>
                                                    <div class="performance-services__slider-card-text">
                                                        — рекламная кампания, направленная на максимальный показ вашего
                                                        объявления широкой аудитории и повышение узнаваемости бренда.
                                                    </div>
                                                    <div class="performance-services__slider-card-price">
                                                        от 55 000 ₽/мес.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="performance-services__slider-card">
                                            <img src="img/performance/performance-services/3.webp" alt=""
                                                class="performance-services__slider-card-bg-image">
                                            <div class="performance-services__slider-card-content">
                                                <h3 class="performance-services__slider-card-title">
                                                    Таргетированная реклама
                                                </h3>
                                                <div class="performance-services__slider-card-text-content">
                                                    <h4 class="performance-services__slider-card-secondary-title">
                                                        Лидовая и охватная реклама
                                                    </h4>
                                                    <div class="performance-services__slider-card-text">
                                                        — показ рекламных объявленийпользователям во ВКонтактеи на
                                                        партнерских сайтах.
                                                        Результат: лиды и прирост подписчиков в группе.
                                                    </div>
                                                    <div class="performance-services__slider-card-price">
                                                        от 45 000 ₽/мес.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="performance-services__slider-card">
                                            <img src="img/performance/performance-services/4.webp" alt=""
                                                class="performance-services__slider-card-bg-image">
                                            <div class="performance-services__slider-card-content">
                                                <h3 class="performance-services__slider-card-title">
                                                    Посевы в Telegram и VK
                                                </h3>
                                                <div class="performance-services__slider-card-text-content">
                                                    <h4 class="performance-services__slider-card-secondary-title">
                                                        Лидовая и охватная реклама
                                                    </h4>
                                                    <div class="performance-services__slider-card-text">
                                                        Подберем каналы, договоримся с админами, проведем оплаты,
                                                        напишем посты, сделаем креативы, промаркируем рекламу и сдадим
                                                        отчетность в ЕРИР.
                                                    </div>
                                                    <div class="performance-services__slider-card-price">
                                                        45 000 ₽/мес.+20% от рекл. бюджета
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="performance-services__slider-card">
                                            <img src="img/performance/performance-services/5.webp" alt=""
                                                class="performance-services__slider-card-bg-image">
                                            <div class="performance-services__slider-card-content">
                                                <h3 class="performance-services__slider-card-title">
                                                    Настройка Авито
                                                </h3>
                                                <div class="performance-services__slider-card-text-content">
                                                    <div class="performance-services__slider-card-text">
                                                        Настроим продажи на Авито под ключ: стратегия, график
                                                        публикаций, сбор ключевых слов, объявления и аналитика — всё
                                                        включено!
                                                    </div>
                                                    <div class="performance-services__slider-card-price">
                                                        55 000 ₽/мес.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="performance-services__slider-card">
                                            <img src="img/performance/performance-services/6.webp" alt=""
                                                class="performance-services__slider-card-bg-image">
                                            <div class="performance-services__slider-card-content">
                                                <h3 class="performance-services__slider-card-title">
                                                    Разработка сайтов
                                                </h3>
                                                <div class="performance-services__slider-card-text-content">
                                                    <div class="performance-services__slider-card-text">
                                                        Создаем лендинги, многостраничники и интернет-магазины — с нуля,
                                                        под ключ, с упором на конверсию и заявки.
                                                    </div>
                                                    <div class="performance-services__slider-card-price">
                                                        от 100 000 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button class="performance-services__slider-arrow performance-services__slider-arrow--next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21">
                                <path
                                    d="M14.3584 1.12381C13.8308 0.596262 12.9758 0.596262 12.4482 1.12381C11.9207 1.65136 11.9207 2.50642 12.4482 3.03397L18.7392 9.32499H1.99997L1.86227 9.33182C1.18089 9.40081 0.649382 9.97599 0.649382 10.6756C0.649382 11.3751 1.18089 11.9503 1.86227 12.0193L1.99997 12.0262H18.7392L12.4482 18.3172C11.9207 18.8447 11.9207 19.6998 12.4482 20.2273C12.9758 20.7549 13.8308 20.7549 14.3584 20.2273L22.955 11.6306C23.4826 11.1031 23.4826 10.248 22.955 9.72049L14.3584 1.12381Z" />
                            </svg>
                        </button>
                    </div>
                    <a href="#" class="performance-services__link">
                        Заказать
                    </a>
                </div>
            </div>
        </section>

        <script type="module">
            import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'


            document.addEventListener('DOMContentLoaded', () => {
                const elements = Array.from(document.querySelectorAll('.performance-services'));
                elements.forEach(element => {
                    const container = element.querySelector('.swiper')
                    new Swiper(container, {
                        slidesPerView: 1,
                        spaceBetween: 40,
                        speed: 600,
                        navigation: {
                            prevEl: element.querySelector('.performance-services__slider-arrow--prev'),
                            nextEl: element.querySelector('.performance-services__slider-arrow--next')
                        },
                        breakpoints: {
                            641: {
                                slidesPerView: 2,
                                spaceBetween: 20,
                            }
                        }
                    })
                })
            })

        </script>

        <section class="performance-channel">
            <div class="container">
                <div class="performance-channel__content">

                    <svg xmlns="http://www.w3.org/2000/svg" width="78" height="80" viewBox="0 0 78 80" fill="none"
                        class="performance-channel__star">
                        <path
                            d="M61.6281 6.63728L74.8602 21.5345L54.4104 38.082L77.9142 50.0623L67.7671 67.3479L45.6155 53.0167L41.3866 79.2913L21.9338 74.9764L28.561 49.3291L2.31093 52.8842L0.321161 33.0581L26.9112 31.9586L15.4094 8.40149L33.6556 0.23403L42.8908 25.1128L61.6281 6.63728Z"
                            fill="#ACA5F3" />
                    </svg>
                    <div class="performance-channel__title-wrapper">
                        <h2 class="performance-channel__title">
                            Подскажем, какой канал продвижения подойдет вашему бизнесу
                        </h2>
                    </div>

                    <a href="#" class="performance-channel__link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>
        <section class="performance-cases">
            <div class="container">
                <div class="performance-cases__content">
                    <h2 class="performance-cases__heading">
                        Наши кейсы
                    </h2>
                    <ul class="performance-cases__list performance-cases__list--first">
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/1-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/1.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2C
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/haval.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            За время рекламной кампании привлекли более 605 лидов, было продано 50
                                            автомобилей, выдачи проводились ежемесячно.
                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/vk.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                VK Реклама
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/2-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/2.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #HR
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/spar.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            <span class="desktop-text">
                                                Увеличили количество заявок в 5 раз, уменьшили стоимость заявки в 5 раз.
                                            </span>
                                            <span class="mobile-text">
                                                Увеличили количество заявок в 5 раз.
                                            </span>
                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/vk.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                VK Реклама
                                            </div>
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/yandex-direct.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Яндекс Директ
                                            </div>
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/www.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Запуск посадочной страницы
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/3-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/3.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2B
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/richflavors.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            <span class="desktop-text">
                                                Увеличили количество лидов в 5 раз, за год привлекли более 500 заявок на
                                                оптовые заказы. Снизили стоимость лида на 50%.
                                            </span>
                                            <span class="mobile-text">
                                                За год привлекли более 500 заявок на оптовые заказы.
                                            </span>

                                        </div>
                                        <div class="performance-cases__card-platforms">

                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/yandex-direct.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Яндекс Директ
                                            </div>
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/www.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Оптимизация сайта
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/4-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/4.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2B
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/dodo.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            Со второго месяца кампании увеличили количество лидов на 63%.
                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/vk.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                VK Реклама
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="performance-cases__find-solution">
                        <div class="performance-cases__find-solution-text">
                            Проводим аудит рекламного кабинета, выявляем ошибки и предлагаем решения. Они позволяют
                            клиентам быстро сдвинуться с мертвой точки и достичь нужных результатов. Каких? Вы можете
                            ознакомиться с ними в наших кейсах!
                        </div>
                        <img src="img/performance/find-solution.webp" alt=""
                            class="performance-cases__find-solution-image">
                    </div>
                    <ul class="performance-cases__list performance-cases__list--second">
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/5-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/5.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2C
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/filarmony.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            <span class="desktop-text">
                                                Увеличили продажи всех мероприятий на 80%. Повысили кликабельность на
                                                145%,
                                                CTR — на 12%.
                                            </span>
                                            <span class="mobile-text">
                                                Увеличили продажи мероприятий на 80%.
                                            </span>

                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/vk.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                VK Реклама
                                            </div>
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/www.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Разработка сайта
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/6-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/6.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2C
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/changan.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            Реклама более года приносит около 70 лидов каждый месяц. Стоимость
                                            заявки
                                            снизилась на 45%.

                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/vk.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                VK Реклама
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/7-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/7.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2C
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/legenda.svg" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            За месяц привлекли более 370 потенциальных клиентов. Снизили цену заявки
                                            на
                                            40%.Увеличили конверсию сайта с 1,47% до 16%.

                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/vk.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                VK Реклама
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="performance-cases__list-item">
                            <a href="#" class="performance-cases__card">
                                <picture>
                                    <source srcset="img/performance/cases/8-mobile.webp" media="(max-width: 640px)" />
                                    <img src="img/performance/cases/8.webp" alt=""
                                        class="performance-cases__card-image">
                                </picture>
                                <div class="performance-cases__card-content">
                                    <div class="performance-cases__card-tags">
                                        <div class="performance-cases__card-tag">
                                            #B2C
                                        </div>
                                    </div>
                                    <div class="performance-cases__card-text-content">
                                        <img src="img/performance/cases/intel-invest.webp" alt=""
                                            class="performance-cases__card-logo">
                                        <div class="performance-cases__card-text">
                                            <span class="desktop-text">
                                                В первый месяц перевыполнили план по заявкам на 20%, дальше только
                                                улучшали
                                                результат. Новый лендинг показал конверсию более 11%.
                                            </span>
                                            <span class="mobile-text">
                                                Уже в первый месяц перевыполнили план по заявкам на 20%.
                                            </span>
                                        </div>
                                        <div class="performance-cases__card-platforms">
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/yandex-direct.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Яндекс Директ
                                            </div>
                                            <div class="performance-cases__card-platform">
                                                <img src="img/performance/cases/www.svg" alt=""
                                                    class="performance-cases__card-platform-icon">
                                                Разработка лендинга
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="performance-cases__more">
                        Посмотреть больше кейсов
                    </a>
                </div>
            </div>
        </section>
        <section class="performance-choose">
            <div class="container">
                <div class="performance-choose__content">
                    <h2 class="performance-choose__title">
                        Выберите, какой результат хотите получить
                    </h2>
                    <form action="/" method="POST" class="performance-choose__form">
                        <ul class="performance-choose__list">
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Повысить продажи"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Повысить продажи
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Повысить продажи"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Получить целевые лиды и заявки
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Создатьспрос на продукт"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Создать спрос на продукт
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Повысить узнаваемость бренда"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Повысить узнаваемость бренда
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Повысить посещаемость сайта"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Повысить посещаемость сайта
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Новый продающий сайт"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Новый продающий сайт
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]"
                                        value="Контролировать качество обработки лидов"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Контролировать качество обработки лидов
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]"
                                        value="Понять, почему реклама не приносит результат"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Понять, почему реклама не приносит результат
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]"
                                        value="Перестать тратить рекламный бюджет впустую"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Перестать тратить рекламный бюджет впустую
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Увеличить прибыль"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Увеличить прибыль
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Сделать сайт более конверсионным"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Сделать сайт более конверсионным
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="performance-choose__list-item">
                                <label class="performance-choose__checkbox">
                                    <input type="checkbox" name="choose[]" value="Выполнить план по сбору заявок"
                                        class="performance-choose__checkbox-input">
                                    <span class="performance-choose__checkbox-content">
                                        <span class="performance-choose__checkbox-text">
                                            Выполнить план по сбору заявок
                                        </span>
                                        <span class="performance-choose__checkbox-mark">
                                            <img src="img/performance/checkmark.png" alt=""
                                                class="performance-choose__checkbox-mark-icon">
                                        </span>
                                    </span>
                                </label>
                            </li>
                        </ul>
                        <button type="submit" class="performance-choose__submit">
                            Я выбрал(-а)
                        </button>
                    </form>


                </div>

            </div>
        </section>
        <section class="performance-not-tried">
            <div class="container">
                <div class="performance-not-tried__content">
                    <h2 class="performance-not-tried__heading">
                        Еще не запускали рекламу в интернете?
                    </h2>
                    <div class="performance-not-tried__card">
                        Самое время начать! Мы проведем <b>аудит присутствия вашего бизнеса в интернете и сравним его с
                            конкурентами.</b> Это мини-услуга, в рамках которой вы получите: персональную
                        стратегиюинтернет-продвижения, план рекламного бюджета и прогноз выручки.
                    </div>
                    <a href="#" class="performance-not-tried__link">
                        Заказать аудит
                    </a>
                </div>
            </div>
        </section>
        <section class="performance-reasons">
            <div class="container">
                <div class="performance-reasons__content">
                    <h2 class="performance-reasons__heading">
                        Несколько убедительных причин доверить интернет-продвижение бизнеса нам
                    </h2>
                    <ul class="performance-reasons__list">
                        <li class="performance-reasons__list-item">
                            <div class="performance-reasons__card">
                                <div class="performance-reasons__card-amount">
                                    400+
                                </div>
                                <div class="performance-reasons__card-text">
                                    успешных рекламных кампаний<br> в нашей копилке проектов
                                </div>
                            </div>
                        </li>
                        <li class="performance-reasons__list-item">
                            <div class="performance-reasons__card">
                                <div class="performance-reasons__card-amount">
                                    47%
                                </div>
                                <div class="performance-reasons__card-text">
                                    средний прирост прибыли<br> наших клиентов
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="performance-channel performance-channel--second">
            <div class="container">
                <div class="performance-channel__content">

                    <svg xmlns="http://www.w3.org/2000/svg" width="78" height="80" viewBox="0 0 78 80" fill="none"
                        class="performance-channel__star">
                        <path
                            d="M61.6281 6.63728L74.8602 21.5345L54.4104 38.082L77.9142 50.0623L67.7671 67.3479L45.6155 53.0167L41.3866 79.2913L21.9338 74.9764L28.561 49.3291L2.31093 52.8842L0.321161 33.0581L26.9112 31.9586L15.4094 8.40149L33.6556 0.23403L42.8908 25.1128L61.6281 6.63728Z"
                            fill="#ACA5F3" />
                    </svg>
                    <div class="performance-channel__title-wrapper">
                        <h2 class="performance-channel__title">
                            Давайте сделаем ваших потенциальных клиентов реальными!
                        </h2>
                        <div class="performance-channel__text">
                            Оставляйте заявку — мы перезвоним и ответим на интересующие вас вопросы
                        </div>
                    </div>

                    <a href="#" class="performance-channel__link">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}