{{#extend "redtag-layout"}}
  {{#content "main"}}
    <section class="redtag-intro">
      <div class="container">
        <div class="redtag-intro__content">
          <div class="redtag-intro__overlay"></div>
          <div class="redtag-intro__column">
            <div class="redtag-intro__title-wrapper">
              <img src="img/redtag/intro/text.svg" alt="title-icon" class="redtag-intro__title-icon">
              <h1 class="redtag-intro__title">MEDIABUYING LOWCOSTER AGENCY</h1>
            </div>
            <p class="redtag-intro__text">Баинг OOH- и DOOH-инвентаря во всех регионах РФ</p>
            <ul class="redtag-intro__info-block">
              <li class="redtag-intro__info-list">
                <p class="redtag-intro__info-text">Низкие цены на размещение</p>
              </li>
              <li class="redtag-intro__info-list">
                <p class="redtag-intro__info-text">Быстрая обработка запросов</p>
              </li>
              <li class="redtag-intro__info-list">
                <p class="redtag-intro__info-text">Экспертиза в области мониторинга рекламного инвентаря</p>
              </li>
            </ul>
            <button class="redtag-intro__button">Оставить заявку</button>
            <button class="redtag-intro__arrow-button">
              <img src="img/redtag/intro/arrow-icon.svg" alt="icon-arrow" class="redtag-intro__arrow-icon">
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="redtag-ads">
      <div class="container">
        <div class="redtag-ads__content">
          <h2 class="redtag-ads__title">Делаем запуск рекламных кампаний</h2>
          <div class="redtag-ads__row js-ads-cards">
            <div class="redtag-ads__card">
              <h4 class="redtag-ads__card-name">УДОБНЕЕ</h4>
              <div class="redtag-ads__card-wrapper">
                <p class="redtag-ads__card-text">Вам не придется тратить время
                  и ресурсы на обсуждение условий размещения и заключение договоров с каждым подрядчиком — мы сделаем все сами.
                </p>
              </div>
            </div>
            <div class="redtag-ads__card">
              <h4 class="redtag-ads__card-name">БЫСТРЕЕ</h4>
              <div class="redtag-ads__card-wrapper">
                <p class="redtag-ads__card-text">Мы постоянно улучшаем взаимодействие с операторами наружной рекламы и даже
                  по объемным адресным программам закупаем инвентарь нереально быстро.
                </p>
              </div>
            </div>
            <div class="redtag-ads__card active">
              <h4 class="redtag-ads__card-name">УДОБНЕЕ</h4>
              <div class="redtag-ads__card-wrapper">
                <p class="redtag-ads__card-text">Мы постоянно улучшаем взаимодействие с операторами наружной рекламы и даже
                  по объемным адресным программам закупаем инвентарь нереально быстро.
                </p>
              </div>
            </div>
            <div class="redtag-ads__card">
              <h4 class="redtag-ads__card-name">эффективнее</h4>
              <div class="redtag-ads__card-wrapper">
                <p class="redtag-ads__card-text">Мы занимаемся баингом уже более 3 лет и обладаем экспертизой в этой
                  сфере, постоянно осуществляем мониторинг инвентаря и предлагаем клиентам только те конструкции, реклама на которых приносит результат.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="redtag-geography">
      <div class="redtag-geography__shape red-circle-shape"></div>
      <div class="redtag-geography__map-wrapper">
        {{> redtag-map }}
      </div>
      <div class="container">
        <div class="redtag-geography__content">
          <div class="redtag-geography__column">
            <img src="img/redtag/geography/icon-russia.svg" alt="icon" class="redtag-geography__icon">
            <div class="redtag-geography__block">
              <h2 class="redtag-geography__title">География закупок</h2>
              <ul class="redtag-geography__info">
                <li class="redtag-geography__list">
                  <h4 class="redtag-geography__list-title">350+</h4>
                  <p class="redtag-geography__text">городов</p>
                </li>
                <li class="redtag-geography__list">
                  <img src="img/redtag/geography/items-1120.svg" alt="1120-items" class="redtag-geography__icon-title">
                  <p class="redtag-geography__text">населенных пунктов</p>
                </li>
                <li class="redtag-geography__list">
                  <h4 class="redtag-geography__list-title">97</h4>
                  <p class="redtag-geography__text">регионов</p>
                </li>
                <li class="redtag-geography__list">
                  <img src="img/redtag/geography/ads-2200.svg" alt="ads-2200" class="redtag-geography__icon-title">
                  <p class="redtag-geography__text">рекламных поверхностей закупаем каждый месяц</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="redtag-line">
      <div class="redtag-line__tape js-tape-loop" data-speed="1">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
        <img src="img/redtag/tape/tape.svg" alt="icon">
      </div>
    </section>

    <section class="redtag-inventory">
      <div class="red-circle-shape redtag-inventory__shape"></div>
      <div class="container">
        <div class="redtag-inventory__content">

          <div class="redtag-inventory__column">
            <div class="redtag-inventory__upper">
              <a href="" class="redtag-inventory__link">Инвентарь</a>
              <h2 class="redtag-inventory__title">Закупаем каждый месяц</h2>
              <p class="redtag-inventory__text">в 96 городах России, среди которых: Казань, Пермь, Нижний Новгород,Екатеринбург, Ростов-на-Дону, Уфа, Волгоград, Самара, Челябински Красноярск</p>
            </div>
            <div class="redtag-inventory__cards">
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-1.png">
                  <img src="img/redtag/inventory/billboard-mini-1.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">2 481</h4>
                  <p class="redtag-inventory__name">билборд</p>
                </div>
              </div>
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-2.png">
                  <img src="img/redtag/inventory/billboard-mini-2.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">188</h4>
                  <p class="redtag-inventory__name">digital-билбордов и суперсайтов</p>
                </div>
              </div>
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-3.png">
                  <img src="img/redtag/inventory/billboard-mini-3.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">210</h4>
                  <p class="redtag-inventory__name">ситибордов</p>
                </div>
              </div>
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-4.png">
                  <img src="img/redtag/inventory/billboard-mini-4.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">65</h4>
                  <p class="redtag-inventory__name">пилларов</p>
                </div>
              </div>
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-5.png">
                  <img src="img/redtag/inventory/billboard-mini-5.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">10</h4>
                  <p class="redtag-inventory__name">суперсайтов</p>
                </div>
              </div>
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-6.png">
                  <img src="img/redtag/inventory/billboard-mini-6.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">153</h4>
                  <p class="redtag-inventory__name">ситиформата</p>
                </div>
              </div>
              <div class="redtag-inventory__card">
                <button class="redtag-inventory__button" data-image="img/redtag/inventory/billboard-7.png">
                  <img src="img/redtag/inventory/billboard-mini-7.png" alt="icon" class="redtag-inventory__button-icon">
                </button>
                <div class="redtag-inventory__card-info">
                  <h4 class="redtag-inventory__count">21</h4>
                  <p class="redtag-inventory__name">медиафасад</p>
                </div>
              </div>
            </div>
          </div>

          <div class="redtag-inventory__data">
            <div class="redtag-inventory__block">
              <img class="redtag-inventory__block-image" src="img/redtag/inventory/billboard-1.png" alt="image"/>
              <div class="redtag-inventory__data-info">
                <h3 class="redtag-inventory__block-count"></h3>
                <p class="redtag-inventory__block-name"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/content}}
{{/extend}}