{{#extend "about-layout"}}
    {{#content "main"}}



        <section class="about-team__page">
            <div class="container">
                <div class="about-team__page-content">
                    <div class="about-team__intro">
                        <div class="about-team__intro-image-wrapper">
                            <img src="img/ceo.webp" alt="" class="about-team__intro-image">
                        </div>
                        <div class="about-team__intro-text-content">
                            <h1 class="about-team__intro-heading">
                                Руководители медиагруппы «РИМ»
                            </h1>
                            <div class="about-team__intro-quote">
                                Мы привлекаем в команду лучших специалистов и талантов из медиасферы России.
                                Сейчас
                                в
                                штате более 300 человек, и с каждым днем нас становится все больше
                            </div>
                            <div class="about-team__ceo-info">
                                <div class="about-team__ceo-name">
                                    Илья Фомин
                                </div>
                                <div class="about-team__ceo-role">
                                    СЕО
                                </div>
                            </div>
                            <a href="#team-content" class="about-team__scroll-down">
                                <svg width="41" height="41" viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M19.7931 27.6295V10.9568H21.2069V27.6295L24.4988 24.3376C24.7749 24.0615 25.2224 24.0615 25.4985 24.3376C25.7746 24.6136 25.7746 25.0612 25.4985 25.3373L20.9998 29.8359C20.7238 30.112 20.2762 30.112 20.0001 29.8359L15.5015 25.3373C15.2254 25.0612 15.2254 24.6136 15.5015 24.3376C15.7775 24.0615 16.2251 24.0615 16.5012 24.3376L19.7931 27.6295Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="about-team__list-wrapper" id="team-content">
                        <ul class="about-team__list">
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/1.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Эльмира Капитанова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Исполнительный директор 
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/2.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Игорь Бандорин
                                    </h3>
                                    <div class="about-team__card-role">
                                        Исполнительный директор собственной сети
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/3.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Никита Мосеев
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор по федеральным продажам
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/4.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Игорь Бажан
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор по маркетингу
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/5.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Тимур Марданов
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор партнерской сети 
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/6.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Ярослав Швецов
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор службы цифровой трансформации
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/7.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Ольга Хуснутдинова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор по экономике и инвестициям
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/8.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Альбина Хафизова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель финансово-экономического отдела
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/9.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Лилия Мельникова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор по персоналу
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/10.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Алина Потапова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель отдела документооборота
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/11.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Даниил Нетесов
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель отдела продаж франчайзингового проекта
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/12.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Леонид Григоренко
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель отдела продаж РФ
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/13.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Владислав Афанасьев
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель отдела продаж Казань
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/14.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Наталья Магда
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель отдела продаж Пермь
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/15.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Дмитрий Шематонов
                                    </h3>
                                    <div class="about-team__card-role">
                                        Руководитель отдела продаж Уфа
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/16.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Анна Шабалина
                                    </h3>
                                    <div class="about-team__card-role">
                                        Исполнительный директор по закупкам «Red Tag»
                                    </div>
                                </a>
                            </li>

                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/17.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Олеся Попова
                                    </h3>
                                    <div class="about-team__card-role">
                                        Баинг-директор «Red Tag»
                                    </div>
                                </a>
                            </li>

                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/18.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Ксения Хозяева
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор «Brainstore Agency»
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/19.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Роман Петровский
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор «Mediastore Agency»
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/20.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Юлия Лазунина
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор «РИМ INDOOR» и «РИМ MEDIA»
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/21.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Анатолий Фролов
                                    </h3>
                                    <div class="about-team__card-role">
                                        Исполнительный директор «Экраниума»
                                    </div>
                                </a>
                            </li>
                            <li class="about-team__list-item">
                                <a href="#" class="about-team__card">
                                    <img src="img/about-team-page/22.webp" alt="" class="about-team__card-image">
                                    <div class="about-team__card-bg">

                                    </div>
                                    <h3 class="about-team__card-title">
                                        Даниил Проничев
                                    </h3>
                                    <div class="about-team__card-role">
                                        Директор «Bs Lab»
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="about-team__join">
                            <a href="#" class="about-team__join-link">
                                Хочу в команду!
                            </a>
                            <div class="about-team__join-text">
                                Мы гордимся своей командой и постоянно работаем над
                                повышением квалификации сотрудников. Оставляй заявку, если тоже хочешь быть частью
                                «РИМа»!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}