.chelyaba-intro {
    position: relative;
    isolation: isolate;
    margin-bottom: 18rem;
    z-index: 2;

    @include breakpoint(mobile) {
        margin-bottom: 10rem;
    }
}

.chelyaba-intro__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
    mask-image: linear-gradient(to top, transparent, black 20%, black 100%);
    @include breakpoint(mobile) {
        mask-image: linear-gradient(to top, transparent, black 20%, black 100%);
    }
}

.chelyaba-intro__content {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    padding-bottom: 12rem;
    min-height: 100vh;

    @include breakpoint(mobile) {
        padding-top: 9rem;
        min-height: calc(80vh - 6rem);
        min-height: calc(80svh - 6rem);
        padding-bottom: 0rem;
    }
}

.chelyaba-intro__text-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    @include breakpoint(mobile) {
        justify-content: flex-start;
    }
}

.chelyaba-intro__heading {
    text-wrap: balance;
    font-size: 5.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }

    b {
        font-weight: inherit;
        color: #ff5129;
    }
}

.chelyaba-intro__text {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-align: center;
    }
}

.chelyaba-intro__link {
    align-self: flex-start;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    color: white;
    padding: 1.2rem 6rem;
    border-radius: 51.3075rem;
    background: #fc3f1d;

    transition: box-shadow 0.2s, color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0rem 0rem 0.3618rem 0rem #ff5129, 0rem 0rem 2.1708rem 0rem #ff5129;
        }
    }

    @include breakpoint(mobile) {
        align-self: center;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        padding: 1.2rem 6rem;
        margin-top: auto;
    }
}

.chelyaba-clients {
    position: relative;
    z-index: 1;
    margin-bottom: 14rem;

    @include breakpoint(mobile) {
        margin-bottom: 10rem;
        br {
            display: none;
        }
    }
}

.chelyaba-clients__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 70%, transparent 100%);
}

.chelyaba-clients__content {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        min-height: 60rem;
    }
}

.chelyaba-clients__wrapper {
    position: relative;
}

.chelyaba-clients__heading {
    font-size: 8rem;
    font-style: italic;
    font-weight: 800;
    line-height: 110%;

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        font-style: italic;
        font-weight: 800;
        line-height: 110%;
    }

    b {
        color: #ff5129;
        font-weight: inherit;
    }
}

.chelyaba-clients__top-arrow {
    width: 54.5rem;
    height: auto;
    margin-left: 19rem;

    @include breakpoint(mobile) {
        margin: 0;
        position: absolute;
        top: 100%;
        left: 2.8rem;
        width: 10rem;
    }
}

.chelyaba-clients__bottom-arrow {
    width: 49.1rem;
    height: auto;
    margin-left: 30rem;

    @include breakpoint(mobile) {
        margin: 0;
        position: absolute;
        right: 0;
        top: 4.5rem;
        width: 11rem;
    }
}

.chelyaba-numbers {
    position: relative;
    z-index: 2;
    margin-bottom: 10rem;
}

.chelyaba-numbers__blur {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.chelyaba-numbers__content {
    display: flex;
    flex-direction: column;
}

.chelyaba-numbers__inner {
    width: 100%;
    margin: 0 auto;
    max-width: 90rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        max-width: none;
    }
}

.chelyaba-numbers__heading {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 3.5rem;
    text-align: center;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 3rem;
        text-align: center;
    }
}

.chelyaba-numbers__map {
    position: relative;
    aspect-ratio: 900 / 350;
    border-radius: 1.8rem;
    overflow: hidden;
    overflow: clip;
    margin-bottom: 2rem;
    background-color: #fff;
    width: 100%;

    @include breakpoint(mobile) {
        aspect-ratio: 360 / 180;
        border-radius: 1.5rem;
    }
}

.chelyaba-numbers__row {
    display: grid;
    grid-template-columns: 24.8fr 63fr;
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.chelyaba-numbers__types {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 4rem;
    border-radius: 2.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    overflow: clip;
    @include breakpoint(mobile) {
        border-radius: 1.5rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2rem;
    }
    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        z-index: -2;
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(25.481313705444336px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 2.5rem;
        border: 1px solid transparent;
        background: linear-gradient(to right top, #624f86, #ffedd4, #5229a1) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        @include breakpoint(mobile) {
            border-radius: 1.5rem;
        }
    }
}

.chelyaba-numbers__types-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(mobile) {
        gap: 0.8rem;
        &:nth-child(odd) {
            justify-self: flex-end;
        }
        &:nth-child(even) {
            justify-self: flex-start;
        }
    }
}

.chelyaba-numbers__types-card-amount {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 80%;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
    }
}

.chelyaba-numbers__types-card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        width: min-content;
    }
}

.chelyaba-numbers__formats {
    border-radius: 2.5rem;
    position: relative;
    z-index: 1;
    padding: 2.5rem;
    display: flex;
    align-items: flex-start;
    gap: 3.5rem;
    flex-wrap: wrap;
    row-gap: 4rem;
    padding-right: 5rem;
    overflow: hidden;
    overflow: clip;
    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 1.5rem;
        gap: 2rem;
        row-gap: 2rem;
        justify-content: center;
    }
    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        z-index: -2;
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(25.481313705444336px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 2.5rem;
        border: 1px solid transparent;
        background: linear-gradient(to right top, #624f86, #ffedd4, #5229a1) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        @include breakpoint(mobile) {
            border-radius: 1.5rem;
        }
    }
}

.chelyaba-numbers__formats-card {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

    @include breakpoint(mobile) {
        gap: 1rem;
        width: calc(50% - 2rem / 2);

        &:nth-child(4) {
            order: 20;
        }
    }
}

.chelyaba-numbers__formats-card-icon {
    height: 6.1rem;
    width: auto;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        height: 4rem;
    }
}

.chelyaba-numbers__formats-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include breakpoint(mobile) {
        gap: 0.6rem;
    }
}

.chelyaba-numbers__formats-card-amount {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 80%;
    white-space: nowrap;
    @include breakpoint(mobile) {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
    }
}

.chelyaba-numbers__formats-card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.chelyaba-formats {
    margin-bottom: 18.2rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        margin-bottom: 10rem;
        z-index: 3;
    }
}

.chelyaba-formats__blur {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    min-width: 100%;
    width: 192rem;
    margin-top: 40rem;
    @include breakpoint(mobile) {
        transform: translate(-50%, -50%) scale(1);
        width: 100%;
        margin-top: 0;
    }
}

.chelyaba-formats__content {
    display: flex;
    flex-direction: column;
}

.chelyaba-formats__heading {
    text-align: center;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 4rem;
    }
}

.chelyaba-formats__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;
    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: 2rem;
    }
}

.chelyaba-formats__list-item {
    display: flex;
    flex-direction: column;
}

.chelyaba-formats__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    border-radius: 2.5rem;
    overflow: hidden;
    overflow: clip;
    padding: 1px;

    @include breakpoint(mobile) {
        border-radius: 1.5rem;
        flex-direction: row;
        align-items: stretch;
    }
    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        z-index: -2;
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(25px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 2.5rem;
        border: 1px solid transparent;
        background: linear-gradient(to right top, #624f86, #ffedd4, #5229a1) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        @include breakpoint(mobile) {
            border-radius: 1.5rem;
        }
    }
}

.chelyaba-formats__card-image-container {
    position: relative;
    width: 100%;

    overflow: hidden;
    overflow: clip;

    @include breakpointMF(small-tablet) {
        aspect-ratio: 224 / 214;
        border-top-left-radius: 2.4rem;
        border-top-right-radius: 2.4rem;
    }

    @include breakpoint(mobile) {
        border-radius: 1.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 15rem;

        &::before {
            content: '';
            display: block;
            padding-bottom: 80%;
        }
    }
}

.chelyaba-formats__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chelyaba-formats__card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem 2.8rem;
    gap: 1.2rem;
    @include breakpoint(mobile) {
        width: 30%;
        flex-grow: 1;
        padding: 2rem;
        padding-left: 1.5rem;
    }
}

.chelyaba-formats__card-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;

    @include breakpoint(mobile) {
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
    }
}

.chelyaba-formats__card-text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}
.chelyaba-magnet {
    margin-bottom: 20rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        margin-bottom: 10rem;
    }
}

.chelyaba-magnet__blur {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
        height: auto;
        mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 70%, transparent 100%);
    }
}

.chelyaba-magnet__content {
    display: flex;
    flex-direction: column;
}

.chelyaba-magnet__heading {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 3rem;
    text-align: center;
    align-self: center;
    position: relative;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 2rem;
    }
    &::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        aspect-ratio: 262 / 223;
        width: 26.2rem;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../img/chelyaba/magnet-decor.svg');

        margin-top: -4rem;
        margin-left: -10rem;

        z-index: 15;

        @include breakpoint(mobile) {
            display: none;
        }
    }
    b {
        font-weight: inherit;
        color: #ff5129;
    }
}

.chelyaba-magnet__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 5rem;
    max-width: 65rem;
    align-self: center;
    text-align: center;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
        max-width: 30rem;
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.chelyaba-magnet__form {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    max-width: 110.4rem;
    align-self: center;

    @include breakpoint(mobile) {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        max-width: none;
        gap: 1.5rem;
    }
}

.chelyaba-magnet__form-fields {
    width: 30%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: flex-start;
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        width: 100%;
        max-width: 23rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
        align-self: center;
    }
}

.chelyaba-magnet__form-field {
    position: relative;
    z-index: 1;

    .parsley-errors-list {
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        left: 0;
        width: 100%;

        @include breakpoint(mobile) {
            position: static;
            text-align: center;
        }
    }
}

.chelyaba-magnet__form-label {
    display: block;
    position: relative;
    z-index: 1;
}

.chelyaba-magnet__form-field-border {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    border-radius: 10rem;
    overflow: hidden;
    overflow: clip;

    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        z-index: -2;
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(25px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 10rem;
        border: 1px solid transparent;
        background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.15), #fff, rgba(0, 0, 0, 0.15)) border-box;

        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.chelyaba-magnet__form-input {
    height: 5rem;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    z-index: 2;
    color: white;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    @include breakpoint(mobile) {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
    &::placeholder {
        color: rgba(white, 0.5);
    }
}

.chelyaba-magnet__form-submit {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding: 1.2rem 6rem;
    border-radius: 5rem;
    background: #fc3f1d;
    color: white;
    transition: color 0.2s, box-shadow 0.2s;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0rem 0rem 0.3618rem 0rem #ff5129, 0rem 0rem 2.1708rem 0rem #ff5129;
        }
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        padding: 1.2rem 6rem;
        align-self: center;
    }
}

.chelyaba-meteor {
    position: relative;
    z-index: 1;
    margin-bottom: 25rem;
    margin-top: 20rem;

    @include breakpoint(mobile) {
        margin-top: 0;
        padding-top: 17rem;
        margin-bottom: 27rem;
        z-index: 5;
    }
}

.chelyaba-meteor__image {
    bottom: -10rem;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
    position: absolute;
    mask-image: linear-gradient(to top, transparent 0%, black 20%, black 100%);

    @include breakpoint(mobile) {
        bottom: auto;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        mask-image: linear-gradient(to top, transparent 0%, black 20%, black 80%, transparent 100%);
        margin-top: -40rem;
    }
}

.chelyaba-meteor__text-content {
    display: flex;
    flex-direction: column;
    max-width: 56rem;

    @include breakpoint(mobile) {
        max-width: none;
    }
}

.chelyaba-meteor__heading {
    margin-bottom: 2rem;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;

    @include breakpoint(mobile) {
        text-align: center;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 2rem;
    }
    b {
        font-weight: inherit;
        color: #ff5129;
    }
}

.chelyaba-meteor__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 42rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        max-width: none;
        text-align: center;
        margin-bottom: 4rem;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.chelyaba-meteor__link {
    align-self: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 6rem;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    color: white;
    border-radius: 5rem;
    background: #fc3f1d;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0rem 0rem 0.3618rem 0rem #ff5129, 0rem 0rem 2.1708rem 0rem #ff5129;
        }
    }

    @include breakpoint(mobile) {
        align-self: center;
        font-size: 1.6897rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        padding: 0.8rem 4.26rem;
    }
}

.chelyaba-key {
    position: relative;
    z-index: 1;
    margin-bottom: 20rem;

    @include breakpoint(mobile) {
        margin-bottom: 10rem;
        z-index: 16;
    }
}

.chelyaba-key__image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: auto;
    position: absolute;
}

.chelyaba-key__content {
    display: flex;
    flex-direction: column;
}

.chelyaba-key__heading {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    max-width: 54rem;
    margin-bottom: 6.8rem;

    @include breakpoint(mobile) {
        max-width: none;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 3rem;
        text-align: center;
    }
}

.chelyaba-key__list {
    display: flex;
    align-items: flex-start;
    gap: 6rem;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 3rem;
        max-width: 28rem;
        width: 100%;
        align-self: center;
    }
}

.chelyaba-key__list-item {
    @include breakpointMF(small-tablet) {
        width: 22rem;
        &:nth-child(2) {
            width: 28rem;
        }

        &:nth-child(3) {
            width: 25rem;
        }
    }
}

.chelyaba-key__card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include breakpoint(mobile) {
        text-align: center;
    }
}

.chelyaba-key__card-title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        br {
            display: none;
        }
    }
    b {
        font-weight: inherit;
        font-style: italic;
        color: #ff5129;
    }
}

.chelyaba-key__card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.chelyaba-service {
    margin-bottom: 20rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        margin-bottom: 10rem;
        z-index: 20;
    }
}

.chelyaba-service__blur {
    display: none;

    @include breakpoint(mobile) {
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        pointer-events: none;
        display: block;
    }
}
.chelyaba-service__content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.chelyaba-service__decor {
    position: absolute;
    top: 0;
    width: 120%;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    height: auto;
    margin-top: -10rem;
    pointer-events: none;
    z-index: 2;
    max-width: none;
    opacity: 0.5;
    mix-blend-mode: overlay;

    @include breakpoint(mobile) {
        display: none;
    }
}

.chelyaba-service__heading {
    text-align: center;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 4rem;
    max-width: 70rem;
    align-self: center;

    @include breakpoint(mobile) {
        max-width: none;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 4rem;
    }
}

.chelyaba-service__cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(mobile) {
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.chelyaba-service__card-icon {
    position: absolute;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    z-index: 2;
}

.chelyaba-service__card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: white;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: #ff5129;
    }

    &:nth-child(1) {
        @include breakpointMF(small-tablet) {
            width: 27.65rem;
            aspect-ratio: 27.65 / 15;
            padding-top: 3rem;
            padding-left: 4.15rem;
            padding-right: 3rem;
            padding-bottom: 2rem;

            .chelyaba-service__card-icon {
                left: -1.8rem;
                top: -6.5rem;
            }

            &::before {
                clip-path: polygon(
                    8.318% 17.953%,
                    23.457% 0.765%,
                    23.457% 0.765%,
                    23.581% 0.634%,
                    23.708% 0.519%,
                    23.839% 0.419%,
                    23.973% 0.335%,
                    24.109% 0.267%,
                    24.248% 0.214%,
                    24.388% 0.177%,
                    24.53% 0.157%,
                    24.672% 0.153%,
                    24.815% 0.166%,
                    94.342% 10.542%,
                    94.342% 10.542%,
                    94.782% 10.689%,
                    95.182% 10.977%,
                    95.533% 11.39%,
                    95.831% 11.908%,
                    96.069% 12.513%,
                    96.242% 13.187%,
                    96.344% 13.911%,
                    96.368% 14.667%,
                    96.309% 15.435%,
                    96.16% 16.198%,
                    87.663% 49.054%,
                    87.663% 49.054%,
                    87.584% 49.4%,
                    87.524% 49.755%,
                    87.483% 50.115%,
                    87.461% 50.48%,
                    87.457% 50.846%,
                    87.472% 51.211%,
                    87.505% 51.573%,
                    87.557% 51.929%,
                    87.627% 52.278%,
                    87.716% 52.615%,
                    100% 94.14%,
                    100% 94.14%,
                    100.181% 94.949%,
                    100.259% 95.768%,
                    100.241% 96.576%,
                    100.134% 97.349%,
                    99.946% 98.065%,
                    99.684% 98.702%,
                    99.356% 99.236%,
                    98.97% 99.645%,
                    98.533% 99.908%,
                    98.052% 100%,
                    10.551% 100%,
                    10.551% 100%,
                    10.274% 99.969%,
                    10.006% 99.877%,
                    9.748% 99.728%,
                    9.505% 99.525%,
                    9.277% 99.27%,
                    9.068% 98.969%,
                    8.881% 98.622%,
                    8.717% 98.235%,
                    8.579% 97.809%,
                    8.47% 97.349%,
                    0.251% 55.582%,
                    0.251% 55.582%,
                    0.203% 55.308%,
                    0.167% 55.03%,
                    0.141% 54.75%,
                    0.127% 54.467%,
                    0.124% 54.183%,
                    0.132% 53.9%,
                    0.152% 53.619%,
                    0.182% 53.339%,
                    0.224% 53.064%,
                    0.277% 52.793%,
                    7.438% 19.87%,
                    7.438% 19.87%,
                    7.494% 19.636%,
                    7.558% 19.41%,
                    7.629% 19.192%,
                    7.707% 18.984%,
                    7.793% 18.785%,
                    7.886% 18.596%,
                    7.985% 18.418%,
                    8.09% 18.251%,
                    8.201% 18.096%,
                    8.318% 17.953%
                );
            }
        }

        @include breakpoint(mobile) {
            margin-right: auto;
            width: 33.1rem;
            aspect-ratio: 33.1 / 14.55;
            padding-top: 2.7rem;
            padding-left: 2.35rem;
            padding-right: 7rem;

            .chelyaba-service__card-icon {
                right: 1rem;
                top: -3.9rem;
            }

            &::before {
                clip-path: polygon(
                    0.087% 59.474%,
                    5.734% 6.636%,
                    5.734% 6.636%,
                    5.795% 6.2%,
                    5.879% 5.794%,
                    5.985% 5.419%,
                    6.11% 5.081%,
                    6.254% 4.782%,
                    6.414% 4.527%,
                    6.587% 4.317%,
                    6.773% 4.159%,
                    6.968% 4.053%,
                    7.172% 4.006%,
                    49.716% 0.339%,
                    98.956% 10.035%,
                    98.956% 10.035%,
                    99.307% 10.194%,
                    99.616% 10.508%,
                    99.878% 10.953%,
                    100.088% 11.504%,
                    100.242% 12.136%,
                    100.334% 12.824%,
                    100.361% 13.543%,
                    100.317% 14.27%,
                    100.198% 14.978%,
                    100% 15.645%,
                    78.19% 73.629%,
                    70.032% 98.59%,
                    70.032% 98.59%,
                    69.94% 98.845%,
                    69.838% 99.077%,
                    69.728% 99.285%,
                    69.61% 99.469%,
                    69.485% 99.627%,
                    69.354% 99.759%,
                    69.218% 99.863%,
                    69.078% 99.938%,
                    68.934% 99.984%,
                    68.787% 100%,
                    5.523% 100%,
                    5.523% 100%,
                    5.313% 99.968%,
                    5.111% 99.875%,
                    4.918% 99.724%,
                    4.737% 99.52%,
                    4.571% 99.266%,
                    4.421% 98.966%,
                    4.289% 98.623%,
                    4.178% 98.242%,
                    4.09% 97.826%,
                    4.027% 97.379%,
                    0.088% 61.07%,
                    0.088% 61.07%,
                    0.073% 60.912%,
                    0.061% 60.753%,
                    0.052% 60.594%,
                    0.047% 60.433%,
                    0.045% 60.273%,
                    0.047% 60.112%,
                    0.052% 59.951%,
                    0.06% 59.792%,
                    0.072% 59.632%,
                    0.087% 59.474%
                );
            }
        }
    }

    &:nth-child(2) {
        @include breakpointMF(small-tablet) {
            width: 36.45rem;
            aspect-ratio: 36.45 / 16.3;
            padding-top: 2.5rem;
            padding-left: 4.7rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            padding-right: 5rem;
            margin-left: -2rem;

            .chelyaba-service__card-icon {
                bottom: -4rem;
                right: 2rem;
                transform: rotate(10.178deg);
            }
            &::before {
                background-color: #3322b8;
                clip-path: polygon(
                    0.39% 41.838%,
                    8.926% 2.241%,
                    8.926% 2.241%,
                    9.002% 1.935%,
                    9.092% 1.653%,
                    9.195% 1.399%,
                    9.309% 1.172%,
                    9.434% 0.976%,
                    9.567% 0.811%,
                    9.709% 0.68%,
                    9.856% 0.585%,
                    10.01% 0.526%,
                    10.167% 0.506%,
                    60.744% 0.506%,
                    60.744% 0.506%,
                    60.893% 0.524%,
                    61.039% 0.577%,
                    61.18% 0.663%,
                    61.315% 0.781%,
                    61.444% 0.93%,
                    61.565% 1.108%,
                    61.677% 1.314%,
                    61.779% 1.547%,
                    61.87% 1.804%,
                    61.949% 2.085%,
                    67.136% 22.974%,
                    67.136% 22.974%,
                    67.204% 23.219%,
                    67.281% 23.447%,
                    67.367% 23.657%,
                    67.461% 23.847%,
                    67.562% 24.017%,
                    67.67% 24.165%,
                    67.784% 24.292%,
                    67.903% 24.394%,
                    68.027% 24.472%,
                    68.154% 24.525%,
                    93.793% 32.325%,
                    93.793% 32.325%,
                    93.934% 32.385%,
                    94.069% 32.475%,
                    94.199% 32.595%,
                    94.322% 32.743%,
                    94.438% 32.918%,
                    94.545% 33.117%,
                    94.642% 33.341%,
                    94.729% 33.586%,
                    94.805% 33.852%,
                    94.868% 34.137%,
                    100% 60.445%,
                    100% 60.445%,
                    100.053% 60.767%,
                    100.09% 61.096%,
                    100.109% 61.428%,
                    100.112% 61.762%,
                    100.099% 62.093%,
                    100.07% 62.42%,
                    100.024% 62.738%,
                    99.963% 63.044%,
                    99.887% 63.337%,
                    99.795% 63.612%,
                    90.365% 88.732%,
                    90.365% 88.732%,
                    90.296% 88.902%,
                    90.222% 89.058%,
                    90.144% 89.202%,
                    90.061% 89.332%,
                    89.974% 89.448%,
                    89.884% 89.55%,
                    89.79% 89.637%,
                    89.693% 89.708%,
                    89.594% 89.763%,
                    89.493% 89.802%,
                    55.784% 99.979%,
                    55.784% 99.979%,
                    55.756% 99.987%,
                    55.727% 99.994%,
                    55.699% 99.999%,
                    55.671% 100.003%,
                    55.643% 100.006%,
                    55.615% 100.007%,
                    55.587% 100.007%,
                    55.559% 100.006%,
                    55.531% 100.004%,
                    55.502% 100%,
                    13.079% 93.423%,
                    13.079% 93.423%,
                    12.94% 93.385%,
                    12.804% 93.318%,
                    12.674% 93.221%,
                    12.549% 93.096%,
                    12.43% 92.945%,
                    12.319% 92.768%,
                    12.216% 92.568%,
                    12.123% 92.344%,
                    12.039% 92.099%,
                    11.966% 91.834%,
                    0.421% 44.612%,
                    0.421% 44.612%,
                    0.364% 44.349%,
                    0.319% 44.078%,
                    0.286% 43.8%,
                    0.265% 43.518%,
                    0.255% 43.233%,
                    0.258% 42.948%,
                    0.273% 42.664%,
                    0.3% 42.383%,
                    0.339% 42.107%,
                    0.39% 41.838%
                );
            }
        }

        @include breakpoint(mobile) {
            margin-left: auto;
            width: 35.2rem;
            padding-left: 9rem;
            padding-top: 12rem;
            padding-right: 8rem;
            padding-bottom: 2rem;
            aspect-ratio: 35.2 / 30.35;
            margin-top: -7.5rem;
            position: relative;
            left: 2rem;

            .chelyaba-service__card-icon {
                right: 0;
                top: 14rem;
                transform: rotate(10.178deg);
            }

            &::before {
                background-color: #3322b8;
                clip-path: polygon(
                    63.863% 29.293%,
                    81.683% 0.869%,
                    81.683% 0.869%,
                    81.941% 0.548%,
                    82.238% 0.33%,
                    82.559% 0.211%,
                    82.89% 0.184%,
                    83.216% 0.246%,
                    83.522% 0.392%,
                    83.793% 0.616%,
                    84.016% 0.914%,
                    84.176% 1.282%,
                    84.257% 1.715%,
                    87.172% 37.667%,
                    87.172% 37.667%,
                    87.176% 37.719%,
                    87.178% 37.771%,
                    87.179% 37.823%,
                    87.178% 37.875%,
                    87.177% 37.927%,
                    87.173% 37.979%,
                    87.169% 38.03%,
                    87.163% 38.082%,
                    87.156% 38.133%,
                    87.147% 38.184%,
                    84.08% 55.048%,
                    84.08% 55.048%,
                    84.056% 55.23%,
                    84.048% 55.411%,
                    84.057% 55.592%,
                    84.082% 55.769%,
                    84.122% 55.941%,
                    84.178% 56.108%,
                    84.248% 56.267%,
                    84.333% 56.417%,
                    84.432% 56.556%,
                    84.544% 56.684%,
                    99.721% 72.168%,
                    99.721% 72.168%,
                    99.868% 72.342%,
                    99.99% 72.535%,
                    100.087% 72.744%,
                    100.157% 72.965%,
                    100.2% 73.194%,
                    100.216% 73.428%,
                    100.205% 73.664%,
                    100.165% 73.897%,
                    100.097% 74.125%,
                    100% 74.343%,
                    89.41% 94.429%,
                    89.41% 94.429%,
                    89.338% 94.554%,
                    89.258% 94.669%,
                    89.17% 94.774%,
                    89.074% 94.87%,
                    88.973% 94.956%,
                    88.865% 95.03%,
                    88.752% 95.094%,
                    88.634% 95.145%,
                    88.512% 95.185%,
                    88.387% 95.211%,
                    58.423% 99.988%,
                    58.423% 99.988%,
                    58.395% 99.993%,
                    58.366% 99.996%,
                    58.338% 99.999%,
                    58.31% 100.001%,
                    58.281% 100.002%,
                    58.253% 100.003%,
                    58.225% 100.003%,
                    58.196% 100.003%,
                    58.168% 100.002%,
                    58.14% 100%,
                    21.11% 97.193%,
                    21.11% 97.193%,
                    20.969% 97.174%,
                    20.832% 97.139%,
                    20.7% 97.089%,
                    20.572% 97.024%,
                    20.451% 96.945%,
                    20.337% 96.853%,
                    20.231% 96.748%,
                    20.133% 96.631%,
                    20.045% 96.502%,
                    19.968% 96.362%,
                    0.343% 56.948%,
                    0.343% 56.948%,
                    0.268% 56.776%,
                    0.211% 56.597%,
                    0.172% 56.413%,
                    0.15% 56.226%,
                    0.146% 56.038%,
                    0.16% 55.851%,
                    0.191% 55.666%,
                    0.24% 55.485%,
                    0.307% 55.31%,
                    0.39% 55.144%,
                    14.345% 30.722%,
                    14.345% 30.722%,
                    14.43% 30.588%,
                    14.525% 30.466%,
                    14.628% 30.356%,
                    14.74% 30.259%,
                    14.859% 30.175%,
                    14.985% 30.105%,
                    15.115% 30.05%,
                    15.25% 30.01%,
                    15.389% 29.986%,
                    15.531% 29.977%,
                    62.713% 29.977%,
                    62.713% 29.977%,
                    62.849% 29.97%,
                    62.981% 29.948%,
                    63.111% 29.911%,
                    63.236% 29.86%,
                    63.357% 29.797%,
                    63.473% 29.72%,
                    63.582% 29.631%,
                    63.684% 29.529%,
                    63.778% 29.417%,
                    63.863% 29.293%
                );
            }
        }
    }

    &:nth-child(3) {
        @include breakpointMF(small-tablet) {
            width: 47.2rem;
            aspect-ratio: 47.2 / 17.7;
            padding-top: 3.4rem;
            padding-left: 17rem;
            padding-right: 3.2rem;
            padding-bottom: 3rem;
            margin-left: -13rem;
            margin-top: -1rem;

            .chelyaba-service__card-icon {
                transform: rotate(-15.721deg);
                top: -2rem;
                right: -3.27rem;
            }

            &::before {
                background-image: url('../img/chelyaba/service.svg');
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.15);
                clip-path: polygon(
                    3.447% 20.342%,
                    0.26% 5.536%,
                    0.26% 5.536%,
                    0.146% 4.84%,
                    0.095% 4.133%,
                    0.102% 3.434%,
                    0.164% 2.764%,
                    0.274% 2.144%,
                    0.429% 1.593%,
                    0.624% 1.132%,
                    0.854% 0.782%,
                    1.115% 0.562%,
                    1.402% 0.494%,
                    93.124% 4.848%,
                    93.124% 4.848%,
                    93.288% 4.883%,
                    93.447% 4.972%,
                    93.598% 5.11%,
                    93.741% 5.295%,
                    93.873% 5.524%,
                    93.994% 5.794%,
                    94.101% 6.103%,
                    94.194% 6.446%,
                    94.27% 6.821%,
                    94.329% 7.225%,
                    100% 55.287%,
                    100% 55.287%,
                    100.038% 55.696%,
                    100.056% 56.108%,
                    100.055% 56.518%,
                    100.035% 56.923%,
                    99.997% 57.316%,
                    99.941% 57.695%,
                    99.868% 58.055%,
                    99.778% 58.391%,
                    99.673% 58.699%,
                    99.552% 58.975%,
                    79.43% 99.312%,
                    79.43% 99.312%,
                    79.356% 99.449%,
                    79.279% 99.572%,
                    79.2% 99.68%,
                    79.117% 99.773%,
                    79.033% 99.85%,
                    78.947% 99.912%,
                    78.86% 99.959%,
                    78.771% 99.989%,
                    78.681% 100.003%,
                    78.591% 100%,
                    23.812% 93.322%,
                    23.812% 93.322%,
                    23.514% 93.196%,
                    23.25% 92.913%,
                    23.024% 92.495%,
                    22.841% 91.968%,
                    22.703% 91.355%,
                    22.616% 90.682%,
                    22.584% 89.972%,
                    22.611% 89.249%,
                    22.701% 88.538%,
                    22.859% 87.864%,
                    29.738% 64.774%,
                    29.738% 64.774%,
                    29.819% 64.469%,
                    29.886% 64.146%,
                    29.938% 63.809%,
                    29.977% 63.461%,
                    30.001% 63.105%,
                    30.011% 62.744%,
                    30.005% 62.381%,
                    29.985% 62.021%,
                    29.95% 61.665%,
                    29.9% 61.317%,
                    24.826% 31.372%,
                    24.826% 31.372%,
                    24.766% 31.064%,
                    24.696% 30.776%,
                    24.615% 30.51%,
                    24.525% 30.268%,
                    24.427% 30.052%,
                    24.321% 29.862%,
                    24.208% 29.701%,
                    24.089% 29.569%,
                    23.964% 29.469%,
                    23.835% 29.402%,
                    4.382% 22.022%,
                    4.382% 22.022%,
                    4.265% 21.963%,
                    4.152% 21.877%,
                    4.043% 21.765%,
                    3.939% 21.628%,
                    3.84% 21.467%,
                    3.747% 21.284%,
                    3.661% 21.078%,
                    3.581% 20.852%,
                    3.51% 20.606%,
                    3.447% 20.342%
                );
            }
        }

        @include breakpoint(mobile) {
            margin-right: auto;
            width: 34.65rem;
            padding-top: 4.1rem;
            padding-left: 2.65rem;
            padding-bottom: 2rem;
            padding-right: 3.2rem;
            aspect-ratio: 34.65 / 17.95;
            padding-right: 10rem;

            .chelyaba-service__card-icon {
                top: 0.5rem;
                right: 2.8rem;
                transform: rotate(-15.721deg);
            }
            &::before {
                background-image: url('../img/chelyaba/service-mobile.svg');
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.15);
                clip-path: polygon(
                    24.434% 4.368%,
                    63.297% 8.768%,
                    63.297% 8.768%,
                    63.331% 8.772%,
                    63.366% 8.773%,
                    63.4% 8.774%,
                    63.435% 8.773%,
                    63.469% 8.771%,
                    63.504% 8.768%,
                    63.538% 8.763%,
                    63.573% 8.757%,
                    63.607% 8.75%,
                    63.641% 8.741%,
                    94.453% 0.313%,
                    94.453% 0.313%,
                    94.728% 0.28%,
                    94.995% 0.329%,
                    95.25% 0.455%,
                    95.491% 0.652%,
                    95.712% 0.915%,
                    95.911% 1.239%,
                    96.083% 1.618%,
                    96.225% 2.048%,
                    96.332% 2.522%,
                    96.402% 3.036%,
                    100% 41.76%,
                    100% 41.76%,
                    100.021% 42.067%,
                    100.027% 42.374%,
                    100.019% 42.679%,
                    99.996% 42.98%,
                    99.96% 43.276%,
                    99.909% 43.564%,
                    99.846% 43.842%,
                    99.769% 44.109%,
                    99.679% 44.363%,
                    99.577% 44.602%,
                    90.186% 64.584%,
                    83.479% 81.124%,
                    83.479% 81.124%,
                    83.463% 81.164%,
                    83.447% 81.203%,
                    83.43% 81.241%,
                    83.413% 81.279%,
                    83.395% 81.317%,
                    83.377% 81.354%,
                    83.359% 81.39%,
                    83.341% 81.426%,
                    83.322% 81.462%,
                    83.303% 81.497%,
                    73.932% 98.552%,
                    73.932% 98.552%,
                    73.833% 98.718%,
                    73.728% 98.869%,
                    73.619% 99.004%,
                    73.504% 99.122%,
                    73.386% 99.224%,
                    73.264% 99.308%,
                    73.139% 99.374%,
                    73.011% 99.422%,
                    72.882% 99.452%,
                    72.75% 99.462%,
                    2.5% 100%,
                    2.5% 100%,
                    2.191% 99.95%,
                    1.902% 99.801%,
                    1.636% 99.563%,
                    1.397% 99.246%,
                    1.189% 98.858%,
                    1.018% 98.41%,
                    0.886% 97.91%,
                    0.799% 97.369%,
                    0.761% 96.795%,
                    0.776% 96.199%,
                    2.786% 67.799%,
                    2.786% 67.799%,
                    2.791% 67.715%,
                    2.796% 67.63%,
                    2.799% 67.544%,
                    2.801% 67.459%,
                    2.802% 67.374%,
                    2.802% 67.289%,
                    2.8% 67.204%,
                    2.798% 67.118%,
                    2.794% 67.033%,
                    2.79% 66.948%,
                    0.23% 25.559%,
                    0.23% 25.559%,
                    0.217% 25.112%,
                    0.236% 24.673%,
                    0.283% 24.248%,
                    0.358% 23.841%,
                    0.459% 23.458%,
                    0.584% 23.102%,
                    0.733% 22.78%,
                    0.903% 22.495%,
                    1.093% 22.252%,
                    1.302% 22.057%,
                    23.684% 4.606%,
                    23.684% 4.606%,
                    23.756% 4.553%,
                    23.828% 4.507%,
                    23.902% 4.467%,
                    23.977% 4.434%,
                    24.052% 4.407%,
                    24.128% 4.386%,
                    24.204% 4.372%,
                    24.28% 4.364%,
                    24.357% 4.363%,
                    24.434% 4.368%
                );
            }
        }
    }
}

.chelyaba-service__card-title {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 800;
    line-height: 110%;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        font-style: italic;
        font-weight: 800;
        line-height: 110%;
    }
}

.chelyaba-service__card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
