.cities-advantages {

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__body {
        position: relative;

        width: 100%;
        aspect-ratio: 1.43 / 1;

        @include breakpoint(portrait-tablet) {
            width: calc(100% + var(--content-padding) * 2);
            aspect-ratio: 0.64 / 1;
            margin-inline: calc(var(--content-padding) * -1) calc(var(--content-padding) * -1);
        }
    }

    &__title {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 20;

        width: 100%;
        transform: translateX(-50%);
        text-align: center;
    }

    &__image {
        position: absolute;
        inset: 0;
        top: 13rem;
        z-index: 10;

        img {
            display: block;
            width: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    &__subtitle {
        color: #FFF;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 125%;
        text-transform: uppercase;

        @include breakpoint(portrait-tablet) {
            font-size: 1.2rem;
        }
    }

    &__text {
        max-width: 34ch;

        color: #FFF;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 700;
        line-height: 125%;
        text-transform: uppercase;


        @include breakpoint(portrait-tablet) {
            font-size: 0.8rem;
        }
    }

    &__item {
        position: absolute;
        z-index: 30;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: -1;

            width: 170%;
            aspect-ratio: 2.4 / 1;
            transform: translate(-50%, -50%);

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            content: "";
        }

        &.cities-advantages__item--mass {
            top: 43%;
            left: 6%;

            transform: rotate(-6.705deg);

            &::before {
                transform: translate(-50%, -50%) rotate(6.705deg);

                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22457%22%20height%3D%22221%22%20viewBox%3D%220%200%20457%20221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M431.444%2087.1467L398.444%20145.147V165.147L431.444%20107.147V87.1467Z%22%20fill%3D%22url(%23paint0_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M53.9438%20185.647L25.9438%20114.647V134.647L53.9438%20205.647V185.647Z%22%20fill%3D%22url(%23paint1_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M398.444%20145.147L235.444%20195.147V215.147L398.444%20165.147V145.147Z%22%20fill%3D%22url(%23paint2_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M235.444%20195.147L53.9438%20185.647V205.647L235.444%20215.147V195.147Z%22%20fill%3D%22url(%23paint3_linear_113_3484)%22%2F%3E%0A%3Cg%20filter%3D%22url(%23filter0_d_113_3484)%22%3E%0A%3Cpath%20d%3D%22M25.9438%20114.647L50.9438%2053.6467L87.4438%2042.6467H199.944L287.944%2025.6467L329.444%2053.6467L408.444%2042.6467L431.444%2087.1467L398.444%20145.147L235.444%20195.147L53.9438%20185.647L25.9438%20114.647Z%22%20fill%3D%22%23FF5129%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22filter0_d_113_3484%22%20x%3D%220.943848%22%20y%3D%220.646729%22%20width%3D%22455.5%22%20height%3D%22219.5%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%2212.5%22%2F%3E%0A%3CfeComposite%20in2%3D%22hardAlpha%22%20operator%3D%22out%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%201%200%200%200%200%200.317647%200%200%200%200%200.160784%200%200%200%201%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_113_3484%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect1_dropShadow_113_3484%22%20result%3D%22shape%22%2F%3E%0A%3C%2Ffilter%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_113_3484%22%20x1%3D%22431.444%22%20y1%3D%22126.147%22%20x2%3D%22398.444%22%20y2%3D%22126.147%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FF892F%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FF892F%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_113_3484%22%20x1%3D%2253.9438%22%20y1%3D%22160.147%22%20x2%3D%2225.9438%22%20y2%3D%22160.147%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23290000%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23290000%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint2_linear_113_3484%22%20x1%3D%22398.444%22%20y1%3D%22180.147%22%20x2%3D%22235.444%22%20y2%3D%22180.147%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23EE4D00%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23EE4D00%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint3_linear_113_3484%22%20x1%3D%22235.444%22%20y1%3D%22200.397%22%20x2%3D%2253.9438%22%20y2%3D%22200.397%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23881500%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23881500%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }

            @include breakpoint(portrait-tablet) {
                top: 51%;
                left: 10%;
            }

            @include breakpoint(small-mobile) {
                top: 61%;
                left: 7%;
            }
        }

        &.cities-advantages__item--view {
            top: 70%;
            left: 30%;

            align-items: flex-end;

            transform: rotate(3.232deg);

            &::before {
                width: 145%;
                transform: translate(-50%, -50%) rotate(3.232deg);
                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22530%22%20height%3D%22228%22%20viewBox%3D%220%200%20530%20228%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M473.822%20195.628L381.242%20202.99L365.221%20214.961L457.8%20207.6L473.822%20195.628Z%22%20fill%3D%22url(%23paint0_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M381.242%20202.99L272.43%20173.238L256.408%20185.21L365.22%20214.961L381.242%20202.99Z%22%20fill%3D%22url(%23paint1_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M272.43%20173.238L151.465%20173.227L135.444%20185.198L256.409%20185.21L272.43%20173.238Z%22%20fill%3D%22url(%23paint2_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M151.466%20173.227L47.6964%20146.907L31.675%20158.879L135.444%20185.198L151.466%20173.227Z%22%20fill%3D%22url(%23paint3_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M47.6956%20146.907L25.2482%2090.033L9.2268%20102.004L31.6742%20158.879L47.6956%20146.907Z%22%20fill%3D%22url(%23paint4_linear_113_3484)%22%2F%3E%0A%3Cg%20filter%3D%22url(%23filter0_d_113_3484)%22%3E%0A%3Cpath%20d%3D%22M182.91%2080.0513L223.339%2050.3344L280.799%2025.0432L367.163%2044.2927L458.462%2041.0553L480.023%2085.8139L504.952%20126.566L473.822%20195.628L381.242%20202.99L272.43%20173.238L151.465%20173.226L47.6961%20146.907L25.2488%2090.0327L63.1659%2049.1577L182.91%2080.0513Z%22%20fill%3D%22%23FF5129%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22filter0_d_113_3484%22%20x%3D%220.248779%22%20y%3D%220.0432129%22%20width%3D%22529.703%22%20height%3D%22227.946%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%2212.5%22%2F%3E%0A%3CfeComposite%20in2%3D%22hardAlpha%22%20operator%3D%22out%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%201%200%200%200%200%200.317647%200%200%200%200%200.160784%200%200%200%201%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_113_3484%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect1_dropShadow_113_3484%22%20result%3D%22shape%22%2F%3E%0A%3C%2Ffilter%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_113_3484%22%20x1%3D%22335.32%22%20y1%3D%22237.303%22%20x2%3D%22364.961%22%20y2%3D%22276.971%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FF5218%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FF5218%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_113_3484%22%20x1%3D%22212.706%22%20y1%3D%22217.865%22%20x2%3D%22265.958%22%20y2%3D%22289.132%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23E51300%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23E51300%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint2_linear_113_3484%22%20x1%3D%2291.0594%22%20y1%3D%22218.363%22%20x2%3D%22134.405%22%20y2%3D%22276.373%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FF400D%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FF400D%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint3_linear_113_3484%22%20x1%3D%22-9.93322%22%20y1%3D%22189.969%22%20x2%3D%2239.8662%22%20y2%3D%22256.616%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23E81500%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23E81500%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint4_linear_113_3484%22%20x1%3D%22-0.551173%22%20y1%3D%22109.311%22%20x2%3D%2234.7626%22%20y2%3D%22156.571%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23C40005%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C40005%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }

            .cities-advantages__subtitle,
            .cities-advantages__text {
                max-width: 40ch;
                text-align: right;
            }

            @include breakpoint(portrait-tablet) {
                top: 81%;
                left: 22%;
            }

            @include breakpoint(small-mobile) {
                top: 89%;
                left: 17%;
            }
        }

        &.cities-advantages__item--local {
            top: 49%;
            left: 63%;

            transform: rotate(-6.7deg);


            &::before {
                width: 150%;
                transform: translate(-50%, -50%) rotate(6.7deg);
                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22545%22%20height%3D%22238%22%20viewBox%3D%220%200%20545%20238%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M158.164%20213H51.1963L62.6678%20229.384H169.636L158.164%20213Z%22%20fill%3D%22url(%23paint0_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M335.535%20192.353L158.164%20213L169.636%20229.383L347.006%20208.736L335.535%20192.353Z%22%20fill%3D%22url(%23paint1_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M487.255%20170.619L335.535%20192.353L347.007%20208.736L498.727%20187.002L487.255%20170.619Z%22%20fill%3D%22url(%23paint2_linear_113_3484)%22%2F%3E%0A%3Cpath%20d%3D%22M520%20147.798L487.255%20170.619L498.726%20187.002L531.472%20164.181L520%20147.798Z%22%20fill%3D%22url(%23paint3_linear_113_3484)%22%2F%3E%0A%3Cg%20filter%3D%22url(%23filter0_d_113_3484)%22%3E%0A%3Cpath%20d%3D%22M25%20102.157L45.7387%2049.9947H131.968L228.021%2025.0005L279.868%2059.7751L354.481%2049.9947L407.574%2083.6826L462.925%2070.9675L510.176%20102.157L520%20147.798L487.255%20170.619L335.535%20192.353L158.164%20213H51.1963L45.7387%20176.053L25%20102.157Z%22%20fill%3D%22%23FF5129%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22filter0_d_113_3484%22%20x%3D%220%22%20y%3D%220.000488281%22%20width%3D%22545%22%20height%3D%22238%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%2212.5%22%2F%3E%0A%3CfeComposite%20in2%3D%22hardAlpha%22%20operator%3D%22out%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%201%200%200%200%200%200.317647%200%200%200%200%200.160784%200%200%200%201%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_113_3484%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect1_dropShadow_113_3484%22%20result%3D%22shape%22%2F%3E%0A%3C%2Ffilter%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_113_3484%22%20x1%3D%2285.1634%22%20y1%3D%22261.51%22%20x2%3D%22156.94%22%20y2%3D%22211.252%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23A21E00%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23A21E00%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_113_3484%22%20x1%3D%22202.621%22%20y1%3D%22276.491%22%20x2%3D%22331.339%22%20y2%3D%22186.361%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23A92800%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23A92800%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint2_linear_113_3484%22%20x1%3D%22372.125%22%20y1%3D%22244.609%22%20x2%3D%22484.142%22%20y2%3D%22166.173%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23AA2B00%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23AA2B00%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint3_linear_113_3484%22%20x1%3D%22489.213%22%20y1%3D%22173.416%22%20x2%3D%22521.908%22%20y2%3D%22150.523%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23C55E00%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C55E00%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }

            .cities-advantages__text {
                max-width: 40ch;
            }

            @include breakpoint(portrait-tablet) {
                top: 63%;
                left: 63%;
            }

            @include breakpoint(small-mobile) {
                top: 69%;
                left: 53%;
            }
        }
    }
}
