.digital-shop {
    position: relative;
    z-index: 3;
}

.digital-shop__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    z-index: -1;
    transform: translate(-50%, -50%);
    max-width: none;
    height: auto;
    pointer-events: none;
}

.digital-shop__content {
    min-height: 80rem;
    @include breakpoint(mobile) {
        min-height: auto;
        padding-top: 45rem;
    }
}

.digital-shop__text-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 19rem;

    @include breakpoint(mobile) {
        padding: 0;
        gap: 2rem;
    }
}

.digital-shop__heading {
    text-wrap: balance;
    font-style: normal;
    font-weight: 800;
    font-size: 5.2rem;
    line-height: 5.3rem;
    max-width: 62rem;

    @include breakpoint(mobile) {
        text-align: center;
        max-width: none;
        font-style: normal;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 110%;
    }
}

.digital-shop__text {
    max-width: 46rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;

    @include breakpoint(mobile) {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 110%;
    }
}
