.installation {
    position: relative;
    z-index: 1;
    margin-bottom: 14rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.installation__bg-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include breakpoint(mobile) {
        margin-top: -12rem;
    }
}

.installation__content {
    display: flex;
    flex-direction: column;
}

.installation__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 5.2rem;
    line-height: 110%;
    margin-bottom: 5rem;
    max-width: 70rem;
    br {
        display: none;
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 110%;
        max-width: none;
        margin-bottom: 4rem;
        br {
            display: block;
        }
    }

    b {
        font-weight: inherit;
        color: #ff5129;
    }
}

.installation__list {
    vertical-align: top;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        br {
            display: none;
        }
    }
}

.installation__list-item {
    @include breakpointMF(small-tablet) {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 2rem;
        margin-right: 2rem;
        &:nth-of-type(1) {
            width: 53.6rem;
        }
        &:nth-of-type(2) {
            width: 42.6rem;
        }
        &:nth-of-type(3) {
            width: 41.8rem;
        }
        &:nth-of-type(4) {
            width: 61.2rem;
        }
    }
    @include breakpoint(mobile) {
        &:nth-of-type(1) {
            max-width: 33rem;
        }
        &:nth-of-type(2) {
            max-width: 28.5rem;
        }
        &:nth-of-type(3) {
            max-width: 100%;
        }
        &:nth-of-type(4) {
            max-width: 28.5rem;
        }
    }
}

.installation__card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 1.2rem;

    @include breakpoint(mobile) {
    }
}

.installation__card-heading {
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 110%;
    margin-bottom: 1.2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 110%;
    }
}

.installation__card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 110%;
    margin-bottom: 1.2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 110%;
    }
}

.installation__card-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.installation__card-list-item {
    padding-left: 1rem;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 110%;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 110%;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0.7rem;
        width: 0.6rem;
        height: 0.6rem;
        left: 0;
        background-image: url('../img/oon-list-arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include breakpoint(mobile) {
            top: 0.4rem;
        }
    }
}

.installation__callback {
    align-self: flex-start;
    padding: 1.2rem 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    background: #fc3f1d;
    border-radius: 52rem;
    color: white;
    line-height: 110%;
    margin-top: 5rem;
    position: relative;
    z-index: 10;

    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px 3.61801px #ff5129, 0px 0px 21.7081px #ff5129;
        }
    }

    @include breakpoint(mobile) {
        padding: 1rem 5rem;
        align-self: center;
        margin-top: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 110%;
        margin-top: 4rem;
        align-self: flex-start;
        padding-left: 2rem;
        padding-right: 2rem;
        align-self: stretch;
        text-align: center;
    }
}
