.location-bar {
    &__button {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        color: #FFF;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        cursor: pointer;

        &::before {
            width: 1.25em;
            height: 1.7rem;

            background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2218%22%20viewBox%3D%220%200%2013%2018%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M6.92762%200.615479C5.32206%200.617011%203.7827%201.2555%202.64739%202.3908C1.51209%203.5261%200.873605%205.06547%200.872072%206.67103C0.871555%207.32684%200.978557%207.9783%201.18882%208.59948C1.18969%208.61386%201.19283%208.62802%201.19814%208.64141C1.20961%208.67805%201.22362%208.71385%201.24006%208.74854C1.24938%208.77649%201.2587%208.80444%201.27267%208.83705C1.30062%208.90226%201.33323%208.98145%201.37515%209.06532C1.5087%209.38366%201.67085%209.68923%201.85959%209.97829V9.98294C2.54434%2011.2034%203.89053%2013.3461%206.51305%2017.1331C6.52382%2017.1528%206.53629%2017.1715%206.55031%2017.189C6.56469%2017.2101%206.58025%2017.2303%206.59689%2017.2496C6.6162%2017.2662%206.63642%2017.2818%206.65745%2017.2962L6.66211%2017.3008C6.68122%2017.3149%206.70147%2017.3274%206.72266%2017.3381C6.75212%2017.3531%206.78346%2017.364%206.81583%2017.3707C6.88919%2017.3893%206.96605%2017.3893%207.03941%2017.3707C7.07178%2017.364%207.10312%2017.3531%207.13258%2017.3381C7.1569%2017.3286%207.17907%2017.3143%207.19779%2017.2962C7.21882%2017.2818%207.23904%2017.2662%207.25835%2017.2496C7.27499%2017.2303%207.29055%2017.2101%207.30493%2017.189L7.30959%2017.1844C7.32208%2017.1684%207.333%2017.1512%207.34219%2017.1331C9.96471%2013.3461%2011.3109%2011.2033%2011.9956%209.98292C12.0003%209.98292%2012.0003%209.98292%2012.0003%209.97826C12.1858%209.68806%2012.3463%209.38263%2012.4801%209.06527C12.522%208.97677%2012.5546%208.90224%2012.5826%208.837C12.5965%208.8044%2012.6059%208.77645%2012.6152%208.7485C12.6316%208.7138%2012.6456%208.678%2012.6571%208.64136C12.6624%208.62797%2012.6656%208.61382%2012.6664%208.59944C12.8767%207.97826%2012.9837%207.32682%2012.9832%206.67103C12.9816%205.06547%2012.3431%203.5261%2011.2078%202.3908C10.0725%201.2555%208.53318%200.617011%206.92762%200.615479ZM7.5751%209.99226C7.5442%209.99614%207.51306%209.99769%207.48194%209.99692C7.34723%209.99803%207.21503%209.96043%207.10108%209.88859C6.98712%209.81674%206.8962%209.71369%206.83912%209.59166L6.22424%208.25478C6.15761%208.11748%206.04577%208.00729%205.90749%207.94269L4.54267%207.30919C4.46565%207.27477%204.39604%207.22573%204.33771%207.16479C4.26353%207.09039%204.20702%207.00028%204.17235%206.90111C4.13768%206.80194%204.12574%206.69624%204.13741%206.59184C4.15099%206.45699%204.20173%206.32855%204.28396%206.22081C4.3662%206.11308%204.47672%206.03028%204.60322%205.98163L8.74428%204.32799C8.8708%204.27538%209.00986%204.26058%209.14462%204.28538C9.27938%204.31019%209.40406%204.37353%209.50356%204.46774C9.60177%204.56366%209.6706%204.68561%209.70195%204.81927C9.7333%204.95293%209.72588%205.09276%209.68056%205.22235L8.18065%209.50316C8.13442%209.63246%208.05344%209.74653%207.94661%209.83281C7.83978%209.9191%207.71124%209.97427%207.5751%209.99226Z%22%20fill%3D%22%23FF5129%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M6.29465%207.08982C6.63938%207.25058%206.91645%207.52765%207.07721%207.87238L7.45918%208.69687L8.61905%205.39893L5.40961%206.67991L6.29465%207.08982Z%22%20fill%3D%22%23FF5129%22%2F%3E%0A%3C%2Fsvg%3E');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            content: "";
        }
    }

    &__popup {
        position: absolute;
        top: calc(100% + 2rem);
        left: 8rem;

        padding: 2rem;

        color: #FFF;
        border-radius: 1.5rem;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(50px);

    }

    &__popup-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6rem;
    }

    &__popup-text {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__popup-city {
        color: #FF5129;
        font-weight: 800;
    }

    &__popup-close {
        width: 1.8rem;
        height: 1.8rem;

        background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M1%201L15.9999%2015.9999%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M16%201L1.00006%2015.9999%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__popup-buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        margin-top: 1.5rem;
    }

    &__btn-error,
    &__btn-success {
        padding: 0.6rem 3rem;
        color: inherit;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        border-radius: 51.3rem;
        background: #FFF;
        transition: color 0.2s, box-shadow 0.2s;
    }

    &__btn-error {
        color: #08122C !important;
    }

    &__btn-success {
        color: #FFF;
        background-color: #fc3f1d;

        &:hover {
            box-shadow: 0px 0px 3.61801px #ff5129, 0px 0px 21.7081px #ff5129;
        }
    }

    &__modal {
        position: absolute;
        top: calc(100% + 2rem);
        left: 8rem;

        display: none;
        flex-direction: column;
        align-items: stretch;

        width: 55rem;
        max-width: 55rem;
        max-height: calc(100vh - 21rem);
        padding: 3rem 3.5rem;
        overflow: hidden;

        border-radius: 1.5rem;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(50px);
    }

    &__modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 2rem;
    }

    &__input {
        input {
            height: 2.6rem;

            padding: 0.75rem 2.5rem 0.75rem 1.5rem;
            border-radius: 3rem;
            border: 1px solid rgba(255, 255, 255, 0.25);

            color: #FFF;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;

            @include placeholder() {
                color: rgba(255, 255, 255, 0.25);
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }
    }

    &__modal-main {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 8rem;
        overflow: hidden;
    }

    &__modal-col {
        position: relative;

        flex: 1 1 auto;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 1px;

            width: 1px;
            background-color: #fff;
            height: 100%;
            content: "";
        }
    }

    &__modal-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        height: 100%;
        max-height: 100%;
        padding-right: 3rem;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            width: 4px;
            background-color: white;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    &__modal-item {
        &>a {
            color: #FFF;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }

    &.location-bar--close-all {

        .location-bar__modal,
        .location-bar__popup {
            display: none !important;
        }
    }

    &.location-bar--modal-open {
        .location-bar__popup {
            display: none !important;
        }

        .location-bar__modal {
            display: flex !important;
        }
    }
}
