.management-intro {
    position: relative;
    z-index: 1;
    margin-bottom: 45rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.management-intro__bg {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    pointer-events: none;
    width: 100%;
    min-width: 192rem;

    @include breakpoint(mobile) {
        min-width: auto;
    }
}

.management-intro__bg-image {
    display: block;
    width: 100%;
    height: auto;
}

.management-intro__content {
    display: flex;
    flex-direction: column;
    padding-top: 17.4rem;
    @include breakpoint(mobile) {
        padding-top: 10rem;
    }
}

.management-intro__heading {
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 4.7rem;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 17rem;
        text-align: center;
    }
}

.management-intro__quote {
    width: 64rem;
    padding: 4.5rem 8rem;
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    gap: 1.5rem;
    transform: rotate(-2deg);

    @include breakpoint(mobile) {
        padding: 2.8rem 3.8rem;
        font-size: 1.2898rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        gap: 1.2rem;
        width: auto;
        border-radius: 2.687rem;
        border: 0.0806rem solid rgba(255, 255, 255, 0.5);
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2.687rem);
    }
}

.management__quote-text {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    position: relative;

    @include breakpoint(mobile) {
        font-size: 1.2898rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &::before,
    &::after {
        content: '';
        width: 3.8195rem;
        height: 2.4105rem;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/management-quote.svg');
        pointer-events: none;

        @include breakpoint(mobile) {
            width: 2.0526rem;
            height: 1.2954rem;
        }
    }

    &::before {
        right: 100%;
        top: 0;
        margin-right: 0.8rem;
        margin-top: -0.8rem;

        @include breakpoint(mobile) {
            margin-right: 0.4rem;
            margin-top: -0.4rem;
        }
    }

    &::after {
        bottom: 0;
        left: 100%;
        margin-left: 0.8rem;
        margin-bottom: -0.8rem;

        @include breakpoint(mobile) {
            margin-left: 0.4rem;
            margin-bottom: -0.4rem;
        }
    }
}

.management-intro__quote-author {
    font-size: 2.2852rem;
    font-style: italic;
    font-weight: 800;
    line-height: 110%;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint(mobile) {
        gap: 0.5rem;
        font-size: 1.2281rem;
        font-style: italic;
        font-weight: 850;
        line-height: 110%;
    }

    & > * {
        padding-right: 1rem;
        border-right: 1px solid white;
        @include breakpoint(mobile) {
            padding-right: 0.5rem;
        }
        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}
