.new-main-news {
    padding-top: 20rem;

    @include breakpoint(mobile) {
        padding-top: 12rem;
        position: relative;
        z-index: 2;
    }
}

.new-main-news__content {
    display: flex;
    flex-direction: column;
}

.new-main-news__toggle {
    margin-bottom: 7rem;
    padding: 0.8rem;
    border: 1px solid #ffffff;
    border-radius: 100rem;
    align-self: flex-start;

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
        align-self: center;
    }
}

.new-main-news__toggle-btn {
    flex-shrink: 0;
    width: 14rem;
    padding: 0.6rem;
    color: rgba(white, 0.3);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    border-radius: 8rem;

    @include breakpoint(mobile) {
        width: 11rem;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
        padding: 0.5rem;
    }
    &.active {
        background: #fc3f1d;
        color: white;
    }
}

.new-main-news__content {
    display: flex;
    flex-direction: column;
}

.new-main-news__slider {
    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        @include breakpoint(mobile) {
            width: 100%;
            margin: 0 2rem;
        }
    }
}

.new-main-news__slider-card {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    border-radius: 1.7rem;
    overflow: hidden;
    padding: 1.5rem;
    flex-grow: 1;
    filter: blur(6.5px);
    transition: filter 0.5s;

    .swiper-slide-active &,
    .swiper-slide-next & {
        filter: blur(0);
    }

    @include breakpoint(mobile) {
        padding: 1rem;
    }

    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        z-index: -2;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 1.7rem;
        border: 1px solid transparent;
        background: linear-gradient(to right bottom, #624f86, #ffedd4, #5229a1) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.new-main-news__slider-card-image-container {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1.2rem;

    @include breakpoint(mobile) {
        margin-bottom: 0.8rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 60%;
    }
}

.new-main-news__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-main-news__slider-card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 110%;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 110%;
        margin-bottom: 0.4rem;
    }
}

.new-main-news__slider-wrapper {
    @include breakpoint(mobile) {
        position: relative;
        isolation: isolate;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 52.5rem;
            height: 15.6rem;
            background: #fc3f1d;
            opacity: 0.28;
            filter: blur(33.8705px);
            z-index: -1;
            pointer-events: none;
        }
    }
}

.new-main-news__slider-card-more {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 110%;
    gap: 0.9rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 110%;
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 2rem;
        height: 1.8rem;
    }
}

.new-main-news__slider-arrows {
    display: flex;
    align-items: center;
    margin-top: 7rem;
    gap: 3rem;

    @include breakpoint(mobile) {
        gap: 2.4rem;
        margin-top: 2.5rem;
        justify-content: center;
    }
}

.new-main-news__slider-arrow {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid white;
    transition: background-color 0.2s, border-color 0.2s;
    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: white;
        transition: fill 0.2s;
    }

    &.swiper-button-disabled {
        cursor: default;
    }

    &:not(.swiper-button-disabled) {
        @media (hover: hover) {
            &:hover {
                border-color: #ff5129;

                svg {
                    fill: #ff5129;
                }
            }
        }
    }
}

.new-main-news__tabs {
    position: relative;
}

.new-main-news__tabs-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    z-index: 5;

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
        z-index: 10;
        position: relative;
    }
}
