.new-main-regions {
    background-color: #08122c;
    color: white;

    padding-top: 13.5rem;
    padding-bottom: 13rem;
    background-image: url('../img/new-main/new-regions-map.svg');
    background-size: 148rem auto;
    background-repeat: no-repeat;
    background-position: center bottom -20rem;

    @include breakpoint(mobile) {
        padding-bottom: 6rem;
        background-size: 107rem auto;
        padding-top: 12.2rem;
        background-position: center bottom;
    }
}

.new-main-regions--contacts {
    padding-top: 4.2rem;
    position: relative;
    z-index: 85;
    margin-top: -20rem;

    @include breakpoint(mobile) {
        padding-top: 0;
        margin-top: 0;
    }
}

.new-main-regions__content {
    display: flex;
    flex-direction: column;
}

.new-main-regions__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 5.2rem;
    line-height: 110%;
    margin-bottom: 6rem;
    position: relative;
    z-index: 5;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 110%;
        margin-bottom: 3.7rem;
        text-align: center;
    }
}

.new-main-regions__list {
    column-count: 5;
    column-gap: 8rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        column-count: 2;
        column-gap: 4rem;
    }

    &::before {
        content: '';
        position: absolute;
        width: 177rem;
        height: 36rem;
        background: linear-gradient(180deg, #5229a1 32%, #1f49c4 100%);
        opacity: 0.8;
        filter: blur(250px);
        z-index: -1;
        pointer-events: none;

        @include breakpoint(mobile) {
            width: 18.7rem;
            height: 91rem;
            background: linear-gradient(180deg, #5229a1 32%, #1f49c4 100%);
            opacity: 0.5;
            filter: blur(150px);
            transform: translateX(-50%) translateY(-50%) rotate(-33.59deg);
            z-index: -1;
        }
    }
}

.new-main-regions__list-item {
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.new-main-regions__link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 130%;
    }

    @media (hover: hover) {
        &:hover {
            color: #ff5129;
        }
    }
}
