.new-main-intro {
    padding-top: 16.5rem;
    position: relative;

    @include breakpoint(mobile) {
        padding-top: 13rem;
    }

    &__overlay {
        width: 100%;
        background-image: url('../img/chiyo/digital-texture-min-2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        transform: scale(1.25);
        /*opacity: 0.7;*/
    }
}

.new-main-intro__content {
    display: flex;
    flex-direction: column;
}

.new-main-intro__row {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    position: relative;
    z-index: 2;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        display: contents;
    }
}

.new-main-intro__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 6.8rem;
    line-height: 116%;
    padding-right: 1.5rem;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        padding: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 116%;
        text-align: center;
        margin-bottom: 4rem;
        order: -5;
    }
}

.new-main-intro__text-content {
    padding-left: 3rem;
    position: relative;

    @include breakpoint(mobile) {
        padding: 0;
    }
    &::before {
        content: '';
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        background-color: rgba(white, 0.15);
        position: absolute;
        left: 0;
        height: 15.2rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.new-main-intro__slider {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7rem;
    isolation: isolate;

    @include breakpoint(mobile) {
        margin: 0;
        order: -3;
        margin-bottom: 5rem;
    }
    .swiper {
        overflow: visible;
    }

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 55rem;
        transition-timing-function: linear !important;
        /*width: 35rem;*/
        @media (max-width: 1600px) {
            width: 40rem;

            /*width: 30rem;*/
        }

        @include breakpoint(mobile) {
            width: 30rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 120rem;
        height: 9.6rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/new-intro/ellipse.svg');
        margin-top: 1rem;
        pointer-events: none;

        @include breakpoint(mobile) {
            width: 37.4rem;
            height: 4.1rem;
        }
    }
}

.new-main-intro__slider-blur {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 140%;
    left: 50%;
    height: auto;
    max-width: none;
    z-index: -1;
    pointer-events: none;

    @include breakpoint(mobile) {
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
    }
}

.new-main-intro__scroll-down {
    position: absolute;
    left: 50%;
    top: 100%;
    /*transform: translateX(-50%);
    width: 2.8rem;
    height: 5.7rem;*/
    margin-top: 3rem;
    /*background-image: url('../img/new-intro/scroll-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/

    @include breakpoint(mobile) {
        display: none;
    }
}

.new-main-intro__slider-card {
    position: relative;
    z-index: 1;
    border-radius: 1.4rem;
    overflow: hidden;
    padding: 0.5rem;

    transition: filter 0.5s;

    /*@include breakpointMF(small-tablet) {
        filter: blur(6.5px);
    }*/

    /*.swiper-slide-active &,
    .swiper-slide-next &,
    .swiper-slide-prev & {
        filter: blur(0);
    }*/
    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        z-index: -2;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(15px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 1.4rem;
        border: 1px solid transparent;
        background: linear-gradient(to right bottom, #624f86, #ffedd4, #5229a1) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.new-main-intro__slider-card-container {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        padding-bottom: 68%;
    }
}

.new-main-intro__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
}

.new-main-intro__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        margin-bottom: 5rem;
        text-align: center;
    }
}

.new-main-intro__wrapper {
    display: flex;
    align-items: center;
    gap: 1.3rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        gap: 2.6rem;
    }
}

.new-main-intro__link {
    display: block;
    text-align: center;
    flex-shrink: 0;
    padding: 1.2rem 6rem;
    border-radius: 10rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 110%;
    background-color: #fc3f1d;
    color: white;
    transition: color 0.2s, box-shadow 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px 3.61801px #ff5129, 0px 0px 21.7081px #ff5129;
        }
    }

    @include breakpoint(mobile) {
        padding: 1rem 5.5rem;
        text-align: center;
        align-self: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        background: #fc3f1d;
        border-radius: 51rem;
        line-height: 110%;
        order: -1;
    }
}

.new-main-intro__social-list {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @include breakpoint(mobile) {
        gap: 1rem;
    }
}

.new-main-intro__social-list-item {
    flex-shrink: 0;
}

.new-main-intro__social-link {
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    transition: filter 0.2s;

    @include breakpoint(mobile) {
        width: 3rem;
        height: 3rem;
    }

    @media (hover: hover) {
        &:hover {
            filter: drop-shadow(0px 0px 4.32px #ffffff);
        }
    }
}

.news-main-intro__social-link-icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mouse-wrap {
    display: inline-block;
    /*position: fixed;
    left: 50%;
    bottom: 100px;*/
    transform: translateX(-50%) scale(0.7);
    z-index: 100;
    transition: transform 0.6s;
    pointer-events: none;

    @include breakpoint(mobile) {
        display: none;
    }

    .scrolled & {
        transform: translateX(-50%) scale(0.7) translateY(200px);
        opacity: 0;
        transition: transform 0.6s, opacity 0.6s;
    }
}

.mouse {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    animation: nudgeMouse 5.5s ease-out infinite;
}

.mouse:after {
    content: '';
    background-color: #ffffff;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    animation: trackBallSlide 5.5s linear infinite;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateY(20px);
}

.mouse .frame {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.mouse .frame path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    opacity: 0.5;
}

.mouse .mouse-left,
.mouse .mouse-right {
    width: 50%;
    position: absolute;
    z-index: 2;
}

.mouse .mouse-right {
    right: 0;
}

.mouse .Animate-Draw {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    fill-opacity: 1;
}

.mouse .mouse-left .Animate-Draw {
    animation: DrawLine 5.5s ease-out infinite;
}

.mouse .mouse-right .Animate-Draw {
    animation: DrawLineBack 5.5s ease-out infinite;
}

/*Keyframes*/

@keyframes DrawLine {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    22% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    38% {
        stroke-dashoffset: 125;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    38.1% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 0;
    }
    48% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    64% {
        stroke-dashoffset: 125;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    64.1% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 0;
    }
    74% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    90% {
        stroke-opacity: 1;
        stroke-dashoffset: 125;
        stroke-dasharray: 120;
    }
    90.1% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 0;
    }
}

@keyframes DrawLineBack {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    22% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    38% {
        stroke-dashoffset: -114;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    38.1% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 0;
    }
    48% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    64% {
        stroke-dashoffset: -114;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    64.1% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 0;
    }
    74% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 1;
    }
    90% {
        stroke-opacity: 1;
        stroke-dashoffset: -114;
        stroke-dasharray: 120;
    }
    90.1% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120;
        stroke-opacity: 0;
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    22% {
        transform: translateY(0px) translateX(-50%);
    }
    38% {
        transform: translateY(9px) translateX(-50%);
    }
    48% {
        transform: translateY(0px) translateX(-50%);
    }
    64% {
        transform: translateY(9px) translateX(-50%);
    }
    74% {
        transform: translateY(0px) translateX(-50%);
    }
    90% {
        transform: translateY(9px) translateX(-50%);
    }
}

/*Text*/

@keyframes nudgeText {
    0% {
        transform: translateY(0) translateX(-50%) scaleY(1);
        opacity: 1;
    }
    22% {
        transform: translateY(0px) translateX(-50%) scaleY(1);
        opacity: 1;
    }
    38% {
        transform: translateY(5px) translateX(-50%) scaleY(0.9);
        opacity: 0.5;
    }
    48% {
        transform: translateY(0px) translateX(-50%) scaleY(1);
        opacity: 1;
    }
    64% {
        transform: translateY(5px) translateX(-50%) scaleY(0.9);
        opacity: 0.5;
    }
    74% {
        transform: translateY(0px) translateX(-50%) scaleY(1);
        opacity: 1;
    }
    90% {
        transform: translateY(5px) translateX(-50%) scaleY(0.9);
        opacity: 0.5;
    }
}

/*Mouse wheel*/
@keyframes trackBallSlide {
    0% {
        transform: translateY(20px) scale(1);
        opacity: 1;
    }
    22% {
        transform: translateY(20px) scale(1);
        opacity: 1;
    }
    26% {
        transform: translateY(30px) scale(0.9);
        opacity: 1;
    }
    34% {
        transform: translateY(55px) scale(0.1);
        opacity: 0;
    }
    41% {
        transform: translateY(30px) scale(0);
        opacity: 0.3;
    }
    48% {
        transform: translateY(20px) scale(1);
        opacity: 1;
    }
    52% {
        transform: translateY(30px) scale(0.9);
        opacity: 1;
    }
    60% {
        transform: translateY(55px) scale(0.1);
        opacity: 0;
    }
    67% {
        transform: translateY(30px) scale(0);
        opacity: 0.3;
    }
    74% {
        transform: translateY(20px) scale(1);
        opacity: 1;
    }
    78% {
        transform: translateY(30px) scale(0.9);
        opacity: 1;
    }
    86% {
        transform: translateY(55px) scale(0.1);
        opacity: 0;
    }
    93% {
        transform: translateY(30px) scale(0);
        opacity: 0.3;
    }
    100% {
        transform: translateY(20px) scale(1);
        opacity: 1;
    }
}
