.new-main-team {
    // background-color: #08122c;
    // color: white;
    position: relative;
    z-index: 2;

    @include breakpoint(mobile) {
        &::before {
            content: '';
            height: 101rem;
            width: 32.7rem;
            background: linear-gradient(180deg, #5229a1 32%, #1f49c4 100%);
            filter: blur(142.985px);
            transform: translateX(-50%) rotate(-18.21deg);
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
        }
    }
}

.new-main-team__content {
    display: flex;
    flex-direction: column;
}

.new-main-team__row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
    }
}

.new-main-team__text-content {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.new-main-team__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 5.2rem;
    line-height: 110%;

    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 110%;
        margin-bottom: 4rem;
    }
}

.new-main-team__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4rem;
    margin-bottom: 7rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
        margin: 0;
    }
}

.new-main-team__card {
    display: flex;
    flex-direction: column;
}

.new-main-team__card-number {
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 120%;
    color: #ff5129;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 120%;
        margin-bottom: 1.2rem;
    }
}

.new-main-team__card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    margin-bottom: 2.4rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 1.9rem;
    }
}

.new-main-team__card-dots {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    span {
        flex-shrink: 0;
        width: 0.9rem;
        height: 0.9rem;
        border: 1px solid white;
        border-radius: 50%;
        transition: background-color 0.2s, border-color 0.2s;

        &.filled {
            background-color: #ff5129;
            border-color: #ff5129;
        }
    }
}

.new-main-team__callback {
    display: flex;
    align-items: center;
    gap: 3.4rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        gap: 2rem;
        order: 20;
        margin-top: 4rem;
    }
}

.new-main-team__callback-link {
    display: block;
    text-align: center;
    flex-shrink: 0;
    padding: 1.2rem 5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    background: #fc3f1d;
    border-radius: 50rem;
    color: white;
    line-height: 110%;
    transition: box-shadow 0.2s, color 0.2s;

    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px 3.61801px #ff5129, 0px 0px 21.7081px #ff5129;
        }
    }

    @include breakpoint(mobile) {
        padding: 1rem 5.5rem;
        text-align: center;
        align-self: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 110%;
        background: #fc3f1d;
        border-radius: 51rem;

        order: -1;
    }
}

.new-main-team__callback-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    width: 30%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        flex-grow: 0;
        line-height: 120%;
        max-width: 27rem;
    }
}

.new-main-team__image-wrapper {
    grid-column: 4 / -1;
    align-self: center;
    transform-origin: left center;
    transform: scale(1.5) translateX(2rem);

    @include breakpoint(mobile) {
        transform: none;
        margin-top: 3.8rem;
    }
}

.new-main-team__image {
    display: block;
    width: 100%;
    height: auto;
}
