.new-companies {
    padding-top: 24rem;
    position: relative;
    z-index: 2;
    @include breakpoint(mobile) {
        padding-top: 14rem;
        position: relative;
        z-index: 11;
    }
}

.new-companies__content {
    display: flex;
    flex-direction: column;
    position: relative;
    isolation: isolate;

    @include breakpointMF(small-tablet) {
        &::before {
            content: '';
            width: 57rem;
            height: 177rem;
            top: 0;
            right: 100%;
            background: linear-gradient(180deg, #5229a1 32%, #1f49c4 100%);
            filter: blur(250px);
            transform: rotate(-18.21deg);
            position: absolute;
            z-index: -1;
            top: -75rem;
        }
    }

    @include breakpoint(mobile) {
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            pointer-events: none;
            width: 16.7rem;
            height: 51.7rem;
            background: linear-gradient(180deg, #5229a1 32%, #1f49c4 100%);
            filter: blur(73.049px);
            transform: rotate(11.31deg);
            bottom: 0;
            right: -7rem;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            pointer-events: none;
            width: 16.7rem;
            height: 51.7rem;
            background: linear-gradient(180deg, #5229a1 32%, #1f49c4 100%);
            filter: blur(73.049px);
            transform: rotate(-11.31deg);
            bottom: 0;
            left: -7rem;
        }
    }
}

.new-companies__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 5.2rem;
    line-height: 110%;
    margin-bottom: 5.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 110%;
        text-align: center;
        margin-bottom: 4.2rem;
    }
}

.new-companies__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    justify-content: center;

    @include breakpoint(mobile) {
        padding: 1.2rem;
        position: relative;
        z-index: 1;
        border-radius: 1.5rem;
        overflow: hidden;
        gap: 2.5rem;
        row-gap: 5rem;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            z-index: -2;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15px);
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 1.5rem;
            border: 1px solid transparent;
            background: linear-gradient(to right bottom, #624f86, #ffedd4, #5229a1) border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }
}

.new-companies__list-item {
    width: calc(20% - (2.4rem * 4 / 5));
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: auto;
        flex-basis: calc(33.33% - (2.8rem * 2 / 3));
    }
}

.new-companies__card {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        align-items: center;
        text-align: center;
    }

    @include breakpointMF(small-tablet) {
        flex-grow: 1;
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        overflow: hidden;
        padding: 0.5rem;
        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            z-index: -2;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15px);
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 1rem;
            border: 1px solid transparent;
            background: linear-gradient(to right bottom, #624f86, #ffedd4, #5229a1) border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

    @media (hover: hover) {
        &:hover {
            .new-companies__card-image {
                transform: scale(1.1);
            }
        }
    }
}

.new-companies__card-logo {
    display: none;
    @include breakpoint(mobile) {
        display: block;
        align-self: center;
        flex-shrink: 0;
        height: 2.8rem;
        width: auto;
        margin-bottom: 1rem;
        width: max-content;
        max-width: none;
    }
}

.new-companies__card-desktop-logo {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    height: 2.8rem;
    width: auto;
    z-index: 10;

    @include breakpoint(mobile) {
        display: none;
    }
}

.new-companies__card-image-container {
    position: relative;
    border-radius: 0.7rem;
    overflow: hidden;
    backface-visibility: hidden;

    @include breakpoint(mobile) {
        display: none;
    }

    &::before {
        content: '';
        display: block;
        padding-bottom: 131%;
    }
}

.new-companies__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.new-companies__card-content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 2.2rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.new-companies__card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 100%;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        display: none;
    }
}

.new-companies__card-role {
    font-style: normal;
    font-weight: 800;
    font-size: 1.15rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 100%;
        letter-spacing: 0;
        text-transform: none;
    }
}

.new-companies__bottom-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.new-companies__bottom-text {
    max-width: 70rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
}

.new-companies__link {
    display: block;
    text-align: center;
    flex-shrink: 0;
    padding: 1.2rem 6rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 110%;
    color: white;
    background-color: #fc3f1d;
    border-radius: 100rem;
    transition: color 0.2s, box-shadow 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px 3.61801px #ff5129, 0px 0px 21.7081px #ff5129;
        }
    }
}
