.performance-cases {
    position: relative;
    z-index: 6;
    margin-bottom: 16rem;

    @include breakpoint(mobile) {
        margin-bottom: 7rem;
    }
}

.performance-cases__content {
    display: flex;
    flex-direction: column;
}

.performance-cases__heading {
    text-align: center;
    font-size: 5.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 4rem;
    }
}

.performance-cases__list {
    grid-gap: 4rem;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));

    @include breakpoint(mobile) {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpointMF(small-tablet) {
        &--first {
            .performance-cases__list-item {
                &:nth-child(3) {
                    grid-column: span 2;
                }

                &:nth-child(4) {
                    grid-column: span 4;
                }
            }
        }
        &--second {
            .performance-cases__list-item {
                &:nth-child(4) {
                    grid-column: span 2;
                }

                &:nth-child(3) {
                    grid-column: span 4;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        &--first {
            .performance-cases__list-item {
                &:nth-child(1) {
                    grid-column: span 2;

                    .performance-cases__card {
                        min-height: 20rem;
                    }

                    .performance-cases__card-logo {
                        height: 4rem;
                    }
                }

                &:nth-child(4) {
                    grid-column: span 2;

                    .performance-cases__card {
                        min-height: 20rem;
                    }

                    .performance-cases__card-logo {
                        height: 4rem;
                    }
                }
            }
        }
        &--second {
            .performance-cases__list-item {
                &:nth-child(2) {
                    order: -1;
                    grid-column: span 2;

                    .performance-cases__card {
                        min-height: 20rem;
                    }
                    .performance-cases__card-logo {
                        height: 4rem;
                    }
                }

                &:nth-child(3) {
                    grid-column: span 2;
                    order: 50;

                    .performance-cases__card {
                        min-height: 20rem;
                    }
                    .performance-cases__card-logo {
                        height: 4rem;
                    }
                }
            }
        }
    }
}

.performance-cases__list-item {
    display: flex;
    flex-direction: column;
    grid-column: span 3;

    @include breakpoint(mobile) {
        grid-column: span 1;
    }
}

.performance-cases__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    min-height: 28rem;
    border-radius: 2rem;
    overflow: hidden;
    padding: 3rem 2.5rem;

    @include breakpoint(mobile) {
        min-height: 24.6rem;
        padding: 2rem 1rem;
        border-radius: 2rem;
        box-shadow: 0rem 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
    }
}

.performance-cases__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.performance-cases__card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
}

.performance-cases__card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.performance-cases__card-tag {
    display: block;
    text-align: center;
    padding: 0.3rem 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 500;
    line-height: 120%;
    border-radius: 10rem;
    border: 1px solid #fff;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 500;
        line-height: 120%;
        padding: 0.2rem 1rem;
    }
}

.performance-cases__card-text-content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.performance-cases__card-logo {
    height: 4rem;
    width: auto;
    object-fit: contain;
    margin-bottom: 0.5rem;
    align-self: flex-start;
    @include breakpoint(mobile) {
        height: 2.4rem;
    }
}

.performance-cases__card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-wrap: balance;
    margin-bottom: 2rem;
    max-width: 40rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        max-width: none;
        margin-bottom: 1rem;
    }
}

.performance-cases__card-platforms {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 0.4rem;
    }
}

.performance-cases__card-platform {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    border-radius: 10rem;
    border: 1px solid #fff;

    @include breakpoint(mobile) {
        padding: 0.2rem 0.4rem;
        gap: 0.4rem;
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 400;
        line-height: 120%;
    }
    img {
        flex-shrink: 0;
        width: 1.3rem;
        height: 1.3rem;
        fill: white;
        @include breakpoint(mobile) {
            width: 0.8rem;
            height: 0.8rem;
        }
    }
}

.performance-cases__find-solution {
    margin: 9rem 0;
    position: relative;
    @include breakpoint(mobile) {
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
    }
}

.performance-cases__find-solution-text {
    width: calc(50% - 2rem);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    @include breakpoint(mobile) {
        width: auto;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        text-align: center;
        order: 40;
    }
}

.performance-cases__find-solution-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    z-index: 20;
    width: calc(50% - 2rem);
    pointer-events: none;
    @include breakpoint(mobile) {
        transform: none;
        position: static;
        width: 100%;
        height: auto;
    }
}

.performance-cases__more {
    align-self: center;
    margin-top: 6rem;
    text-align: center;
    padding: 1.2rem 4rem;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    border-radius: 100rem;
    border: 0.2rem solid white;
    transition: filter 0.2s;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            filter: drop-shadow(0 0 0.792rem #fff) drop-shadow(0 0 0.396rem #fff);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 115%;
        margin-top: 2.5rem;
        padding: 0.5rem 2.4rem;
    }
}

.desktop-text {
    @include breakpoint(mobile) {
        display: none;
    }
}

.mobile-text {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.performance-cases__modal {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    z-index: 500;
    display: flex;
    flex-direction: column;
    padding: 3rem var(--content-padding);
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;

    @include breakpoint(mobile) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.performance-cases__modal-inner {
    width: 100%;
    max-width: 58rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background: #fff;
    overflow: hidden;
    margin: auto;
    flex-shrink: 0;
    position: relative;

    @include breakpoint(mobile) {
        border-radius: 1.2rem;
    }
}

.performance-cases__modal-close {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 0.2rem solid white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 30;

    @include breakpoint(mobile) {
        width: 3rem;
        height: 3rem;
        right: 1.5rem;
        top: 1.5rem;
    }
    svg {
        width: 1rem;
        height: 1rem;
        fill: white;
        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

.performance-cases__modal-top {
    display: flex;
    flex-direction: column;
    min-height: 21.5rem;
    padding: 2.5rem;
    position: relative;
    z-index: 1;
    gap: 0.5rem;

    @include breakpoint(mobile) {
        min-height: 18rem;
        padding: 1.5rem;
        gap: 0.5rem;
    }
}

.performance-cases__modal-image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.performance-cases__modal-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
}

.performance-cases__modal-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: auto;
}

.performance-cases__modal-tag {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.2rem 0.8rem;
    border-radius: 10rem;
    border: 0.2rem solid #fff;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 700;
        line-height: 120%;
        padding: 0.1rem 0.5rem;
    }
}

.performance-cases__modal-logo {
    height: 4.7rem;
    width: auto;
    max-width: 100%;
    align-self: flex-start;

    @include breakpoint(mobile) {
        height: 3.5rem;
    }
}

.performance-cases__modal-title {
    text-wrap: balance;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 105%;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 105%;
    }
}

.performance-cases__modal-bottom {
    padding: 2.5rem;
    color: black;
    padding-bottom: 4.5rem;

    @include breakpoint(mobile) {
        padding: 1.5rem;
        padding-bottom: 3rem;
    }
}

.performance-cases__modal-text-content {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    b {
        font-weight: 800;
    }

    p {
        margin-top: 2.5rem;

        @include breakpoint(mobile) {
            margin-top: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        margin-top: 2.5rem;

        @include breakpoint(mobile) {
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 800;
            line-height: 120%;
            margin-top: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    ul {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > li {
            position: relative;
            padding-left: 1.6rem;

            @include breakpoint(mobile) {
                padding-left: 1rem;
            }

            p {
                margin-top: 0.7rem;
                @include breakpoint(mobile) {
                    margin-top: 0.4rem;
                }
            }
            &::before {
                content: '•';
                transform: translateY(-50%);
                position: absolute;
                top: 0.35em;
                left: 0;
                font-size: 1.6em;

                @include breakpoint(mobile) {
                    font-size: 1.2em;
                    top: 0.45em;
                }
            }
        }
        &:first-child {
            margin-top: 0;
        }
    }
}
