.intro {
    position: relative;
    color: white;
}

.intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__content {
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    padding-top: 30rem;
    position: relative;
}

.intro__ball {
    position: absolute;
    pointer-events: none;
    bottom: -4.5rem;
    width: 12rem;
    height: auto;
    right: 100%;
    margin-right: 14.7rem;
    z-index: 20;
}

.intro__scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: background-color .2s;
    svg {
        width: 1.6rem;
        height: 1rem;
        fill: #DC4941;
        margin-top: 0.3rem;
        transition: fill .2s;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: #DC4941;
        svg {
            fill: white;
        }
    }
}

.intro__main-heading {
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.4rem;
}
