.page-footer {
    background: linear-gradient(139.2deg, #000000 1.7%, #5229a1 76.84%);
    color: white;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.page-footer__row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
}

.page-footer__col {
    display: flex;
    flex-direction: column;
}

.page-footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4.5rem;
}

.page-footer__link {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__copyright {
   
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: auto;
    margin-bottom: 1rem;
}

.page-footer__made-by {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #9a76e0;
    margin-top: auto;
    margin-bottom: 1rem;
    a {
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
}

.page-footer__social-list {
    display: flex;
    align-items: center;
}

.page-footer__social-list-item {
    margin-right: 2rem;
    flex-shrink: 0;
    &:last-child {
        margin-right: 0;
    }
}

.page-footer__social-link {
    width: 4rem;
    height: 4rem;
    display: block;
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: white;
    }
}

.page-footer__phone-link {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 4.5rem;
    
}
