.redtag-principles {
  padding: 10rem 0;
  overflow: hidden;
  position: relative;
  &__content {
    position: relative;
    z-index: 1;
  }

  &__shape {
    width: 100rem;
    height: 100rem;
    position: absolute;
    top: -10rem;
    right: -10rem;

    @include breakpoint(large-desktop) {
      top: -20rem;
      right: -20rem;
    }
  }

  &__upper {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
      margin-bottom: 4.8rem;
    }
  }

  &__link {
    color: #C20A26 !important;
    font-family: "DIN Pro", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.16px;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
      font-size: 1.2rem;
    }
  }

  &__title {
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 5.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    width: 100%;
    max-width: 120rem;

    @include breakpoint(large-desktop) {
      font-size: 4rem;
      max-width: 85rem;
    }

    @include breakpoint(mobile) {
      font-size: 3.2rem;
      max-width: 35.8rem;
    }
  }

  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, minmax(0, .35fr));
      row-gap: 2rem;
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: (500px)) {
      justify-items: center;
    }
  }

  &__card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2rem;
    max-width: 38.7rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
      max-width: 35.7rem;
    }
  }

  &__card-name {
    color: #F20D30;
    font-family: "Mont", sans-serif;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;

    @include breakpoint(tablet) {
      font-size: 3.2rem;
    }
  }

  &__card-text {
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 100%;
    max-width: 31.2rem;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }
  }
}

.container {
}