.redtag-ads {
  padding: 10rem 0;
  background-color: black;

  &__content {
  }

  &__title {
    color: white;
    font-family: "DIN Pro", sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 59.4px */
  }

  &__row {
    display: flex;
    column-gap: 2rem;
    align-items: flex-start;
    margin-top: 8.5rem;
  }

  &__card {
    position: relative;
    cursor: pointer;
  }

  &__card-wrapper {
    width: 30rem;
    min-height: 26rem;
    position: relative;
    padding: 2rem 0;
    transition: .6s ease all;
    border-radius: 2rem;
  }

  &__card.active {
    position: relative;
  }

  &__card.active > &__card-wrapper {
    background-color: #C20A26;
    border-radius: 2rem;
    padding-left: 2rem;
  }

  &__card.active:hover > &__card-wrapper {
    background-color: transparent;
    outline: .5rem solid #C20A26;
    box-shadow: 0px 0px 4px 0px rgba(194, 10, 38, 0.50), 0px 0px 8px 0px rgba(194, 10, 38, 0.50), 0px 0px 16px 0px rgba(194, 10, 38, 0.50), 0px 0px 32px 0px rgba(194, 10, 38, 0.50), 0px 0px 64px 0px rgba(194, 10, 38, 0.50), 0px 0px 128px 0px rgba(194, 10, 38, 0.50);
    animation: hoverEffect 5s linear infinite;
  }

  &__card.active > &__card-wrapper > * {
    opacity: 0;
  }

  &__card.active > &__card-wrapper > * {
    margin-top: 7rem;
  }
  &__card.active:hover > &__card-wrapper > * {
    margin-top: 4rem;
  }

  &__card.active:hover > &__card-wrapper > * {
    opacity: 1;
    transform: rotate(5deg);
  }

  &__card.active:hover > &__card-wrapper {

    border-radius: 2rem;
    transform: rotate(-5deg);

  }

  &__card.active > &__card-name {
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 3.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__card.active:hover > &__card-name {
    transition: .6s ease all;
    position: absolute;
    left: 1.9rem;
    top: 2rem;
    transform: translate(0, 0);
    color: #F20D30;
    font-family: "DIN Pro", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    z-index: 2;
  }

  &__card-name {
    transition: .6s ease all;
    position: absolute;
    left: 0rem;
    top: 2rem;
    color: #F20D30;
    font-family: "DIN Pro", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    z-index: 2;
  }

  &__card-text {
    margin-top: 4rem;
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    transition: .6s ease all;
  }
}

@keyframes hoverEffect {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(242, 13, 48, 0.7);
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}