.modal {
}

.js-modal {
}

.active {
}

.redtag-modal {
  width: 100%;
  max-width: 45rem;
  padding: 4.8rem 3.2rem;
  border-radius: 2rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
  }

  &__close {
    transition: .4s ease opacity;
    &:hover {
      opacity: .6;
    }
    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
  label {
    position: relative;

    .parsley-errors-list {
      color: #C20A26;
      position: absolute;
      bottom: 0;
      font-family: "DIN Pro", sans-serif;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 4rem;
    row-gap: 1rem;
  }

  &__title {
    color: #010101;
    text-align: center;
    font-family: "DIN Pro", sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__input {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background: #EDEDED;

    color: black;
    text-align: center;
    font-family: "DIN Pro", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;


    &::placeholder {
      color: #999;
      text-align: center;
    }
    margin-bottom: 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #999;
    text-align: justify;
    font-family: "DIN Pro", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 14.3px */

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    &:first-child {
      margin-top: 1.2rem;
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    background-color: #EDEDED;
    border-radius: .2rem;
  }

  &__checkbox input:checked ~ &__checkmark {
    background-color: #F20D30;
  }

  &__checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }

  &__checkbox input:checked ~ &__checkmark::after {
    display: block;
  }

  &__checkbox &__checkmark::after {
    left: .75rem;
    top: .35rem;
    width: .9rem;
    height: 1.4rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__checkbox-link {
    text-decoration: underline;
  }

  &__checkbox-link:hover {
    color: black;
  }


  &__checkbox-link {
  }

  &__button {
    margin: 0 auto;
    width: 30.6rem;
    height: 7.2rem;
    border-radius: 16.5rem;
    background: #C20A26;
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.686px;
    text-transform: uppercase;
  }
}

.js-close-modal {
}

.icon-cross {
}

.js-phone-input {
}