.redtag-line {
  margin-top: 10rem;
  height: fit-content;
  position: relative;
  z-index: 2;

  @include breakpoint(mobile) {
    margin-top: 0;
    z-index: 0;
    top: -25vw;
  }

  &__tape {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    transform: rotate(-5deg);

    img {
      width: auto;
      height: 100%;
      object-fit: cover;

      @include breakpoint(tablet) {
        width: 100%;
        height: auto;
        max-width: 22.8rem;
      }
    }
  }
}