.redtag-geography {
  width: 100%;
  background-color: black;
  position: relative;
  padding: 20rem 0;

  @include breakpoint(large-desktop) {
    padding-bottom:  15rem;
  }

  @include breakpoint(tablet) {
    padding-bottom: 10rem;
    padding-top: 5rem;
  }

  @include breakpoint(mobile) {
    padding: 5rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__shape {
    position: absolute;
    left: 0;
    top: 0;
    width: 104.2rem;
    height: 104.2rem;
  }

  &__map-wrapper {
    position: absolute;
    top: 20rem;
    right: 0;
    z-index: 1;
    @include breakpoint(large-desktop) {
      top: 30rem;
      transform: translateX(20rem);
    }

    @include breakpoint(laptop) {
      width: 80%;
      right: 5rem;
    }

    @include breakpoint(mobile) {
      position: relative;
      top: 2.5rem;
      right: 20rem;
      width: 120%;
    }
  }

  &__column {
    color: white;
  }

  &__icon {
    position: absolute;
    left: -1rem;
    width: 99.5rem;
    height: 17rem;

    @include breakpoint(large-desktop) {
      width: 75rem;
      height: 15rem;
    }

    @include breakpoint(tablet) {
      width: 65rem;
      height: 12.5rem;
      opacity: .6;
    }

    @include breakpoint(mobile) {
      width: 41.2rem;
      height: 7rem;
    }
  }

  &__block {
    position: relative;
    z-index: 1;
    padding-top: 5rem;

    @include breakpoint(large-desktop) {
      padding-top: 4rem;
    }
    @include breakpoint(tablet) {
      padding-top: 3rem;
    }
    @include breakpoint(mobile) {
      padding-top: 2rem;
    }
  }

  &__title {
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 5.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;

    @include breakpoint(large-desktop) {
      font-size: 5.4rem;
    }
    @include breakpoint(mobile) {
      font-size: 3.2rem;
    }
  }

  &__info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-top: 11.7rem;

    @include breakpoint(large-desktop) {
      margin-top: 8rem;
      row-gap: 2rem;
    }
    @include breakpoint(mobile) {
      margin-top: 3.2rem;
    }
  }

  &__list {
    position: relative;
    object-fit: cover;
  }

  &__list:nth-child(odd) >  &__list-title {
    color: #F20D30;

    font-family: "Mont", sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(194, 10, 38, 0.50), 0px 0px 8px rgba(194, 10, 38, 0.50), 0px 0px 16px rgba(194, 10, 38, 0.50), 0px 0px 32px rgba(194, 10, 38, 0.50), 0px 0px 64px rgba(194, 10, 38, 0.50), 0px 0px 128px rgba(194, 10, 38, 0.50);
    font-style: normal;
    text-transform: uppercase;
  }

  &__list-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12rem;
    font-weight: 800;
    line-height: .6;

    @include breakpoint(large-desktop) {
      font-size: 8rem;
    }
  }

  &__icon-title {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  &__list:nth-child(2) >  &__icon-title {
    @include breakpoint(large-desktop) {
      width: 50%;
    }
  }

  &__list:nth-child(4) >  &__icon-title {
    @include breakpoint(large-desktop) {
      width: 60%;
    }
  }


  &__text {
    color: #FFF;
    font-family: "DIN Pro", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    width: 100%;
    max-width: 29.6rem;
    margin-top: 2rem;

    @include breakpoint(large-desktop) {
      font-size: 1.8rem;
      margin-top: 1.5rem;
    }
    @include breakpoint(mobile) {
      font-size: 2.4rem;
    }
  }
}