$width-laptop: 6px;

.cross--std {
    div:first-child {
        width: 4px;
        background: #fff;
        height: 172px;

        @include breakpoint(laptop) {
            width: $width-laptop;
        }
    }

    div:last-child {
        width: 4px;
        height: 51px;
        background: #fff;
        transform: rotate(90deg);
        position: absolute;
        bottom: 2rem;

        @include breakpoint(laptop) {
            width: $width-laptop;
        }
    } 
}

.cross--sm {
    div:first-child {
        width: 2px;
        background: #fff;
        height: 74px;
    }

    div:last-child {
        width: 2px;
        height: 110px;
        background: #fff;
        transform: rotate(90deg);
        position: absolute;
        bottom: -16px;
    } 
}
