.gallery {
    padding-block: 5.5rem;

    &__wrapper {
    }

    &__title {
    }

    &__title-top {
        display: block;
        font-family: 'Gilroy', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 14rem;
        line-height: 90%;
        text-transform: uppercase;
        color: #fff;

        mix-blend-mode: overlay;

        text-align: start;

        @include breakpoint(small-tablet) {
            font-weight: 700;
            font-size: 40px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    &__title-bottom {
        display: block;
        font-family: 'Gilroy', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 9.3rem;
        line-height: 90%;
        text-transform: uppercase;
        color: #fff;

        mix-blend-mode: overlay;

        text-align: end;

        @include breakpoint(small-tablet) {
            font-style: italic;
            font-weight: 700;
            font-size: 27px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 3.1rem;

        @include breakpoint(mobile) {
            gap: 0.9rem;
        }
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.1rem;

        &:nth-child(2) {
            padding-top: 15.2rem;

            @include breakpoint(mobile) {
                padding-top: 4.4rem;
            }
        }

        &:nth-child(3) {
            padding-top: 9.7rem;

            @include breakpoint(mobile) {
                padding-top: 2.8rem;
            }
        }

        &:nth-child(4) {
            padding-top: 15.2rem;

            @include breakpoint(mobile) {
                padding-top: 4.4rem;
            }
        }

        @include breakpoint(mobile) {
            gap: 0.9rem;
        }
    }

    &__content-image {
        width: auto;
        height: 40rem;
        object-fit: cover;

        @include breakpoint(tablet) {
            height: 25rem;
        }

        @include breakpoint(mobile) {
            height: 17.7rem;
        }

        @include breakpoint(small-mobile) {
            height: 13.7rem;
        }
    }
}
