.dreams-scale {
    position: relative;
    padding-block: 10.5rem;

    &__image-overlay {
        position: absolute;
        left: 50%;
        top: 0;

        transform: translateX(-50%);
        z-index: -1;
    }

    &__title {
        font-family: "Gilroy", sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 6.5rem;
        line-height: 90%;
        color: #fff;

        width: 100%;
        max-width: 69.5rem;
    }

    &__container {
        width: 100%;
        max-width: 1540px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.75fr 1.1fr;

        @media screen and (max-width: 1441px) {
            grid-template-columns: 900px 500px
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: .65rem;
        
        counter-reset: item;
    }

    &__item {
        height: 9.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20rem;
        padding-right: 4rem;
        position: relative;

        counter-increment: item;

        &::before {
            content: '0'counter(item)'';
            display: block;
            position: absolute;
            left: 10rem;
            top: 2rem;

            font-family: "Gilroy", sans-serif;
            font-style: italic;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 110%;
            text-transform: uppercase;
            color: #fff;
        }
    }

    &__item-content {
    }

    &__item-title {
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: .9;
        text-transform: uppercase;
        color: #fff;

        margin-bottom: 1.1rem;
    }

    &__item-text {
        font-family: "Gilroy", sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: .9;
        color: #fff;
    }

    &__block-text {
        font-family: "Gilroy", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
        color: #fff;

        width: 100%;
        max-width: 28.3rem;

        margin-bottom: 1.5rem;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__block-button {
        border: .2rem solid #fff;
        border-radius: 2rem;
        padding-inline: 2rem;
        height: 3.5rem;

        font-family: "Gilroy", sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1;
        text-decoration: line-through;
        color: #fff;

        margin-bottom: .95rem;
    }

    &__block-image {
        background-image: url('../img/drims/scale/dreams-default.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        transition: .5s ease background-image;

        width: 49.5rem;
        height: 25rem;

        @media screen and (max-width: 1680px) {
            width: 47.5rem;
            height: 25rem;
        }

        @media (hover: hover) {
            &:hover {
                background-image: url('../img/drims/scale/dreams-hover.png');
            }
        }
    }
}
.js-dreams-scale-svg {
}
.vertical {
}
.large-horizontal {
}
.horizontal {
}
.container {
}
